{% load staticfiles deeplink_lot %}
<div class="section-area">
    <div class="block-table block-table_padd_20">
        <div class="block-table__cell col-md-6">
            <div class="block-table__inner bg-grey-2">
                <section class="b-presentation">

                    <a href="catalog-product.html"><img
                            src={% static "trendsetter/assets/media/components/b-presentation/b1.jpg" %}
                                    alt="goods"
                            class="b-presentation__img scrollreveal"/></a>

                </section>
                <!-- end b-presentation-->
            </div>
        </div>
        <div class="block-table__cell col-md-6">
            <div class="block-table__inner bg-grey-2">
                <section class="b-presentation b-presentation_img_left">

                    <a href="catalog-product.html"><img
                            src={% static "trendsetter/assets/media/components/b-presentation/b2.jpg" %}
                                    alt="goods"
                            class="b-presentation__img scrollreveal"/></a>

                </section>
                <!-- end b-presentation-->
            </div>
        </div>
    </div>
    <div class="block-table block-table_padd_20">
        <div class="block-table__cell col-md-4">
            <div class="block-table__inner bg-grey-2">
                <section class="b-presentation b-presentation_sm">

                    <a href="catalog-product.html"><img
                            src={% static "trendsetter/assets/media/components/b-presentation/bs-1.jpg" %}
                                    alt="goods"
                            class="b-presentation__img scrollreveal"/></a>

                </section>
                <!-- end b-presentation-->
            </div>
        </div>
        <div class="block-table__cell col-md-4">
            <div class="block-table__inner bg-grey-2">
                <section class="b-presentation b-presentation_sm">

                    <a href="catalog-product.html"><img
                            src={% static "trendsetter/assets/media/components/b-presentation/bs-2.jpg" %}
                                    alt="goods"
                            class="b-presentation__img scrollreveal"/></a>

                </section>
                <!-- end b-presentation-->
            </div>
        </div>
        <div class="block-table__cell col-md-4">
            <div class="block-table__inner bg-grey-2">
                <section class="b-presentation b-presentation_sm">

                    <a href="catalog-product.html"><img
                            src={% static "trendsetter/assets/media/components/b-presentation/bs-3.jpg" %}
                                    alt="goods"
                            class="b-presentation__img scrollreveal"/></a>

                </section>
                <!-- end b-presentation-->
            </div>
        </div>
    </div>
</div>