{% load staticfiles %}


<div id="main-slider" data-slider-width="1920px" data-slider-height="985px" data-slider-arrows="false"
     data-slider-buttons="false" class="main-slider slider-pro">
    <div class="sp-slides">
        <!-- Slide 1-->
        <div class="sp-slide"><img
                src={% static "trendsetter/assets/media/components/b-main-slider/bg-2.jpg" %} alt="slider"
                class="sp-image"/>
            <div class="container">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div data-width="100%" data-show-transition="left" data-hide-transition="left"
                             data-show-duration="800" data-show-delay="400" data-hide-delay="400"
                             class="main-slider__label sp-layer">up to 70% off
                        </div>
                        <h2 data-width="100%" data-show-transition="left" data-hide-transition="left"
                            data-show-duration="1200" data-show-delay="600" data-hide-delay="400"
                            class="main-slider__title sp-layer">Final Sale</h2>
                        <div data-width="100%" data-show-transition="left" data-hide-transition="left"
                             data-show-duration="2000" data-show-delay="1200" data-hide-delay="400"
                             class="sp-layer">
                            <ul class="main-slider__list list-inline">
                                <li><a href="catalog-list.html">MEN</a></li>
                                <li><a href="catalog-list.html">WOMEN</a></li>
                                <li><a href="catalog-list.html">ACCESSORIES</a></li>
                                <li><a href="catalog-list.html">GADGETS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 2-->
        <div class="sp-slide"><img
                src={% static "trendsetter/assets/media/components/b-main-slider/bg-1.jpg" %} alt="slider"
                class="sp-image"/>
            <div class="container">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div data-width="100%" data-show-transition="left" data-hide-transition="left"
                             data-show-duration="800" data-show-delay="400" data-hide-delay="400"
                             class="main-slider__label sp-layer"></div>
                        <div data-width="100%" data-show-transition="left" data-hide-transition="left"
                             data-show-duration="800" data-show-delay="400" data-hide-delay="400"
                             class="main-slider__label sp-layer">up to 70% off
                        </div>
                        <h2 data-width="100%" data-show-transition="left" data-hide-transition="left"
                            data-show-duration="1200" data-show-delay="600" data-hide-delay="400"
                            class="main-slider__title sp-layer">Final Sale</h2>
                        <div data-width="100%" data-show-transition="left" data-hide-transition="left"
                             data-show-duration="2000" data-show-delay="1200" data-hide-delay="400"
                             class="sp-layer">
                            <ul class="main-slider__list list-inline">
                                <li><a href="catalog-list.html">MEN</a></li>
                                <li><a href="catalog-list.html">WOMEN</a></li>
                                <li><a href="catalog-list.html">ACCESSORIES</a></li>
                                <li><a href="catalog-list.html">GADGETS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main-slider-->