
<!-- banner -->
<div class="page-head">
	<div class="container">
        {% if category %}
            <a href="{{ category.get_absolute_url }}"><h1>{{ category }}</h1></a>
        {% endif %}
    {% if query %}
    <h3>{{ query }}</h3>
    {% endif %}
	</div>
</div>
<!-- //banner -->