{% load staticfiles %}
<footer class="footer footer-type-1 bg-grey">
    <div class="footer__main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-4">
                    <div class="row">
                        <div class="col-sm-3">
                            <section class="footer-section">
                                {#                                <h3 class="footer-section__title">About</h3>#}
                                <ul class="footer__list list-unstyled">
                                    {#                                    <li><a href="about.html">About Us</a></li>#}
                                    {#                                    <li><a href="home.html">Careers</a></li>#}
                                    {#                                    <li><a href="home.html">International</a></li>#}
                                </ul>
                            </section>
                        </div>
                        <div class="col-sm-3">
                            <section class="footer-section">
                                {#                                <h3 class="footer-section__title">Support</h3>#}
                                <ul class="footer__list list-unstyled">
                                    {#                                    <li><a href="contact.html">Contact</a></li>#}
                                    {#                                    <li><a href="contact.html">Returns</a></li>#}
                                    {#                                    <li><a href="contact.html">Warranty</a></li>#}
                                    {#                                    <li><a href="contact.html">Help</a></li>#}
                                </ul>
                            </section>
                        </div>
                        <div class="col-sm-3">
                            <section class="footer-section">
                                {#                                <h3 class="footer-section__title">Legal</h3>#}
                                <ul class="footer__list list-unstyled">
                                    {#                                    <li><a href="privacy-policy.html">Privacy</a></li>#}
                                    {#                                    <li><a href="terms-of-use.html">Terms</a></li>#}
                                    {#                                    <li><a href="privacy-policy.html">Patents</a></li>#}
                                </ul>
                            </section>
                        </div>
                        <div class="col-sm-3">
                            <section class="footer-section">
                                {#                                <h3 class="footer-section__title">Other</h3>#}
                                <ul class="footer__list list-unstyled">
                                    {#                                    <li><a href="home.html">Account</a></li>#}
                                    {#                                    <li><a href="home.html">Newsletter</a></li>#}
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8">
                    <ul class="social-net list-inline">
                        {#                        <li class="social-net__item"><a href="facebook.com" class="social-net__link"><i#}
                        {#                                class="icon fa fa-facebook"></i></a></li>#}
                        {#                        <li class="social-net__item"><a href="twitter.com" class="social-net__link"><i#}
                        {#                                class="icon fa fa-twitter"></i></a></li>#}
                        {#                        <li class="social-net__item"><a href="pinterest-p.com" class="social-net__link"><i#}
                        {#                                class="icon fa fa-pinterest-p"></i></a></li>#}
                        {#                        <li class="social-net__item"><a href="vk.com" class="social-net__link"><i#}
                        {#                                class="icon fa fa-vk"></i></a></li>#}
                        {#                        <li class="social-net__item"><a href="vine.com" class="social-net__link"><i#}
                        {#                                class="icon fa fa-vine"></i></a></li>#}
                    </ul>
                    <!-- end social-list-->
                    <div class="copyright">© 2017 {{ SITE.name }} ® All Right Reserved</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end .footer-type-1-->