{% load staticfiles %}
<div class="header-bot">
    <div class="container">
        <div class="col-md-3 header-left">
          <a href="/"><h1 class="logo-domain">{{ SITE }}</h1></a>
        </div>
        <div class="col-md-9 header-middle">
            <form method="get" action="{% url 'search' %}">
                <div class="search">
                    <input type="search" name="q" value="Search" onfocus="this.value = '{{ query }}';"
                           onblur="if (this.value == '') {this.value = 'Search';}" required="">
                </div>
                <div class="sear-sub">
                    <input type="submit" value=" ">
                </div>
                <div class="clearfix"></div>
            </form>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
