<div data-canvas="container">
    <header class="header header-2 header-topbar-view header-normal-width navbar-fixed-top header-logo-black header-topbarbox-1-left header-topbarbox-2-right header-navibox-1-left header-navibox-2-right header-navibox-3-right">
        <div class="top-bar clearfix">
            <div class="header-topbarbox-1 clearfix">
                <div class="header-topbarbox__item btn-group">
                    <button type="button" data-toggle="dropdown" class="header-topbarbox__btn dropdown-toggle">
                        Русский<span class="caret"></span></button>
                    {#                    <ul role="menu" class="dropdown-menu">#}
                    {#                        <li><a href="#">language 1</a></li>#}
                    {#                        <li><a href="#">language 2</a></li>#}
                    {#                        <li><a href="#">language 3</a></li>#}
                    {#                    </ul>#}
                </div>
                {#                                <div class="header-topbarbox__item btn-group">#}
                {#                                    <button type="button" data-toggle="dropdown" class="header-topbarbox__btn dropdown-toggle">#}
                {#                                        USD / $<span class="caret"></span></button>#}
                {#                                    <ul role="menu" class="dropdown-menu">#}
                {#                                        <li><a href="#">currency 1</a></li>#}
                {#                                        <li><a href="#">currency 2</a></li>#}
                {#                                        <li><a href="#">currency 3</a></li>#}
                {#                                    </ul>#}
                {#                                </div>#}
                {#                                <div class="header-topbarbox__item header-topbarbox__item_bd-top">ORDER ONLINE OR CALL US 8 800#}
                {#                                    777-23-22#}
                {#                                </div>#}
            </div>
            <div class="header-topbarbox-2 clearfix">
                {#                <div class="header-topbarbox__item"><a href="home-1.html">#}
                {#                    <i class="icon fa fa-random"></i>compare<span class="badge">3</span></a>#}
                {#                </div>#}
                {#                <div class="header-topbarbox__item"><a href="home-1.html">#}
                {#                    <i class="icon fa fa-heart-o"></i>My favorites<span class="badge">8</span></a>#}
                {#                </div>#}
                <div class="header-topbarbox__item">
                    <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a>
                </div>
            </div>
        </div>

        {% include 'trendsetter/include/navbar.html' %}

    </header>
</div>