{% load menu_tags %}
<!-- ==========================-->
<!-- MOBILE MENU-->
<!-- ==========================-->
<div data-off-canvas="mobile-slidebar left overlay" class="mobile-slidebar ">
    <ul class="nav navbar-nav">
        {% root_menu_facet as root_menus %}


        <li><a href="/">Home</a></li>
        {% for root_menu in root_menus %}
            <li><a href="{{ root_menu.1.object.category.get_absolute_url }}">{{ root_menu.0 }}</a></li>
            {#        <li><a href="gallery-1.html">Portfolio</a></li>#}
            {#        <li><a href="blog-post.html">Blog</a></li>#}
            {#        <li><a href="contact.html">MOBILE MENU</a></li>#}
        {% endfor %}


    </ul>
</div>

{#                    {% endfor %}#}
