{% load menu_tags %}
<!-- ==========================-->
<!-- POPAP MENU-->
<!-- ==========================-->
<div class="wrap-fixed-menu" id="fixedMenu">
    <nav class="fullscreen-center-menu">
        <div class="menu-main-menu-container">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                {#                <li><a href="catalog-list.html">Shop</a></li>#}
                {#                <li><a href="gallery-1.html">Portfolio</a></li>#}
                {#                <li><a href="blog-post.html">Blog</a></li>#}
                {#                <li><a href="contact.html">POPAP MENU</a></li>#}
                {% root_menu_facet as root_menus %}


                {% for root_menu in root_menus %}
                    <li><a href="{{ root_menu.1.object.category.get_absolute_url }}">{{ root_menu.0 }}</a></li>
                    {#        <li><a href="gallery-1.html">Portfolio</a></li>#}
                    {#        <li><a href="blog-post.html">Blog</a></li>#}
                    {#        <li><a href="contact.html">MOBILE MENU</a></li>#}
                {% endfor %}

            </ul>
        </div>
    </nav>
    <button type="button" class="fullmenu-close"><i class="fa fa-times"></i></button>
</div>



