{% load staticfiles deeplink_lot menu_tags %}

<nav id="nav" class="navbar">
    <div class="container">
        <div class="header-navibox-1">
            <!-- Mobile Trigger Start-->
            <button class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button">
                <i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i>
            </button>
            <!-- Mobile Trigger End--><a href="/" class="navbar-brand scroll"><img
                src="{% static 'trendsetter/assets/media/general/logo.png' %}" alt="logo" class="normal-logo"/><img
                src="{% static 'trendsetter/assets/media/general/logo-dark.png' %}" alt="logo"
                class="scroll-logo hidden-xs"/></a>
        </div>
        <div class="header-navibox-3">
            <button class="js-toggle-screen toggle-menu-button hidden-xs"><i
                    class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i>
            </button>
            <a href="#" class="btn_header_search"><i class="fa fa-search"></i></a>
            {#            <div class="header-cart"><a href="#"><i aria-hidden="true"#}
            {#                                                    class="fa fa-shopping-cart"></i></a><span#}
            {#                    class="header-cart-count bg-primary">3</span></div>#}
        </div>
        <div class="header-navibox-2">
            <nav id="nav" class="navbar">
                <ul class="yamm main-menu nav navbar-nav hidden-xs">
                    <li><a href="/">Домой</a></li>

                    {% root_menu_facet as root_menus %}
                    {% for root_menu in root_menus %}

                        <li class="dropdown">
                            <a href="{{ root_menu.1.object.category.get_absolute_url }}" data-toggle="dropdown"
                               class="dropdown-toggle">{{ root_menu.0|truncatewords:4 }}
                                <b class="caret"></b></a>

                            <ul role="menu" class="dropdown-menu">
                                {% for nav_children in root_menu.1 %}
                                    {% if nav_children.2.object.category.get_absolute_url %}
                                        <li>
                                            <a href="{{ nav_children.2.object.category.get_absolute_url }}">{{ nav_children.0 }}</a>
                                        </li>
                                    {% endif %}

                                {% endfor %}
                            </ul>
                        </li>

                    {% endfor %}


                </ul>
            </nav>
        </div>
    </div>
</nav>