<div class="b-form-newsletter bg-grey">
    <form class="b-form-newsletter__form">
        <div class="b-form-newsletter__title">Newsletter</div>
        <input type="email" placeholder="Enter your email" required="required" class="form-control"/>
        <button class="btn btn-primary btn-effect">subscribe</button>
    </form>
</div>
<!-- end b-form-newsletter-->
