{% load i18n %}
{#<div class="text-right">#}
{#    <ul class="pagination">#}
{#        <li><a href="#">1</a></li>#}
{#        <li class="active"><a href="#">2</a></li>#}
{#        <li><a href="#">3</a></li>#}
{#        <li><a href="#">4</a></li>#}
{#        <li><a href="#">5</a></li>#}
{#    </ul>#}
{#</div>#}


{% if is_paginated %}
    <div class="pagination-grid text-right">
        <div class="pagination">
            {% if page_obj.has_previous %}
                <li class="previous"><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}">&laquo;</a>
                </li>
            {% else %}
                <li class="previous disabled"><a href="">&laquo;</a></li>
            {% endif %}
            {% if page_obj.paginator.num_pages > 1 %}

                {% if page_obj.has_previous %}

                    {% if page_obj.previous_page_number == 1 %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}">{{ page_obj.previous_page_number }}</a>
                            {#                            <a href="{{ base_url }}">{{ page_obj.previous_page_number }}</a>#}
                        </li>
                    {% else %}
                        <li>
                            <a href="?page=1{{ getvars }}">1</a>
                        </li>
                        {% if page_obj.previous_page_number != 2 %}
                            {% if page_obj.previous_page_number == 3 %}
                                <li>
                                    <a href="?page=2{{ getvars }}">2</a>
                                </li>
                            {% else %}
                                <li>
                                    <span>…</span>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}">{{ page_obj.previous_page_number }}</a>
                        <li>
                    {% endif %}
                {% endif %}

                <li class="active"><span>{{ page_obj.number }} <span class="sr-only">(current)</span></span></li>

                {% if page_obj.has_next %}
                    {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}{{ getvars }}">{{ page_obj.next_page_number }}</a>
                        </li>
                        {% if page_obj.next_page_number|add:"1" != page_obj.paginator.num_pages %}
                            {% if page_obj.next_page_number == page_obj.paginator.num_pages|add:"-2" %}
                                <li>
                                    <a href="?page={{ page_obj.paginator.num_pages|add:"-1" }}{{ getvars }}">{{ page_obj.paginator.num_pages|add:"-1" }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <span>…</span>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <li><a href="?page={{ page_obj.paginator.num_pages }}{{ getvars }}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                {% endif %}
            {% endif %}

            {% if page_obj.has_next %}
                <li class="next"><a
                        href="?page={{ page_obj.next_page_number }}{{ getvars }}">&raquo;</a>
                </li>
            {% else %}
                <li class="next disabled"><a href="">&raquo;</a></li>
            {% endif %}

        </div>
    </div>
{% endif %}