{% load deeplink_lot %}
{% load thumbnail %}


<section class="b-goods b-goods_mod-a">
    <div class="b-goods__inner"><a href='{{ result.object.main_foto.get_image }}'
                                   class="b-goods__img js-zoom-images">
        {% thumbnail result.object.main_foto.get_image "280x320" padding=True as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ result.object.get_image_alt }}"
{#        <img src="{{ result.object.main_foto.get_image }}"  alt="{{ result.object.get_image_alt }}"#}
            class="img-responsive"/>
        {% endthumbnail %}
    </a>
        <div class="b-goods__category">{{ result.object.category }}</div>
        {# TODO: Ссылка должна быть черной и менять цвет при наведение #}
        <h3 class="b-goods__name"><a class="b-goods__name"
                                     href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></h3>
        <div class="b-goods__price">{{ result.object.price }} {{ result.object.currency|default_if_none:"" }}</div>
        <div class="b-goods-links">
            <a href="{{ result.object.get_absolute_url }}" class="b-goods-links__item">
                <i class="icon fa fa-random"></i>
            </a>
            <a rel="nofollow" target="_blank" href="{% deeplink_lot result.object %}"
               class="b-goods-links__item b-goods-links__item_main">add to cart</a>
            <a rel="nofollow" target="_blank" href="{% deeplink_lot result.object %}" class="b-goods-links__item">
                <i class="icon fa fa-heart-o"></i>
            </a>
        </div>
    </div>
</section>
