{% load deeplink_lot %}
{% load thumbnail %}




<section class="b-goods b-goods_mod-a b-goods_3-col">
    <div class="b-goods__inner"><a href="{{ result.object.main_foto.get_image }}"
                                   class="b-goods__img js-zoom-images">
        {% thumbnail result.object.main_foto.get_image "280x320" crop="center" as im %}
        <img
            src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
{#            src="{{ result.object.main_foto.get_image }}"#}
            alt="{{ result.object.get_image_alt }}"
            class="img-responsive"/>
        {% endthumbnail %}
    </a>
        <div class="b-goods__wrap">
            <div class="b-goods__category">{{ result.object.category }}</div>
            <h3 class="b-goods__name">{{ result.object.name }}</h3>
            <div class="b-goods__description">{{ result.object.description|truncatechars:150 }}
            </div>
            <div class="b-goods__price">
                <del>{{ result.object.old_price|default_if_none:"" }}</del>
                {{ result.object.price }}
                {% if result.object.currency.short_name %}
                    {{ result.object.currency.short_name }}
                    {#                                                {% else %}#}
                    {#                                                    {{ result.object.currency }}#}
                {% endif %} </div>
            <div class="b-goods-links"><a href="{{ result.object.get_absolute_url }}"
                                          class="b-goods-links__item"><i
                    class="icon fa fa-random"></i></a><a rel="nofollow" target="_blank"
                                                         href="{% deeplink_lot result.object %}"
                                                         class="b-goods-links__item b-goods-links__item_main">add
                to cart</a><a href="{{ result.object.get_absolute_url }}" class="b-goods-links__item"><i
                    class="icon fa fa-heart-o"></i></a></div>
        </div>
    </div>
</section>
