{% load staticfiles %}
<div class="col-md-1">
    <div id="bx-pager" class="b-goods-carousel__thumb">
        {#        <a data-slide-index="0" href="" class="b-goods-carousel__thumb-link">#}
        {#            <img src="{% static 'trendsetter/assets/media/content/goods-carousel/thumbnails/1.jpg' %}"#}
        {#                 alt="foto" class="b-goods-carousel__thumb-img"/>#}
        {#        </a>#}
        {% for foto in object.fotos %}
            <a data-slide-index="{{ forloop.counter0 }}" href="" class="b-goods-carousel__thumb-link">
                <img src="{% if foto.image %}{{ foto.image.url }}{% else %}{{ foto.downloaded_from }}{% endif %}"
                     alt="foto" class="b-goods-carousel__thumb-img" width="78" height="78"/>
            </a>
        {% endfor %}
    </div>
</div>


<div class="col-md-6">
    <ul class="b-goods-carousel__main-img bxslider">
        {#        <li><img src="{% static 'trendsetter/assets/media/content/goods-carousel/main/1.jpg' %}" alt="foto"/></li>#}
        {% for foto in object.fotos %}
            <li><img src="{% if foto.image %}{{ foto.image.url }}{% else %}{{ foto.downloaded_from }}{% endif %}"
                     alt="foto"/></li>

        {% endfor %}
    </ul>
</div>