{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load deeplink_lot %}

{% block page %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block page_title %}
                <h1>
                    Мой профайл
                    <small>{{ user }}</small>
                </h1>
            {% endblock page_title %}
            <ol class="breadcrumb">
                <li><a href="{% url 'main_crm' %}"><i class="fa fa-dashboard"></i>{% trans 'Home' %}</a></li>
                <li class="active">{% trans 'Profile' %}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            {% block content_page %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title"></h3>
                            </div>
                            <div class="box-body">
                                <dl class="dl-horizontal">
                                    {% if user.first_name %}
                                        <dt>{% trans 'first name' %}</dt>
                                        <dd>{{ user.first_name|default_if_none:'' }}</dd>
                                    {% endif %}
                                    {% if user.last_name %}
                                        <dt>{% trans 'last name' %}</dt>
                                        <dd>{{ user.last_name|default_if_none:'' }}</dd>
                                    {% endif %}
                                    <dt>{% trans 'username' %}</dt>
                                    <dd>{{ user.username|default_if_none:'' }}</dd>
                                    <dt>{% trans 'email address' %}</dt>
                                    <dd>{{ user.email|default_if_none:'' }}</dd>
                                    <dt>{% trans 'verification code' %}</dt>
                                    <dd>{{ user.userprofile.verification_code|default_if_none:'' }}</dd>
                                    {% if user.is_staff %}
                                        <dt>{% trans 'staff status' %}</dt>
                                        <dd>{{ user.is_staff|default_if_none:'' }}</dd>
                                    {% endif %}
                                    <dt>{% trans 'date joined' %}</dt>
                                    <dd>{{ user.date_joined|default_if_none:'' }}</dd>
                                </dl>
                                {#                                <a href="{% url 'user_update' user.pk %}">#}
                                {#                                    <button type="submit"#}
                                {#                                            class="btn btn-info pull-right">{% trans 'Изменить' %}</button>#}
                                {#                                </a>#}
                            </div>


                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    {% trans 'Admitad API ключи' %}
                                </h3>
                            </div>
                            <div class="box-body">
                                <dl class="dl-horizontal">
                                    <dt>{% trans 'identifier' %}</dt>
                                    <dd>{{ user.userprofile.admitad_identifier|default_if_none:'' }}</dd>
                                    <dt>{% trans 'secret key' %}</dt>
                                    <dd>{{ user.userprofile.admitad_secret_key|default_if_none:'' }}</dd>
                                </dl>

                                <a href="{% url 'profile_update' %}">
                                    <button type="submit"
                                            class="btn btn-info pull-right">{% trans 'Изменить' %}</button>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Your Page Content Here -->
            {% endblock content_page %}
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}



{% block extra_script %}
    <script src='{% static "adminlte/crm_base.js" %}'></script>
{% endblock extra_script %}