{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block page_title %}
                <h1>
                    {{ object }}
                    <small>Редактирование</small>
                </h1>
            {% endblock page_title %}
            <ol class="breadcrumb">
                <li><a href="{% url 'main_crm' %}"><i class="fa fa-dashboard"></i>{% trans 'Home' %}</a></li>
                <li><a href="{% url 'profile' %}">{% trans 'Profile' %}</a></li>
                <li class="active">{% trans 'Edit profile' %}</li>
            </ol>
        </section>
        <section class="content">
            {% block content_page %}
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ object }}</h3>
                    </div>
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        {% include 'dashboard/include/form_fields.html' %}
                        <div class="box-footer">
                            <button type="submit" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-info pull-right">{% trans "Save" %}</button>
                        </div>
                    </form>
                </div>




                <!-- /.box -->
            {% endblock content_page %}
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}