{% extends 'dashboard/base/user_base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Registration Page' %} | {{ block.super }}
{% endblock title %}
{% block body_class %}class="register-page"{% endblock body_class %}
{% block content %}
    <div class="register-box">
        <div class="register-logo">
{#            <a href="/"><b>EVE</b>Portal</a>#}
        </div>

        <div class="register-box-body">
            {% if error %}
                <div class="alert alert-danger" role="alert">{% trans 'Username Already Registered' %}</div>
            {% endif %}
            <p class="login-box-msg">Register a new membership</p>
        {{ form.non_field_errors }}
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    {{ form.username.errors }}
                    <input type="text" class="form-control" placeholder="Username" name="username">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form.email.errors }}
                    <input type="email" class="form-control" placeholder="Email" name="email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form.password.errors }}
                    <input type="password" class="form-control" placeholder="Password" name="password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form.password2.errors }}
                    <input type="password" class="form-control" placeholder="Retype password" name="password2">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <a href="{% url 'login' %}" class="text-center">I already have a membership</a>
{#                        <div class="checkbox icheck">#}
{#                            <label>#}
{#                                <input type="checkbox"> I agree to the <a href="#">terms</a>#}
{#                            </label>#}
{#                        </div>#}
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div><!-- /.col -->
                </div>
            </form>

            {#        <div class="social-auth-links text-center">#}
            {#          <p>- OR -</p>#}
            {#          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using Facebook</a>#}
            {#          <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using Google+</a>#}
            {#        </div>#}

{#            <a href="{% url 'auth_login_user' %}" class="text-center">I already have a membership</a>#}
        </div><!-- /.form-box -->
    </div><!-- /.register-box -->
{% endblock content %}

{% block extra_script %}
    {% verbatim %}
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
    {% endverbatim %}
{% endblock extra_script %}

