{% extends "dashboard/base/user_base.html" %}
{% load bootstrap %}
{% load i18n static %}


{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

<div class="container" style="margin-top:150px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default panel-transparent">
            <div class="panel-body">
                <h1 class="text-center">{% trans 'Password reset success' %}</h1>

                <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>

                <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

            </div>
        </div>
    </div>
</div>

{% endblock %}

