{% extends "dashboard/base/user_base.html" %}
{% load bootstrap %}
{% load i18n static %}


{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}

<div class="container" style="margin-top:150px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default panel-transparent">
            <div class="panel-body">
                <h1 class="text-center">{% trans 'Password reset complete' %}</h1>

                <p class="text-center">{% trans "Your password has been set." %}</p>

                <a href="{{ login_url }}">
                    <button class="btn btn-lg btn-success btn-block">{% trans 'Log In' %}</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


