{% extends "dashboard/base/user_base.html" %}
{% load bootstrap %}
{% load i18n static %}


{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
<div class="container" style="margin-top:150px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default panel-transparent">
            <div class="panel-body">
                {% if validlink %}
                    <form class="form-signin" role="form" action="" method="POST">
                        {% csrf_token %}
                        {{ form |bootstrap }}
                        <div class="">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Change Password' %}</button>
                        </div>
                    </form>
                {% else %}

                    <h1>{% trans 'Password reset unsuccessful' %}</h1>

                    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

                    <a href="{% url 'password_reset' %}">{% trans 'I forgot my password' %}</a><br>

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

