{% extends "dashboard/base/user_base.html" %}
{% load bootstrap %}
{% load i18n static %}


{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

    <div class="container" style="margin-top:150px">
        <div class="col-md-4 col-md-offset-4">

            <div class="panel panel-default panel-transparent">
                <h1 class="page-header text-center">{% trans "Password reset" %}</h1>

                <div class="panel-body">
                    <form class="form-signin" role="form" action="" method="POST">
                        {% csrf_token %}
                        {#                    <h1 class="text-center">{% trans "Password reset" %}</h1>#}

                        <p class="text-center">{% trans "Forgotten your password? Enter your email below." %}</p>
                        {{ form|bootstrap }}
                        <div class="">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit">{% trans 'Reset Password' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}








