{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block page_title %}
                <h1>
                    {{ object }}
                    <small>Редактирование</small>
                </h1>
            {% endblock page_title %}
{#            <ol class="breadcrumb">#}
{#                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
{#                <li class="active">Here</li>#}
{#            </ol>#}
        </section>
        <section class="content">
            {% block content_page %}
           <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ object }}</h3>
                    </div>
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% include 'dashboard/include/form_fields.html' %}
                    <button type="submit" class="btn btn-info pull-right">{% trans "Save" %}</button>
                </form>
                </div>
                <!-- /.box -->
            {% endblock content_page %}
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}