{% extends "dashboard/base.html" %}
{% load i18n %}

{#{% load bootstrap %}#}
{% load staticfiles %}

{% block title %}{% trans 'Мои deeplink' %}{% endblock %}

{% block page_title %}{% trans 'Управление deeplink' %}{% endblock page_title %}
{% block extra_css %}

    <link rel="stylesheet" href={% static "adminlte/plugins/datatables/dataTables.bootstrap.css" %}>

{% endblock extra_css %}

{% block content %}

    <div class="box">
        <div class="box-header">
            <div class="text-right">
                {#                <a href="#">#}
                {#                    <button type="button" class="btn btn-success">{% trans 'Добавить домен' %}</button>#}
                {#                </a>#}

                {#                <button class="btn btn-success" data-toggle="modal" data-target="#myModal">#}
                {#                    {% trans 'Добавить deeplink' %}#}
                {#                </button>#}
                <a href="{% url 'deeplink_create' %}">
                    <button type="submit"
                            class="btn btn-info pull-right">{% trans 'Добавить' %}</button>
                </a>
            </div>
            <!-- Modal -->
            {#            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"#}
            {#                 aria-hidden="true">#}
            {#                <div class="modal-dialog">#}
            {#                    <div class="modal-content">#}
            {#                        <div class="modal-header">#}
            {#                            <button type="button" class="close" data-dismiss="modal"><span#}
            {#                                    aria-hidden="true">&times;</span><span#}
            {#                                    class="sr-only">Close</span></button>#}
            {#                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>#}
            {#                        </div>#}
            {#                        <div class="modal-body">#}
            {#                            Здесь как добавить deeplink#}
            {#                        </div>#}
            {#                        <div class="modal-footer">#}
            {#                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                            {#                                <button type="button" class="btn btn-primary">Save changes</button>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="api" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{% trans 'url' %}</th>
                    <th>{% trans 'site' %}</th>
                    <th>{% trans 'seller' %}</th>
                    <th>{% trans 'active' %}</th>
                    {% if user.is_superuser %}
                        <th>{% trans 'admitad_website' %}</th>
                        <th>{% trans 'seller_status' %}</th>
                    {% endif %}
                    <th>{% trans 'Action' %}</th>

                </thead>
                <tbody>

                {% for deeplink in object_list %}
                    <tr>
                        <td>{{ deeplink }}</td>
                        <td>{{ deeplink.site }}</td>
                        <td>{{ deeplink.seller }}</td>
                        <td>{{ deeplink.active }}</td>
                        {% if user.is_superuser %}
                            <th>{{ deeplink.site.user }}</th>
                            <th>{{ deeplink.seller_status }}</th>
                        {% endif %}

                        <td>
                            <a href="{% url 'deeplink_update' deeplink.pk %}">
                                <button type="button" class="btn btn-success"
                                        data-toggle="tooltip" data-placement="top" title="Изменить"><span
                                        class="fa fa-edit"></span></button>
                            </a>
                            <a href="{% url 'deeplink_delete' deeplink.pk %}">
                                <button type="button" class="btn btn-danger"
                                        data-toggle="tooltip" data-placement="top" title="Удалить"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->



{% endblock content %}

{% block extra_script %}
    <!-- DataTables -->
    <script src={% static "adminlte/plugins/datatables/jquery.dataTables.min.js" %}></script>
    <script src={% static "adminlte/plugins/datatables/dataTables.bootstrap.min.js" %}></script>
    <!-- SlimScroll -->
    <script src={% static "adminlte/plugins/slimScroll/jquery.slimscroll.min.js" %}></script>
    <!-- FastClick -->
    <script src={% static "adminlte/plugins/fastclick/fastclick.min.js" %}></script>
    <!-- AdminLTE App -->
    <script src={% static "adminlte/dist/js/app.min.js" %}></script>
    <!-- AdminLTE for demo purposes -->
    <script src={% static "adminlte/dist/js/demo.js" %}></script>

    {% verbatim %}
    <script>
        $(function () {
            $("#api").DataTable(
                {
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                }
            );

        });
    </script>
    {% endverbatim %}

{% endblock extra_script %}