{% load staticfiles %}
{% load googleanalytics %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Интернет магазин {{ SITE.name }}{% endblock title %}</title>
    <link href='{% static "pakhi/css/bootstrap.css" %}' rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src='{% static "pakhi/js/jquery.min.js" %}'></script>
    <!-- Custom Theme files -->

    <link href='{% static "pakhi/css/style.css" %}' rel="stylesheet" type="text/css" media="all"/>
    <link href='{% static "pakhi/css/form.css" %}' rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block meta_extra %}{% endblock meta_extra %}
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>


    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
          rel='stylesheet' type='text/css'>
    <!-- dropdown -->

    <script src='{% static "pakhi/js/jquery.easydropdown.js" %}'></script>

    <link href='{% static "pakhi/css/nav.css" %}' rel="stylesheet" type="text/css" media="all"/>

    <script type="text/javascript" src='{% static "pakhi/js/hover_pack.js" %}'></script>
    <link rel="stylesheet" href='{% static "pakhi/css/etalage.css" %}'>
    <script src='{% static "pakhi/js/jquery.etalage.min.js" %}'></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 800,
                source_image_height: 1000,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1200);
            });
        });
    </script>



    {% block script_extra %}
    {% endblock script_extra %}
</head>
<body>

{% include 'pakhi/include/navbar.html' %}
{% block banner %}
{% endblock banner %}



{% block content %}
{% endblock content %}

{% block banner_footer %}
{% endblock banner_footer %}
{#{% include 'pakhi/include/subscribe-section.html' %}#}
{#{% include 'pakhi/include/contact-section.html' %}#}
{% include 'pakhi/include/footer.html' %}
{% analytics %}
</body>
</html>
