{% extends 'pakhi/base.html' %}
{% load staticfiles deeplink_lot googleanalytics %}

{% block title %}{{ block.super }}{% endblock title %}
{% block meta_extra %}{% include 'verify_cpa.html' %}{% endblock meta_extra %}

{% block content %}
    <!-- header-section-starts -->

    {#'{% static "pakhi/images/girl.png" %}'#}
{#    <div class="content">#}
{#        <div class="features-section">#}
{#            <div class="features-section-head text-center">#}
{#                <h3><span>F</span>eatured Items</h3>#}
{#                <p>“this weeks featured products”</p>#}
{#            </div>#}
{#            <div class="features-section-grids">#}
{#                <div class="features-section-grid">#}
{#                    <img src='{% static "pakhi/images/girl.png" %}' alt=""/>#}
{#                    <div class="girl-info">#}
{#                        <div class="lonovo">#}
{#                            <div class="dress">#}
{#                                <h4>Lolona Dress</h4>#}
{#                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh#}
{#                                    euismod tincidunt ut</p>#}
{#                            </div>#}
{#                            <div class="priceindollers">#}
{#                                <h3>$ <span>689</span></h3>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}


    <div class="container">
        <div class="products-section">
            <div class="products-section-head text-center">
                <h3><span>P</span>roducts</h3>
                <p>“check out our products”</p>
            </div>
            <div class="products-section-grids">

                {% for result in new_lots %}
                    {% if result.object %}
                        {% include 'pakhi/include/product_one_index.html' %}
                    {% endif %}
                {% endfor %}




            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    {#    <div class="more">#}
    {#        <div class="seemore">#}
    {#            <a href="products.html">See More</a>#}
    {#        </div>#}
    {#        <div class="allproducts">#}
    {#            <a href="products.html">All Products</a>#}
    {#        </div>#}
    {#        <div class="clearfix"></div>#}
    {#    </div>#}

    <!-- script-for-portfolio -->






{% endblock content %}
