{% extends 'pakhi/base.html' %}
{% load staticfiles deeplink_lot menu_tags %}

{% block title %}Купить {{ object.name|lower }} за {{ object.price }} рублей. {{ block.super }}{% endblock title %}

{% block meta_extra %}
    <meta name="description" content="{{ object.description|striptags|truncatechars:160 }}"/>
    <meta name="keywords" content="{{ object.get_keywords }}"/>
{% endblock meta_extra %}

{% block content %}

    <!-- start-single-page -->
    <!-- content -->
    <div class="container">
        <div class="dreamcrub">
            <ul class="breadcrumbs">

                <li class="home">
                    <a href="index.html" title="Go to Home Page"><img src='{% static "pakhi/images/home.png" %}'
                                                                      alt=""/></a>&nbsp;
                    <span>&gt;</span>
                </li>
                <li>
                    Sales
                </li>
                &nbsp;
                <span>&gt;</span>
                <li>products</li>
            </ul>
            <ul class="previous">
{#                <li><a href="index.html">Back to Previous Page</a></li>#}
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- start content -->
    <div class="women_main">
        <div class="container">
            <div class="row single">
                <div class="col-md-9 span-single">
                    <div class="single_left">
                        <div class="grid images_3_of_2">
                            <ul id="etalage">

                                {% for foto in object.fotos %}
                                    <li>
                                        {#                                    <a href="optionallink.html">#}
                                        <img class="etalage_thumb_image" src="
                                                {% if foto.image %}{{ foto.image.url }}{% else %}{{ foto.downloaded_from }}{% endif %}"
                                             class="img-responsive"/>
                                        <img class="etalage_source_image" src="
                                                {% if foto.image %}{{ foto.image.url }}{% else %}{{ foto.downloaded_from }}{% endif %}"
                                             class="img-responsive"
                                             title=""/>
                                        {#                                    </a>#}
                                    </li>




                                {% endfor %}
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="desc1 span_3_of_2">
                            <h3>{{ object.name }} в магазине <span>{{ object.seller }}</span></h3>
                            <p>{{ object.price }} {{ object.currency }}</p>
                            {#                            <div class="det_nav">#}
                            {#                                <h4>related products :</h4>#}
                            {#                                <ul>#}
                            {#                                    <li><a href="#"><img src="images/pic-6.jpg" class="img-responsive" alt=""/></a></li>#}
                            {#                                    <li><a href="#"><img src="images/pic-9.jpg" class="img-responsive" alt=""/></a></li>#}
                            {#                                    <li><a href="#"><img src="images/pic-4.jpg" class="img-responsive" alt=""/></a></li>#}
                            {#                                    <li><a href="#"><img src="images/pic-10.jpg" class="img-responsive" alt=""/></a>#}
                            {#                                    </li>#}
                            {#                                </ul>#}
                            {#                            </div>#}
                            {#                            <div class="filter-by-color">#}
                            {#                                <h3>Filter by Color</h3>#}
                            {#                                <ul class="w_nav2">#}
                            {#                                    <li><a class="color1" href="#"></a></li>#}
                            {#                                    <li><a class="color2" href="#"></a></li>#}
                            {#                                    <li><a class="color3" href="#"></a></li>#}
                            {#                                    <li><a class="color4" href="#"></a></li>#}
                            {#                                    <li><a class="color5" href="#"></a></li>#}
                            {#                                    <li><a class="color6" href="#"></a></li>#}
                            {#                                    <li><a class="color7" href="#"></a></li>#}
                            {#                                    <li><a class="color8" href="#"></a></li>#}
                            {#                                    <li><a class="color9" href="#"></a></li>#}
                            {#                                    <li><a class="color10" href="#"></a></li>#}
                            {#                                    <li><a class="color11" href="#"></a></li>#}
                            {#                                    <li><a class="color12" href="#"></a></li>#}
                            {#                                    <li><a class="color13" href="#"></a></li>#}
                            {#                                    <li><a class="color14" href="#"></a></li>#}
                            {#                                    <li><a class="color15" href="#"></a></li>#}
                            {#                                    <li><a class="color16" href="#"></a></li>#}
                            {#                                    <li><a class="color17" href="#"></a></li>#}
                            {#                                    <li><a class="color18" href="#"></a></li>#}
                            {#                                    <li><a class="color19" href="#"></a></li>#}
                            {#                                </ul>#}
                            {##}
                            {#                            </div>#}

                            <div class="btn_form">
                                <a rel="nofollow" target="_blank" href="{% deeplink_lot lot %}">Купить</a>
                            </div>
                            {#                            <a href="#"><span>login to save in wishlist </span></a>#}

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="single-bottom1">
                        <h6>Описание</h6>
                        <p class="prod-desc">{{ object.get_not_escape_description|safe }}</p>
                    </div>
                    {#                    <div class="single-bottom2">#}
                    {#                        <h6>Related Products</h6>#}
                    {#                        <div class="product">#}
                    {#                            <div class="product-desc">#}
                    {#                                <div class="product-img">#}
                    {#                                    <img src="images/pic-8.jpg" class="img-responsive " alt=""/>#}
                    {#                                </div>#}
                    {#                                <div class="prod1-desc">#}
                    {#                                    <h5><a class="product_link" href="#">Excepteur sint</a></h5>#}
                    {#                                    <p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper#}
                    {#                                        et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per#}
                    {#                                        inceptos himenaeos. </p>#}
                    {#                                </div>#}
                    {#                                <div class="clearfix"></div>#}
                    {#                            </div>#}
                    {#                            <div class="product_price">#}
                    {#                                <span class="price-access">$597.51</span>#}
                    {#                                <button class="button1"><span>Add to cart</span></button>#}
                    {#                            </div>#}
                    {#                            <div class="clearfix"></div>#}
                    {#                        </div>#}
                    {#                        <div class="product">#}
                    {#                            <div class="product-desc">#}
                    {#                                <div class="product-img">#}
                    {#                                    <img src="images/pic-2.jpg" class="img-responsive " alt=""/>#}
                    {#                                </div>#}
                    {#                                <div class="prod1-desc">#}
                    {#                                    <h5><a class="product_link" href="#">Excepteur sint</a></h5>#}
                    {#                                    <p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper#}
                    {#                                        et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per#}
                    {#                                        inceptos himenaeos. </p>#}
                    {#                                </div>#}
                    {#                                <div class="clearfix"></div>#}
                    {#                            </div>#}
                    {#                            <div class="product_price">#}
                    {#                                <span class="price-access">$597.51</span>#}
                    {#                                <button class="button1"><span>Add to cart</span></button>#}
                    {#                            </div>#}
                    {#                            <div class="clearfix"></div>#}
                    {#                        </div>#}
                    {#                        <div class="product">#}
                    {#                            <div class="product-desc">#}
                    {#                                <div class="product-img">#}
                    {#                                    <img src="images/pic-3.jpg" class="img-responsive " alt=""/>#}
                    {#                                </div>#}
                    {#                                <div class="prod1-desc">#}
                    {#                                    <h5><a class="product_link" href="#">Excepteur sint</a></h5>#}
                    {#                                    <p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper#}
                    {#                                        et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per#}
                    {#                                        inceptos himenaeos. </p>#}
                    {#                                </div>#}
                    {#                                <div class="clearfix"></div>#}
                    {#                            </div>#}
                    {#                            <div class="product_price">#}
                    {#                                <span class="price-access">$597.51</span>#}
                    {#                                <button class="button1"><span>Add to cart</span></button>#}
                    {#                            </div>#}
                    {#                            <div class="clearfix"></div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>

                {#                <div class="col-md-3 span_1_of_right">#}
                {#                    <div class="w_nav1">#}
                {#                        <h4>All</h4>#}
                {#                        <ul>#}
                {#                            <li><a href="products.html">products</a></li>#}
                {#                            <li><a href="#">new arrivals</a></li>#}
                {#                            <li><a href="#">trends</a></li>#}
                {#                            <li><a href="#">Bages</a></li>#}
                {#                            <li><a href="#">shoes</a></li>#}
                {#                            <li><a href="#">sale</a></li>#}
                {#                        </ul>#}
                {#                        <h3>filter by</h3>#}
                {#                    </div>#}

                {#                    <section class="sky-form">#}
                {#                        <div class="product_right">#}
                {#                            <h3 class="m_2">Categories</h3>#}
                {#                            <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro"}'>#}
                {#                                <option value="0">New</option>#}
                {#                                <option value="1">tempor</option>#}
                {#                                <option value="2">congue</option>#}
                {#                                <option value="3">mazim</option>#}
                {#                                <option value="4">mutationem</option>#}
                {#                                <option value="5">hendrerit</option>#}
                {#                            </select>#}
                {#                            <select class="dropdown" tabindex="50" data-settings='{"wrapperClass":"metro"}'>#}
                {#                                <option value="1">Designers</option>#}
                {#                                <option value="2">Sub Category1</option>#}
                {#                                <option value="3">Sub Category2</option>#}
                {#                                <option value="4">Sub Category3</option>#}
                {#                            </select>#}
                {#                            <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>#}
                {#                                <option value="1">Women</option>#}
                {#                                <option value="2">Sub Category1</option>#}
                {#                                <option value="3">Sub Category2</option>#}
                {#                                <option value="4">Sub Category3</option>#}
                {#                            </select>#}
                {#                            <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>#}
                {#                                <option value="1">Men</option>#}
                {#                                <option value="2">Sub Category1</option>#}
                {#                                <option value="3">Sub Category2</option>#}
                {#                                <option value="4">Sub Category3</option>#}
                {#                            </select>#}
                {#                            <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>#}
                {#                                <option value="1">Clearance</option>#}
                {#                                <option value="2">Sub Category1</option>#}
                {#                                <option value="3">Sub Category2</option>#}
                {#                                <option value="4">Sub Category3</option>#}
                {#                            </select>#}
                {#                        </div>#}
                {#                        <h4>Occasion</h4>#}
                {#                        <div class="row row1 scroll-pane">#}
                {#                            <div class="col col-4">#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Athletic#}
                {#                                    (20)</label>#}
                {#                            </div>#}
                {#                            <div class="col col-4">#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Athletic Shoes#}
                {#                                    (48)</label>#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Casual#}
                {#                                    (45)</label>#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Casual#}
                {#                                    (45)</label>#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other (1)</label>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <h4>Styles</h4>#}
                {#                        <div class="row row1 scroll-pane">#}
                {#                            <div class="col col-4">#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Athletic#}
                {#                                    (20)</label>#}
                {#                            </div>#}
                {#                            <div class="col col-4">#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Ballerina#}
                {#                                    (5)</label>#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Pumps (7)</label>#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>High Tops#}
                {#                                    (2)</label>#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other (1)</label>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </section>#}
                {#                    <section class="sky-form">#}
                {#                        <h4>Price</h4>#}
                {#                        <div class="row row1 scroll-pane">#}
                {#                            <div class="col col-4">#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>$50.00#}
                {#                                    and Under (30)</label>#}
                {#                            </div>#}
                {#                            <div class="col col-4">#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>$100.00 and Under#}
                {#                                    (30)</label>#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>$200.00 and Under#}
                {#                                    (30)</label>#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>$300.00 and Under#}
                {#                                    (30)</label>#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>$400.00 and Under#}
                {#                                    (30)</label>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </section>#}
                {#                    <section class="sky-form">#}
                {#                        <h4>Colors</h4>#}
                {#                        <div class="row row1 scroll-pane">#}
                {#                            <div class="col col-4">#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"#}
                {#                                                               checked=""><i></i>Red</label>#}
                {#                            </div>#}
                {#                            <div class="col col-4">#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Green</label>#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Black</label>#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Yellow</label>#}
                {#                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Orange</label>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </section>#}
                {#                </div>#}
            </div>
        </div>
    </div>
    <!-- end content -->

{% endblock content %}