{% load staticfiles %}
{% load googleanalytics %}
{#{% load sitemetrics %}#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{% block title %}Интернет магазин {{ SITE.name }}{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Description"
          content="Фото-объективы. Выбор объектива. Характеристики, сравнение, отзывы, обзоры, MTF для объективов Canon, Nikon, Sony, Pentax, Olympus, Sigma, Tamron, Carl Zeiss и др.">
    <meta name="Keywords"
          content="Объективы, фотообъективы, купить, продать, сравнить, график, MTF, отзывы, сравнение, характеристики, обзор, статьи, выбор, Canon, Nikon, Sony, Pentax, Olympus, Sigma, Tamron, Carl Zeiss, Leica, Minolta, Tokina, Гелиос,  Зенитар,  Мир,  Таир,  Юпитер, оптические, схемы">
    {#    <meta http-equiv="Last-Modified" content="Mon, 16 Oct 2017 00:00:00 GMT">#}
    <link href="https://lens-club.ru/public/styles/lensclub.css" media="screen" rel="stylesheet" type="text/css">
    <link href="https://lens-club.ru/public/styles/jquery.ui.css" media="screen" rel="stylesheet" type="text/css">
    <link href="https://lens-club.ru/public/styles/prettyPhoto.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://lens-club.ru/public/js/jquery.js"></script>
    <script type="text/javascript" src="https://lens-club.ru/public/js/lensclub.js"></script>
    <script type="text/javascript" src="https://lens-club.ru/public/js/jquery.ui.js"></script>
    <script type="text/javascript" src="https://lens-club.ru/public/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="https://lens-club.ru/public/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="https://lens-club.ru/public/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="https://lens-club.ru/public/js/jquery.form.js"></script>
    <link rel="shortcut icon" href="https://lens-club.ru/public/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://lens-club.ru/public/img/favicon.ico" type="image/vnd.microsoft.icon">
    {% block script_extra %}
    {% endblock script_extra %}
</head>
<body>
<!-- popup for mobile app  -->
<div class="overlay"></div>
<div class="popup" id="app_popup">
    <span class="close" title="Закрыть">X</span>
    <div>
        <h2>Официальное приложение Объективы от Lens-Club.ru для Android</h2>
        <p><a id="app_link" href="https://lens-club.ru/news/item/c_627.html"><img
                src="https://lens-club.ru/public/img/ad_rus4.png"
                class="float_left"></a><strong>Внимание!</strong>
            Для вашего устройства доступно официальное мобильное приложение "Объективы" от Lens-Club.ru.
            Установив его вы сможете работать с базой объективов намного быстрее и удобнее.</p>
        <p>&nbsp;</p>
        <p>
            <button id="app_notyet">Не сейчас</button>
            <button id="app_more">Узнать подробности</button>
        </p>
    </div>
</div>

<div class="popup" id="app_popup2">
    <span class="close" title="Закрыть">X</span>
    <div>
        <h2>Официальное приложение Объективы от Lens-Club.ru для iOS</h2>
        <p><a id="app_link" href="https://lens-club.ru/news/item/c_627.html"><img
                src="https://lens-club.ru/public/img/ad_rus4.png"
                class="float_left"></a><strong>Внимание!</strong>
            Для вашего устройства доступно официальное мобильное приложение "Объективы" от Lens-Club.ru.
            Установив его вы сможете работать с базой объективов намного быстрее и удобнее.</p>
        <p>&nbsp;</p>
        <p>
            <button id="app_notyet">Не сейчас</button>
            <button id="app_more2">Узнать подробности</button>
        </p>
    </div>
</div>
<!-- popup for mobile app end -->
<div align="center">
    <div class="main_container">
        <div class="header_container">

            <div class="float_left">
                <noindex><a href="/"><img src="https://lens-club.ru/public/img/lc_logo2.png" class="logo"
                                          title="На главную :: Lens-Club.Ru - все про фото объективы Canon, Nikon, Sigma, Pentax, Tamron, Olympus, Sony и др."
                                          border="0"></a></noindex>
            </div>
            <div class="logo_text">
                <div class="logo_text_h2"><strong>Выбор объектива для фотографов.</strong> Характеристики, сравнение,
                    отзывы, обзоры, MTF объективов Canon, Nikon, Sony, Pentax, Olympus, Sigma, Tamron, Carl Zeiss и др.
                </div>
            </div>
            {# Форма поиска #}
            <div class="float_right" style="margin-right: 100px; text-align: center;">
                {#                <div class="float_right" style="margin-right: 100px; text-align: center;">#}


                <br/>
                <div class="float_left" style="line-height: 29px; margin-right: 20px"><b>Поиск по магазину (например:
                    Canon EF 50mm)</b></div>
                <div class="float_right">
                    <form action="{% url 'search' %}">
                        <input id="searchinput" size="47" name="q" type="text" value="">
                        <input type="submit" value="Поиск">
                    </form>
                    <br>
                </div>
            </div>
            {# End Форма поиска #}
        </div>

        {% include 'lens/include/menu.html' %}


        <div class="orange_big2">
            <div class="orange_top_left"></div>
            <div class="orange_big_top_center2">
                {% if query %}
                    <div class="float_left"><h1>{{ query }}</h1></div>
                {% elif category %}
                    <div class="float_left"><h1>{{ category }}</h1></div>
                {% else %}
                    <div class="float_left"><h1>Главная</h1></div>
                {% endif %}
            </div>
            <div class="orange_top_right"></div>
            <div class="orange_big_center2">
                {% if vendor %}
                    <strong>Вендор {{ is_vendor }}</strong>
                    <br/>
                    <form method="get" action="">
                        <select size="1" class="medium_text" name="vendor">
                            <option value=''>Все</option>
                            <optgroup label="&nbsp;Vendor">
                                {% for vendor_name, vendor_count in vendor %}
                                    <option value="{{ vendor_name }}"
                                            {% if is_vendor == vendor_name %}
                                            selected
                                            {% endif %}
                                    >{{ vendor_name }}
                                        ({{ vendor_count }})
                                    </option>
                                {% endfor %}
                            </optgroup>
                        </select>
                        <br/>
                        <button type="submit">Фильтр</button>
                    </form>

                {% endif %}
                {% block banner %}
                {% endblock banner %}

                {% block content %}
                {% endblock content %}

            </div>
        </div>
    </div>
</div>


<div class="clear"></div>

{% include 'lens/include/footer.html' %}
{% block banner_footer %}


{% endblock banner_footer %}

{% block script_extra_footer %}


{% endblock script_extra_footer %}
{% analytics %}
{#{% sitemetrics %}#}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter46838328 = new Ya.Metrika({
                    id: 46838328,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/46838328" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
