{% extends 'lens/base.html' %}
{% load staticfiles deeplink_lot %}

{% block title %}{{ block.super }}{% endblock title %}

{% block meta_extra %}
    {% include '_base_script/verify_cpa.html' %}
{% endblock meta_extra %}

{% block script_extra %}

{% endblock script_extra %}


{% block banner %}
    {##}
    {#    {% include 'smart_shop/include/banner_index.html' %}#}
    {#        {% include 'smart_shop/include/new_arrivals.html' %}#}
    {#        {% include 'smart_shop/include/content-bottom.html' %}#}
{% endblock banner %}

{% block content %}


                <table width="98%" cellspacing="1" cellpadding="4">
                    <tr>
                        <th width="10%">Фото</th>
                        <th width="55%">Название</th>
                        <th width="15%">Цена</th>
                        {#                        <th width="20%">До окончания</th>#}
                    </tr>
                    {% for result in new_lots %}
                        {% if result.object %}
                            {% include 'lens/include/product_one_index.html' %}
                        {% endif %}
                    {% endfor %}

                </table>
{#{% include 'lens/include/pagination.html' %}#}












{% endblock content %}



{% block banner_footer %}

{% endblock banner_footer %}

