{% extends 'lens/base.html' %}
{% load staticfiles deeplink_lot thumbnail %}

{% block title %}Купить {{ object.name|lower }} за {{ object.price }} рублей. {{ block.super }}{% endblock title %}

{% block meta_extra %}
    {% include '_base_script/verify_cpa.html' %}
    <meta name="description" content="{{ object.description|striptags|truncatechars:160 }}"/>
    <meta name="keywords" content="{{ object.get_keywords }}"/>
    <meta property="og:title" content="{{ object.name }}"/>
    <meta property="og:type" content="website">
    <meta property="og:image"
          content="{% if foto.image %}{{ foto.image.url }}{% else %}{{ foto.downloaded_from }}{% endif %}">
    <meta property="og:url" content="{{ gfu }}"/>
    <meta property="og:description" content="{{ object.get_not_escape_description|safe }}"/>
{% endblock meta_extra %}


{% block script_extra %}
{% endblock script_extra %}


{% block banner %}
{% endblock banner %}


{% block content %}
    <small>У вас есть возможность купить <a href="{% deeplink_lot object %}">{{ object.name|lower }}</a>
        за {{ object.price }} рублей
    </small>
    <br/><br/>
    <table width="98%">
        <tr>
            <td width="18%" valign="top"><strong>Внешний вид</strong><br/><br/>
                {% for foto in object.fotos %}
                    {% thumbnail foto.get_image "80x80" padding=True as im %}
                        <div class="float_left">
                            <a rel="prettyPhoto[pp_gal][lot]"
                               href="{{ foto.get_image }}"><img
                                    OnMouseOver="$('#imgbig1').attr('src','{{ foto.get_image }}'); $('#imgsmth1').show();"
                                    OnMouseOut="$('#imgsmth1').hide();"
                                    src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                    border="0" class="lens_preview"></a>
                        </div>
                        <div id="imgsmth1" style="position: absolute; margin-left: 100px;"
                             class="float_left hidden_block"><img id="imgbig1" src="" class="lens_preview"
                                                                  border="0"></div>
                        <br/><br/>
                        <div class="clear"><br/></div>
                    {% endthumbnail %}
                {% endfor %}
                <div class="clear"><br/></div>
            </td>
            <td width="82%" valign="top">
                <table width="100%">
                    <tr>
                        <td width="60%" valign="top" style="line-height: 1.8em;">
                            <h3>{{ object.name }}</h3>
                            {% if object.vendor %}
                                <strong>Вендор:</strong> {{ object.vendor }}<br/>
                            {% endif %}
                        </td>
                        <td width="40%" valign="top">
                            <div class="border1">
                                <table>
                                    <tr>
                                        <td>Цена:</td>
                                        <td><strong>{{ object.price }}</strong> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Продавец:</td>
                                        <td><a rel="nofollow" target="_blank"
                                               href="{% get_seller_url object.seller %}">{{ object.seller }}</a><br/>
                                    <tr>
                                        <td colspan="2" align="center"><strong>
                                            <a style="font-size: 20px;"
                                               href="{% deeplink_lot object %}"
                                               rel="prettyPhoto[iframes][buy][976]">ПОДРОБНЕЕ</a></strong><br/><br/>
                                        </td>
                                    </tr>
                                </table>
                        </td>
                    </tr>

                    <tr>
                        {% if object.description %}
                            <td width="100%" colspan="2"><br/><br/><strong>Описание лота от продавца</strong><br/>
                                <p>{{ object.description|safe }}</p>
                            </td>
                        {% endif %}
                    </tr>
                </table>
            </td>
        </tr>
    </table><br/><br/>
{% endblock content %}


{% block banner_footer %}
{% endblock banner_footer %}