{% load staticfiles %}
<script src='{% static "shopper/js/responsiveslides.min.js" %}'></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            speed: 500,
            manualControls: '#slider3-pager'
        });
    });
</script>
<!----- banner -------->
<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li>
                <img src='{% static "shopper/images/bnr.jpg" %}' alt="">
                <div class="banner-info">
                    <h3>FASHIONS</h3>
                    <p></p>
                </div>
            </li>
            <li>
                <img src='{% static "shopper/images/bnr2.jpg" %}' alt="">
                <div class="banner-info">
                    <h3>MODELING</h3>
                    <p></p>
                </div>
            </li>
            <li>
                <img src='{% static "shopper/images/bnr3.jpg" %}' alt="">
                <div class="banner-info">
                    <h3>FASHIONS</h3>
                    <p></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!----- end banner -------->
