<div class="footer">
    <div class="container">
        <p>Copyright &copy; 2016 <a href='{% url "main_view" %}'> {{ SITE.name }}.</a> All rights reserved
{#            | Template by <a href="http://w3layouts.com"> W3layouts</a>#}
        </p>
{#        <div class="social">#}
{#            <a href="#"><span class="icon1"></span></a>#}
{#            <a href="#"><span class="icon2"></span></a>#}
{#            <a href="#"><span class="icon3"></span></a>#}
{#            <a href="#"><span class="icon4"></span></a>#}
{#        </div>#}
        <div class="clearfix"></div>
    </div>
</div>