<div class="container">
    <div class="navigation">
        <ul>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="woman.html">STOCKITS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a href="man.html">STORE</a></li>
            <li><a href="terms.html">TERMS & CONDITION</a></li>
            <li><a href="man.html">SHOW TO BUY</a></li>
            <li><a href="index.html">SHIPPING</a></li>
            <li><a href="man.html">RETURNS</a></li>
            <li><a href="single.html">SIZE CHART</a></li>
        </ul>
    </div>
</div>