{% load staticfiles deeplink_lot menu_tags %}
<div class="header">
    <div class="container">
        <div class="header-left">
            <div class="top-menu">
                <ul>
                    <li class="active"><a href={% url 'main_view' %}>HOME</a></li>
                    {% menu as root_menus %}
                    {% for root_menu in root_menus %}
                        <li><a href={{ root_menu.get_absolute_url }}>{{ root_menu }}</a></li>
                    {% endfor %}
                </ul>
                <!-- script-for-menu -->
                <script>
                    $("span.menu").click(function () {
                        $(".top-menu ul").slideToggle("slow", function () {
                        });
                    });
                </script>
                <!-- script-for-menu -->

            </div>
        </div>
        {#            <div class="logo">#}
        {#                <a href="index.html"><img src='{% static "shopper/images/logo.png" %}' alt=""/></a>#}
        {#            </div>#}

    </div>
    <div class="clearfix"></div>
</div>