<div class="col-md-4 fashion-grid">
    <a href="{{ result.object.get_absolute_url }}">
        <img src='{{ result.object.main_foto.get_image }}' alt='{{ result.object.get_image_alt }}'/>

        <div class="product">
            <h3>{{ result.object.name }}</h3>
            <p><span></span> {{ result.object.price }} {{ result.object.currency }}
            </p>
        </div>
    </a>
    <div class="fashion-view"><span></span>
        <div class="clearfix"></div>
        <h4><a href="{{ result.object.get_absolute_url }}">Подробней</a></h4>
    </div>
</div>