

<li class="g1">
    <img src='{{ result.object.main_foto.get_image }}' alt='{{ result.object.get_image_alt }}'/>
    <a href="{{ result.object.get_absolute_url }}">
        <div class="caption">
            <span></span>
            <h3>{{ result.object.name }}</h3>
            <h5>
                <del>{{ result.object.old_price|default_if_none:"" }}</del>
                {{ result.object.price }} {{ result.object.currency }}</h5>
        </div>
    </a>
    <div class="clearfix"></div>
</li>
