{% load staticfiles %}
{% load googleanalytics %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{% block title %}Интернет магазин {{ SITE.name }}{% endblock title %}</title>

    {% block script_extra %}
    {% endblock script_extra %}
</head>
<body>

{% block banner %}
{% endblock banner %}

{% block content %}
{% endblock content %}





{% block banner_footer %}


{% endblock banner_footer %}

{% block script_extra_footer %}


{% endblock script_extra_footer %}
{% analytics %}
</body>
</html>
