{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    <li><a href="{% url opts|admin_urlname:'import' %}">{% trans "Import" %}</a></li>

    {{ block.super }}
{% endblock %}
