{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}{% trans "Import addresses" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="../../../../">
            {% trans "Home" %}
        </a>
        &rsaquo;
        <a href="../../../">
            {% trans "Newsletter" %}
        </a>
        &rsaquo;
        <a href="../../">
            {% trans "Subscriptions" %}
        </a>
        &rsaquo;
        <a href="../">
            {% trans "Import addresses" %}
        </a>
        &rsaquo;
        {% trans "Confirm import" %}
    </div>
{% endblock %}

{% block content %}
    <h1>{% trans "Confirm import" %}</h1>
    <div id="content-main">
        <ul>
            {% for email, name in subscribers.items %}
                <li>{% if name %}{{ name }} &lt;{{ email }}&gt;{% else %}{{ email }}{% endif %}</li>
            {% endfor %}
        </ul>
        <form enctype="multipart/form-data" method="post">
            <table>
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" name="submit" value="{% trans 'Confirm' %}"/>
        </form>
    </div>
    <br/>
    <br/>

{% endblock %}
