<div class="sidebar" data-background-color="white" data-active-color="primary">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    <div class="sidebar-wrapper">
        <div class="logo">
{#            <a href="{% url 'crm_main_view' %}" class="simple-text">#}
                Home
{#            </a>#}
        </div>

        <ul class="nav">
            <li class="active">
{#                <a href="{% url 'crm_main_view' %}">#}
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
{#                </a>#}
            </li>
            <li>
                <a href="user.html">
                    <i class="ti-user"></i>
                    <p>User Profile</p>
                </a>
            </li>

        </ul>
    </div>
</div>