{% extends 'smart_shop/base.html' %}
{% load staticfiles deeplink_lot %}

{% block title %}
    {{ block.super }}
    {{ query }}
{% endblock title %}

{% block meta_extra %}


{% endblock meta_extra %}

{% block script_extra %}


{% endblock script_extra %}


{% block banner %}


    {% include 'smart_shop/include/banner_page.html' %}
{% endblock banner %}


{% block content %}
    <div class="men-wear">
        <div class="container">
            <div class="col-md-4 products-left">
                <div class="clearfix"></div>
            </div>


            <div class="col-md-8 products-right">


                <div class="clearfix"></div>
            </div>
            <!-- Begin faceting. -->
            <h2>By category_parent</h2>
            <form method="get" action=".">
                <table>
                    <tbody>
                    {{ form.as_table }}
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="Search"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <div>
                <dl>
                    {% if facets.fields.category %}
                        <dt>category</dt>
                        {% for category_parent in facets.fields.category %}
                            <dd>
                                <a href="{{ request.get_full_path }}&amp;selected_facets=category_exact:{{ category_parent.0|urlencode }}">{{ category_parent.0 }}</a>
                                ({{ category_parent.1 }})
                            </dd>
                        {% endfor %}
                    {% else %}
                        <p>No category_parent facets.</p>
                    {% endif %}
                </dl>
            </div>
            <!-- End faceting -->

            <div class="clearfix"></div>
            <div class="single-pro">
                {% if query %}
                    {% for result in object_list %}
                        {% if result.object %}

                            {% include 'smart_shop/include/product_one.html' %}
                        {% endif %}
                    {% endfor %}
                {% else %}

                {% endif %}

                <div class="clearfix"></div>
            </div>
            {% include 'smart_shop/include/pagination.html' %}
        </div>
    </div>
    <!-- //mens -->
{% endblock content %}



{% block banner_footer %}

    {#    {% include 'smart_shop/include/coupons.html' %}#}
{% endblock banner_footer %}