<div class="bottom_container">
    <div align="center">
        <div class="bottom_container2">

            <br> <br>


            <center>


                <hr class="header_hr">
                <br>
                <div style="float:right; padding-right: 60px;">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <div align="right">

                                    <noindex><span
                                            onclick="window.open('https://www.google.com/analytics/settings/home');">©</span>
                                    </noindex>
                                    2010 -2017
                                    {#                                    <noindex><a rel="nofollow" target="_blank"#}
                                    {#                                                href="http://sergeiborodin.ru/?utm_source=lens_author">Сергей#}
                                    {#                                        Бородин</a></noindex>#}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </center>
        </div>
        <br> <br>
    </div>
</div>