{% load staticfiles deeplink_lot menu_tags %}

{#<div class="column1">#}
{#    <div class="menu">#}
{#        <div class="menu_top"></div>#}
{#        <div class="menu_center"><br/>#}
{#            {% root_menu_facet as root_menus %}#}
{#            {% for root_menu in root_menus %}#}
{#                <img src="https://lens-club.ru/public/img/marker.png" title="маркер" class="marker" border="0"> <a#}
{#                    class="menu_a"#}
{#                    href="{{ root_menu.2.object.category.get_ancestors.0.get_absolute_url }}"><strong>{{ root_menu.0 }}</strong></a> <br/>#}
{#                {% for nav_children in root_menu.1 %}#}
{#                    {% if nav_children.2.object.category.get_absolute_url %}#}
{#                        <a class="menu_a1"#}
{#                           href="{{ nav_children.2.object.category.get_absolute_url }}">{{ nav_children.0 }}</a><br/>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#            <br/>#}
{#            <img src="https://lens-club.ru/public/img/marker.png" title="маркер" class="marker" border="0">#}
{#            <a class="menu_a" href="http://lens-club.ru/"><strong>Вернуться на lens-club.ru</strong></a> <br/><br/>#}
{#            <img src="https://lens-club.ru/public/img/marker.png" title="маркер" class="marker" border="0">#}
{#            <a class="menu_a" style="color: maroon;" rel="nofollow" href="http://vk.com/lensclub" target="_blank">#}
{#                <strong>Группа Вконтакте</strong>#}
{#            </a>#}
{#        </div>#}
{#        <div class="menu_bottom"></div>#}
{#    </div>#}
{#</div>#}
<div class="column1">
    <div class="menu">
        <div class="menu_top"></div>
        <div class="menu_center"><br/>

            <img src="https://lens-club.ru/public/img/marker.png" title="маркер" class="marker" border="0"> <a
                    class="menu_a"
                    href="/search/?q=Объективы"><strong>Объективы</strong></a> <br/>

            <a class="menu_a1" href="/search/?q=Объективы&vendor=Canon">Canon</a><br/>
            <a class="menu_a1" href="/search/?q=Объективы&vendor=Sigma">Sigma</a><br/>
            <a class="menu_a1" href="/search/?q=Объективы&vendor=Tamron">Tamron</a><br/>
            <a class="menu_a1" href="/search/?q=Объективы&vendor=Nikon">Nikon</a><br/>
            <a class="menu_a1" href="/search/?q=Объективы&vendor=Samyang">Samyang</a><br/>
            <a class="menu_a1" href="/search/?q=Объективы&vendor=Olympus">Olympus</a><br/>
            <a class="menu_a1" href="/search/?q=Объективы&vendor=Fujifilm">Fujifilm</a><br/>
            <a class="menu_a1" href="/search/?q=Объективы&vendor=Sony">Sony</a><br/>
            <a class="menu_a1" href="/search/?q=Объективы&vendor=Yongnuo">Yongnuo</a><br/>
            <a class="menu_a1" href="/search/?q=Объективы&vendor=Caniam">Caniam</a><br/>

            <img src="https://lens-club.ru/public/img/marker.png" title="маркер" class="marker" border="0"> <a
                    class="menu_a"
                    href="/search/?q=Фотоаппараты"><strong>Фотоаппараты</strong></a> <br/>

            <a class="menu_a1" href="/search/?q=Фотоаппараты&vendor=Nikon">Nikon</a><br/>
            <a class="menu_a1" href="/search/?q=Фотоаппараты&vendor=Sony">Sony</a><br/>
            <a class="menu_a1" href="/search/?q=Фотоаппараты&vendor=Canon">Canon</a><br/>
            <a class="menu_a1" href="/search/?q=Фотоаппараты&vendor=Fujifilm">Fujifilm</a><br/>
            <a class="menu_a1" href="/search/?q=Фотоаппараты&vendor=Panasonic">Panasonic</a><br/>
            <a class="menu_a1" href="/search/?q=Фотоаппараты&vendor=Rekam">Rekam</a><br/>

            <br/>
            <img src="https://lens-club.ru/public/img/marker.png" title="маркер" class="marker" border="0">
            <a class="menu_a" href="http://lens-club.ru/"><strong>Вернуться на lens-club.ru</strong></a> <br/><br/>
            <img src="https://lens-club.ru/public/img/marker.png" title="маркер" class="marker" border="0">
            <a class="menu_a" style="color: maroon;" rel="nofollow" href="http://vk.com/lensclub" target="_blank">
                <strong>Группа Вконтакте</strong>
            </a>
        </div>
        <div class="menu_bottom"></div>
    </div>
</div>


