{% load i18n %}
{#<div class="text-right">#}
{#    <ul class="pagination">#}
{#        <li><a href="#">1</a></li>#}
{#        <li class="active"><a href="#">2</a></li>#}
{#        <li><a href="#">3</a></li>#}
{#        <li><a href="#">4</a></li>#}
{#        <li><a href="#">5</a></li>#}
{#    </ul>#}
{#</div>#}


{% if is_paginated %}
     <div><b>Навигация:</b>

            {% if page_obj.has_previous %}
                <a class="paging" href="?page={{ page_obj.previous_page_number }}{{ getvars }}">&laquo;</a>

            {% else %}
{#                <a class="paging" href="">&laquo;</a>#}
            {% endif %}
            {% if page_obj.paginator.num_pages > 1 %}

                {% if page_obj.has_previous %}

                    {% if page_obj.previous_page_number == 1 %}
                            <a class="paging" href="?page={{ page_obj.previous_page_number }}{{ getvars }}">{{ page_obj.previous_page_number }}</a>
                    {% else %}
                            <a class="paging" href="?page=1{{ getvars }}">1</a>
                        {% if page_obj.previous_page_number != 2 %}
                            {% if page_obj.previous_page_number == 3 %}
                                    <a href="?page=2{{ getvars }}">2</a>
                            {% else %}
                                    <span>…</span>
                            {% endif %}
                        {% endif %}
                            <a class="paging" href="?page={{ page_obj.previous_page_number }}{{ getvars }}">{{ page_obj.previous_page_number }}</a>
                    {% endif %}
                {% endif %}
                <span class="curpaging">[ {{ page_obj.number }} ]</span>

                {% if page_obj.has_next %}
                    {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                            <a class="paging" href="?page={{ page_obj.next_page_number }}{{ getvars }}">{{ page_obj.next_page_number }}</a>
                        {% if page_obj.next_page_number|add:"1" != page_obj.paginator.num_pages %}
                            {% if page_obj.next_page_number == page_obj.paginator.num_pages|add:"-2" %}
                                    <a class="paging" href="?page={{ page_obj.paginator.num_pages|add:"-1" }}{{ getvars }}">{{ page_obj.paginator.num_pages|add:"-1" }}</a>
                            {% else %}
                                    <span>…</span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <a class="paging" href="?page={{ page_obj.paginator.num_pages }}{{ getvars }}">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            {% endif %}

            {% if page_obj.has_next %}
               <a class="paging"
                        href="?page={{ page_obj.next_page_number }}{{ getvars }}">&raquo;</a>

            {% else %}
{#                <a class="curpaging" href="">&raquo;</a>#}
            {% endif %}

        </div>
{% endif %}