{% load deeplink_lot %}
{% load thumbnail %}

<tr class="dark2_tr">
    <td>
        <div class="float_left"><a href="{{ result.object.get_absolute_url }}">
            {% thumbnail result.object.main_foto.get_image "80x80" padding=True as im %}
                <img
                        {#                                    OnMouseOver="$('#big1').attr('src','{{ result.object.main_foto.get_image }}'); $('#smth1').show();"#}
                        {#                                    OnMouseOut="$('#smth1').hide();"#}
                        src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                        title=""
                        border="0" class="lens_preview">
            {% endthumbnail %}
        </a></div>
        {#                            <div id="smth1" style="position: absolute; margin-left: 100px;"#}
        {#                                 class="float_left hidden_block"><img id="big1" src="" class="lens_preview" border="0">#}
        {#                            </div>#}
    </td>
    <td>
        <a rel="nofollow" target="_blank" href="{% deeplink_lot result.object %}">
            {{ result.object.name }}
        </a>
        <br/><br/>
        <small>
            {#        Продавец: <a rel="nofollow" target="_blank"#}
        {#                            href="{% get_seller_url result.object.seller %}">{{ result.object.seller }}</a>#}
        {#            <br/>#}
            {% if category == result.object.category %}
                Категория: <a href="{{ result.object.category.get_ancestors.0.get_absolute_url }}">{{ result.object.category.get_ancestors.0 }}</a>
            {% else %}
                Категория: <a href="{{ result.object.category.get_absolute_url }}">{{ result.object.category }}</a>
            {% endif %}

        </small>
    </td>
    <td><strong>{{ result.object.price }} {{ result.object.currency|default_if_none:"" }}</strong><br/>
        {#        <small>(~65.08 $)</small>#}
    </td>
    {#    <td>29 дней</td>#}
</tr>
<tr>
    <td colspan="5">
        <hr class="hr2">
    </td>
</tr>


