{% load staticfiles %}
{% load googleanalytics %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Интернет магазин {{ SITE.name }}{% endblock title %}</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block meta_extra %}{% endblock meta_extra %}
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href='{% static "smart_shop/css/bootstrap.css" %}' rel="stylesheet" type="text/css" media="all"/>
    <!-- pignose css -->
    <link href='{% static "smart_shop/css/pignose.layerslider.css" %}' rel="stylesheet" type="text/css" media="all"/>


    <!-- //pignose css -->
    <link href='{% static "smart_shop/css/style.css" %}' rel="stylesheet" type="text/css" media="all"/>


    <!-- js -->
    <script type="text/javascript" src='{% static "smart_shop/js/jquery-2.1.4.min.js" %}'></script>
    <!-- //js -->
    <!-- cart -->
    <script src='{% static "smart_shop/js/simpleCart.min.js" %}'></script>
    <!-- cart -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src='{% static "smart_shop/js/bootstrap-3.1.1.min.js" %}'></script>
    <!-- //for bootstrap working -->
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
          rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <script src='{% static "smart_shop/js/jquery.easing.min.js" %}'></script>
    {% block script_extra %}

    {% endblock script_extra %}
</head>
<body>

<!-- header -->
{#{% include 'smart_shop/include/header.html' %}#}
{#<!-- //header -->#}
{##}
{#<!-- header-bot -->#}
{% include 'smart_shop/include/header-bot.html' %}
{#<!-- //header-bot -->#}
{##}
{% include 'smart_shop/include/navbar.html' %}
{#{% include 'smart_shop/include/banner_index.html' %}#}
{#{% include 'smart_shop/include/new_arrivals.html' %}#}
{#{% include 'smart_shop/include/content-bottom.html' %}#}
{##}
{##}
{% block banner %}
{% endblock banner %}

{% block content %}
{% endblock content %}


{#{% include 'smart_shop/include/coupons.html' %}#}

{% block banner_footer %}
{% endblock banner_footer %}
{% include 'smart_shop/include/footer.html' %}
{% analytics %}
</body>
</html>
