{% extends 'smart_shop/base.html' %}
{% load staticfiles deeplink_lot %}

{% block title %}{{ block.super }}{% endblock title %}

{% block meta_extra %}{% include 'smart_shop/include/verify_cpa.html' %}{% endblock meta_extra %}

{% block script_extra %}

{% endblock script_extra %}


{% block banner %}
    {##}
    {% include 'smart_shop/include/banner_index.html' %}
    {#        {% include 'smart_shop/include/new_arrivals.html' %}#}
    {#        {% include 'smart_shop/include/content-bottom.html' %}#}
{% endblock banner %}

{% block content %}
    <div class="product-easy">
        <div class="container">

            <script src='{% static "smart_shop/js/easyResponsiveTabs.js" %}' type="text/javascript"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true   // 100% fit in a container
                    });
                });

            </script>
            <div class="sap_tabs">
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Новые товары</span></li>
                        <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Товары со скидкой</span>
                        </li>
                        {#                        <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Collections</span></li>#}
                    </ul>


                    <div class="resp-tabs-container">
                        {# начало первой вкладки #}
                        <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">

                            {% for result in new_lots %}
                                {% if result.object %}

                                    {% include 'smart_shop/include/product_one.html' %}
                                {% endif %}
                            {% endfor %}

                            <div class="clearfix"></div>
                        </div>
                        {# начало второй вкладки конец первой #}
                        <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">

                            {% for result in sale %}
                                {% if result.object %}

                                    {% include 'smart_shop/include/product_one.html' %}
                                {% endif %}
                            {% endfor %}

                            <div class="clearfix"></div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}



{% block banner_footer %}

    {#    {% include 'smart_shop/include/coupons.html' %}#}
{% endblock banner_footer %}



