{% extends 'smart_shop/base.html' %}
{% load staticfiles deeplink_lot %}

{% block title %}
    {{ block.super }}
    {{ query }}
{% endblock title %}

{% block meta_extra %}


{% endblock meta_extra %}

{% block script_extra %}


{% endblock script_extra %}


{% block banner %}


    {% include 'smart_shop/include/banner_page.html' %}
{% endblock banner %}


{% block content %}
    <div class="men-wear">
        <div class="container">
            <div class="col-md-4 products-left">
                <div class="clearfix"></div>
            </div>




            <div class="col-md-8 products-right">


                {# TODO: Данный блок, скорее всего будет сео блоком #}
                {% comment %}
                <div class="men-wear-bottom">
                    <div class="col-sm-4 men-wear-left">
                        <img class="img-responsive" src="images/men3.jpg" alt=" "/>
                    </div>
                    <div class="col-sm-8 men-wear-right">
                        <h4>Exclusive Men's Collections</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                            ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                            odit aut fugit. </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                {% endcomment %}
                {# //TODO: Данный блок, скорее всего будет сео блоком #}


                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
            <div class="single-pro">
                {% if query %}
                    {% for result in object_list %}
                        {% if result.object %}

                            {% include 'smart_shop/include/product_one.html' %}
                        {% endif %}
                    {% endfor %}
                {% else %}

                {% endif %}

                <div class="clearfix"></div>
            </div>
            {% include 'smart_shop/include/pagination.html' %}
        </div>
    </div>
    <!-- //mens -->
{% endblock content %}



{% block banner_footer %}

    {#    {% include 'smart_shop/include/coupons.html' %}#}
{% endblock banner_footer %}