{% extends 'smart_shop/base.html' %}
{% load staticfiles deeplink_lot menu_tags %}

{% block title %}Купить {{ object.name|lower }} за {{ object.price }} рублей. {{ block.super }}{% endblock title %}

{% block meta_extra %}
    <meta name="description" content="{{ object.description|striptags|truncatechars:160 }}"/>
    <meta name="keywords" content="{{ object.get_keywords }}"/>
    <link rel="stylesheet" href='{% static "smart_shop/css/flexslider.css" %}' type="text/css" media="screen"/>
{% endblock meta_extra %}

{% block script_extra %}
    <script src='{% static "smart_shop/js/imagezoom.js" %}'></script>
    <script src='{% static "smart_shop/js/jquery.flexslider.js" %}'></script>
{% endblock script_extra %}

{% block banner %}
    {% include 'smart_shop/include/banner_page.html' %}
{% endblock banner %}

{% block content %}
    <!-- single -->
    <div class="single">
        <div class="container">
            <div class="col-md-6 single-right-left animated wow slideInUp animated" data-wow-delay=".5s"
                 style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <!-- FlexSlider -->
                        <script>
                            // Can also be used with $(document).ready()
                            $(window).load(function () {
                                $('.flexslider').flexslider({
                                    animation: "slide",
                                    controlNav: "thumbnails"
                                });
                            });
                        </script>
                        <!-- //FlexSlider-->
                        <ul class="slides">

                            {% for foto in object.fotos %}

                                <li data-thumb="{% if foto.image %}{{ foto.image.url }}{% else %}{{ foto.downloaded_from }}{% endif %}">
                                    <div class="thumb-image">
                                        <img src="{% if foto.image %}{{ foto.image.url }}{% else %}{{ foto.downloaded_from }}{% endif %}" data-imagezoom="true"
                                             alt="{{ lot.get_image_alt }}"
                                             title="{{ lot.get_image_title }}"
                                             class="img-responsive"></div>
                                </li>
                            {% endfor %}

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 single-right-left simpleCart_shelfItem animated wow slideInRight animated"
                 data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInRight;">
                <h3>{{ object.name }} в магазине <span>{{ object.seller }}</span></h3>

                <p><span class="item_price">{{ object.price }} {{ object.currency|default_if_none:"" }}</span>
                    {% if object.old_price %}
                        <del>- {{ object.old_price }} {{ object.currency|default_if_none:"" }}</del>
                    {% endif %}
                </p>
                {#                <div class="rating1">#}
                {#						<span class="starRating">#}
                {#							<input id="rating5" type="radio" name="rating" value="5">#}
                {#							<label for="rating5">5</label>#}
                {#							<input id="rating4" type="radio" name="rating" value="4">#}
                {#							<label for="rating4">4</label>#}
                {#							<input id="rating3" type="radio" name="rating" value="3" checked="">#}
                {#							<label for="rating3">3</label>#}
                {#							<input id="rating2" type="radio" name="rating" value="2">#}
                {#							<label for="rating2">2</label>#}
                {#							<input id="rating1" type="radio" name="rating" value="1">#}
                {#							<label for="rating1">1</label>#}
                {#						</span>#}
                {#                </div>#}
                <div class="description">


                    <h5>{{ object.get_not_escape_description|safe }}</h5>
                    {#                    <input type="text" value="Enter pincode" onfocus="this.value = '';"#}
                    {#                           onblur="if (this.value == '') {this.value = 'Enter pincode';}" required="">#}
                    {#                    <input type="submit" value="Check">#}
                </div>
                {% if object.vendor %}
                    <div class="occasional">
                        <h5>Vendor: {{ object.vendor }}</h5>
                        <div class="clearfix"></div>
                    </div>
                {% endif %}
                {% if object.model %}
                    <div class="occasional">
                        <h5>Model: {{ object.model }}</h5>
                        <div class="clearfix"></div>
                    </div>
                {% endif %}
                {% if object.vendor_code %}
                    <div class="occasional">
                        <h5>Vendor code: {{ object.vendor_code }}</h5>
                        <div class="clearfix"></div>
                    </div>
                {% endif %}

                <div class="occasion-cart">
                    <a rel="nofollow" target="_blank" href="{% deeplink_lot lot %}" class="item_add hvr-outline-out button2">Купить в магазине</a>
                </div>

            </div>
            <div class="clearfix"></div>

            <div class="bootstrap-tab animated wow slideInUp animated" data-wow-delay=".5s"
                 style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab"
                                                                  data-toggle="tab" aria-controls="home"
                                                                  aria-expanded="true">Описание</a></li>
                        <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab"
                                                   aria-controls="profile">Характеристики</a></li>
                        {#                        <li role="presentation" class="dropdown">#}
                        {#                            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown"#}
                        {#                               aria-controls="myTabDrop1-contents">Information <span class="caret"></span></a>#}
                        {#                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">#}
                        {#                                <li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab"#}
                        {#                                       aria-controls="dropdown1">cleanse</a></li>#}
                        {#                                <li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab"#}
                        {#                                       aria-controls="dropdown2">fanny</a></li>#}
                        {#                            </ul>#}
                        {#                        </li>#}
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home"
                             aria-labelledby="home-tab">
                            <h5>Описание {{ object.name }}</h5>
                            <p>{{ object.description }}</p>

                        </div>
                        <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile"
                             aria-labelledby="home-tab">
                            <h5>Характеристики {{ object.name }}</h5>
                            {% for param in object.lot_params.all %}
                                <li>
                                    {{ param }}: {{ param.value }} {{ param.unit|default_if_none:"" }}
                                </li>

                            {% endfor %}

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //single -->
{% endblock content %}

{% block banner_footer %}
    {#    {% include 'smart_shop/include/coupons.html' %}#}
{% endblock banner_footer %}