{% load staticfiles %}
{% load googleanalytics %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ SITE.name }}{% endblock title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'default/css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>

{% block banner %}

{% endblock banner %}
{% block content %}
{% endblock content %}
{% block banner_footer %}
{% endblock banner_footer %}
</body>
</html>