{% extends 'default/base.html' %}
{% load staticfiles %}
{% load googleanalytics %}



{% block title %}Главная || {{ block.super }}{% endblock title %}
{% block banner %}
{% endblock banner %}

{% block content %}
    <section class="container">
        <div class="login">
            <h1>Поздравляем! Вы успешно добавили сайт.</h1>
{#            <form action="" method="post">#}
{#                {% csrf_token %}#}
{#                <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->#}
{#                {{ form.as_p }}#}
{#                <button type="submit">Кнопка</button>#}
{#            </form>#}
        </div>
    </section>
{% endblock content %}
{% block banner_footer %}
{% endblock banner_footer %}