@font-face {
    font-family: 'Poppins';
    src: local('Poppins Light'), local('Poppins-Light'), url('Poppinslight.woff2') format('woff2'), url('Poppinslight.woff') format('woff'), url('Poppinslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('Poppins-Regular'), url('Poppins.woff2') format('woff2'), url('Poppins.woff') format('woff'), url('Poppins.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Medium'), local('Poppins-Medium'), url('Poppinsmedium.woff2') format('woff2'), url('Poppinsmedium.woff') format('woff'), url('Poppinsmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url('Poppinssemibold.woff2') format('woff2'), url('Poppinssemibold.woff') format('woff'), url('Poppinssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold'), local('Poppins-Bold'), url('Poppinsbold.woff2') format('woff2'), url('Poppinsbold.woff') format('woff'), url('Poppinsbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
