/*------------------------------------------------------------------
[Master Stylesheet]

Project:  Trendsetter
Version:  1.0
Assigned to:  WebNik
Primary use:  Trendsetter
-------------------------------------------------------------------*/


/* FONTS*/
/*@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';*/
/*@import 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext';*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');
@import '../fonts/poppins/poppins.css';
@import '../fonts/font-awesome-4.6.3/css/font-awesome.min.css';
@import '../fonts/stroke/style.css';
@import '../fonts/elegant/style.css';
@import '../fonts/flaticon/flaticon.css';



/* PLUGIN CSS */

@import '../libs/bootstrap/bootstrap.css';                /* bootstrap */
@import '../plugins/bootstrap-select/css/bootstrap-select.css';   /* select customization */
@import '../plugins/headers/header.css';                /* header */
@import '../plugins/headers/yamm.css';                /* header */
@import '../plugins/slider-pro/slider-pro.css';         /* main slider */
@import '../plugins/owl-carousel/owl.theme.css';                 /* other sliders */
@import '../plugins/bxslider/jquery.bxslider.css';                        /* other sliders */
@import '../plugins/magnific-popup/magnific-popup.css';            /* modal */
@import '../plugins/animate/animate.css';                        /* animations */
@import '../plugins/nouislider/jquery.nouislider.css';          /* price filter */
@import url('../plugins/flexslider/flexslider.css');    /* slider */
@import url('../plugins/lighter/jquery.lighter.css'); /* images popab */
@import url('../plugins/cloud-zoom/cloud-zoom.css'); /* images zoom  */



/* MAIN CSS */

@import 'theme.css';
@import 'color.css';
@import 'woo.css';
@import 'woocommerce-layout.css';
@import 'responsive.css';


