{% load admin_modify i18n %}{% if bound_field.original_value %}
    {% trans "Currently:" %} <a href="{{ bound_field.original_url }}"> {{ bound_field.original_value|escape }} </a><br/>
    <img src="{{ bound_field.original_url }}" width="160"/><br/>
    {% trans "Change:" %}{% output_all bound_field.form_fields %}
{% else %} {% output_all bound_field.form_fields %} {% endif %}
