﻿
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-size: 16px;
    display: inline-block;
    padding: 0px 10px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    font-weight: 400;

}

.resp-tabs-list li a {
    text-decoration: none;
    border-bottom: 2px solid #efefef;
}

.resp-tabs-list li a:hover {
    color: #d69941;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
    font-size: 14px;
    margin-top: 2em;
}

h2.resp-accordion {
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
}

.client-text {
    padding: 3em 10em;
}

ul.resp-tabs-list {
    width: 21%;
    margin: 0 auto;
}

.resp-tab-active {
    color: #7F8BA3;
    border-bottom: 2px solid #1a1818
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {

}

h2.resp-accordion {
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #c1c1c1;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 12px !important;
    border-left: 4px solid #71AFFF;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB !important;
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 1440px) {
    ul.resp-tabs-list {
        width: 25%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1280px) {
    ul.resp-tabs-list {
        width: 26%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1024px) {
    ul.resp-tabs-list {
        width: 30%;
    }

    .resp-tabs-list li {
        padding: 0px 7px;
    }

    .resp-tabs-list li a {

        font-size: 0.9em;
    }
}

@media only screen and (max-width: 800px) {
    ul.resp-tabs-list {
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        width: 38%;
    }

    .resp-tabs-list li a {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 640px) {
    .resp-tabs-list li {
        padding: 0px 0px;
    }

    ul.resp-tabs-list {
        width: 43%;
    }

    .resp-tabs-list li a {
        font-size: 0.8em;
        margin: 0 6px;
    }

    div#horizontalTab {
        width: 100% !important;
    }
}

@media only screen and (max-width: 480px) {
    .resp-tabs-container {
        margin-top: 1em;
    }

    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }

    div#horizontalTab {
        padding-top: 0em;
    }

    div#horizontalTab {
        width: 100% !important;
    }

    h2.resp-accordion {
        background: #ddd;
    }
}
