{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Мои шаблоны' %}{% endblock %}

{% block page_title %}{% trans 'Управление шаблонами' %}{% endblock page_title %}
{% block extra_css %}

    <link rel="stylesheet" href={% static "adminlte/plugins/datatables/dataTables.bootstrap.css" %}>

{% endblock extra_css %}

{% block content %}

    <div class="box">
        <div class="box-header">
            {#            <div class="">#}
            <div class="text-right">
                {#                <a href="#">#}
                {#                    <button type="button" class="btn btn-success">{% trans 'Как добавить шаблон' %}</button>#}
                {#                </a>#}
                <!-- Button trigger modal -->
                <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
                    {% trans 'Как добавить шаблон' %}
                </button>
            </div>
            <!-- Modal -->

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModal">{% trans "Как мне добавить свой шаблон?" %}</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                Пока у нас не реализована автоматическая загрузка шаблонов и все шаблоны добавляются
                                вручную. Чтобы добавить шаблон, вам необходимо иметь HTML шаблон со следующими
                                страницами:
                                главная страница, страница категории товаров, страница товара. Дополнительные страницы:
                                страница 404, страница регистрации, логина и сброса пароля, страница подписки и отписки
                                от email рассылки.</p>
                            <p>
                                Таблицы стилей, скрипты и картинки должны быть в отдельных файлах и лежать в отдельной
                                папке.</p>
                            <p>
                                Пришлите ваш шаблон, к нам на почту support@mycpashop.ru с темой письма «Шаблон для
                                сайта».</p>
                            <p>
                                После добавления шаблона мы обязательно вас уведомим.</p>
                            <p>
                                Шаблон будет закреплен только за вами, если вы, конечно, не хотите сделать его
                                общедоступным.</p>

                            <p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">{% trans 'Close' %}</button>
                            {#                                <button type="button" class="btn btn-primary">Save changes</button>#}
                        </div>
                    </div>
                </div>




            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="api" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Имя' %}</th>
                    <th>{% trans 'Папка' %}</th>
                    <th>{% trans 'Пагинация' %}</th>
                    <th>{% trans 'Категорий в меню' %}</th>
                    <th>{% trans 'Категорий в субменю' %}</th>
                    {% if user.is_superuser %}
                        <th>{% trans 'User' %}</th>
                    {% endif %}
                    <th>{% trans 'Action' %}</th>
                </thead>
                <tbody>
                {% for template in template_list %}
                    <tr>
                        <td>{{ template.name }}</td>
                        <td>{{ template.folder }}</td>
                        <td>{{ template.paginate_by }}</td>
                        <td>{{ template.number_of_categories }}</td>
                        <td>{{ template.number_of_subcategories }}</td>
                        {% if user.is_superuser %}
                            <td>{{ template.user }}</td>
                        {% endif %}
                        <td>
                            {% if template.user == user or user.is_superuser %}
                                <a href="{% url 'template_update' template.pk %}">
                                    <button type="button" class="btn btn-success"
                                            data-toggle="tooltip" data-placement="top" title="Редактировать">
                                        <span class="fa fa-edit"></span></button>
                                </a>
                                <a href="{% url 'template_delete' template.pk %}">
                                    <button type="button" class="btn btn-danger"
                                            data-toggle="tooltip" data-placement="top" title="Удалить">
                                        <span class="glyphicon glyphicon-remove"></span></button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->



{% endblock content %}

{% block extra_script %}
    <!-- DataTables -->
    <script src={% static "adminlte/plugins/datatables/jquery.dataTables.min.js" %}></script>
    <script src={% static "adminlte/plugins/datatables/dataTables.bootstrap.min.js" %}></script>
    <!-- SlimScroll -->
    <script src={% static "adminlte/plugins/slimScroll/jquery.slimscroll.min.js" %}></script>
    <!-- FastClick -->
    <script src={% static "adminlte/plugins/fastclick/fastclick.min.js" %}></script>
    <!-- AdminLTE App -->
    <script src={% static "adminlte/dist/js/app.min.js" %}></script>
    <!-- AdminLTE for demo purposes -->
    <script src={% static "adminlte/dist/js/demo.js" %}></script>

    {% verbatim %}
    <script>
        $(function () {
            $("#api").DataTable(
                {
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                }
            );

        });
    </script>
    {% endverbatim %}

{% endblock extra_script %}