{% load staticfiles deeplink_lot %}

<!-- content-bottom -->
{#{{ content_object|slice:"0:1" }} #}
{# Получили список второго элемента #}


<div class="content-bottom">
    <div class="col-md-7 content-lgrid">
        <div class="col-sm-6 content-img-left text-center">
            {{ content_object|first }}
            <div class="content-grid-effect slow-zoom vertical">
                <div class="img-box"><img src='{{ special.2.main_foto.image.url }}' alt="image"
                                          class="img-responsive zoom-img"></div>
                <div class="info-box">
                    <div class="info-content simpleCart_shelfItem">
                        <h4>{{ special.0.name }}</h4>
                        <span class="separator"></span>
                        <p><span class="item_price">{{ special.0.price }}</span></p>
                        <span class="separator"></span>
                        <a class="item_add hvr-outline-out button2" href="{% deeplink_lot special.0 %}">add to cart </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 content-img-right">
            <h3>Special Offers and 50%<span>Discount On</span> Mobiles</h3>
        </div>

        <div class="col-sm-6 content-img-right">
            <h3>Buy 1 get 1 free on <span> Branded</span> Watches</h3>
        </div>
        <div class="col-sm-6 content-img-left text-center">
            <div class="content-grid-effect slow-zoom vertical">
                <div class="img-box"><img src='{% static "smart_shop/images/p2.jpg" %}' alt="image"
                                          class="img-responsive zoom-img"></div>
                <div class="info-box">
                    <div class="info-content simpleCart_shelfItem">
                        <h4>Watches</h4>
                        <span class="separator"></span>
                        <p><span class="item_price">$250</span></p>
                        <span class="separator"></span>
                        <a class="item_add hvr-outline-out button2" href="#">add to cart </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-5 content-rgrid text-center">
        <div class="content-grid-effect slow-zoom vertical">
            <div class="img-box"><img src='{% static "smart_shop/images/p4.jpg" %}' alt="image"
                                      class="img-responsive zoom-img"></div>
            <div class="info-box">
                <div class="info-content simpleCart_shelfItem">
                    <h4>Shoes</h4>
                    <span class="separator"></span>
                    <p><span class="item_price">$150</span></p>
                    <span class="separator"></span>
                    <a class="item_add hvr-outline-out button2" href="#">add to cart </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //content-bottom -->