{% load staticfiles deeplink_lot menu_tags %}

<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li class="active menu__item menu__item--current"><a class="menu__link"
                                                                                 href="{% url 'main_view' %}">Home
                                <span class="sr-only">(current)</span></a></li>
                            {% root_menu_facet as root_menus %}
                            {% for root_menu in root_menus %}
                                <li class="dropdown menu__item">
                                    <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">{{ root_menu.0 }}<span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-6 multi-gd-img1 multi-gd-text ">

                                                <a href="{{ root_menu.2.object.get_absolute_url }}"><img
                                                        src='{{ root_menu.2.object.main_foto.get_image }}'
                                                        alt=" "/></a>
                                            </div>
                                            <div class="col-sm-3 multi-gd-img">
                                                <ul class="multi-column-dropdown">
                                                    {% for nav_children in root_menu.1 %}
                                                        <li>
                                                            {% if nav_children.2.object.category.get_absolute_url %}
                                                                <a href="{{ nav_children.2.object.category.get_absolute_url }}">{{ nav_children.0 }}</a>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
