{% load deeplink_lot %}
{% load thumbnail %}
<div class="col-md-3 product-men yes-marg">
    <div class="men-pro-item simpleCart_shelfItem">
        <div class="men-thumb-item">
            {% thumbnail result.object.main_foto.get_image "255x227" crop="center" as im %}

{#            <img src='{{ result.object.main_foto.get_image }}' alt="{{ result.object.get_image_alt }}"#}
            <img src='{{ im.url }}' width='{{ im.width }}' height='{{ im.height }}' alt='{{ result.object.get_image_alt }}'
                 title='{{ result.object.get_image_title }}'
                 class="pro-image-front">
            <img src='{{ im.url }}' width='{{ im.width }}' height='{{ im.height }}' alt="{{ result.object.get_image_alt }}"
                 title="{{ result.object.get_image_title }}"
                 class="pro-image-back">
        {% endthumbnail %}
            <div class="men-cart-pro">
                <div class="inner-men-cart-pro">
                    <a href="{{ result.object.get_absolute_url }}"
                       class="link-product-add-cart">Подробнее</a>
                </div>
            </div>
            {#            <span class="product-new-top">{{ result.object.pk }}</span>#}
            {% if result.object.amount_discount != 0 %}
                <span class="product-new-top">-{{ result.object.amount_discount }}%</span>

            {% else %}
                <span class="product-new-top">New</span>
            {% endif %}
        </div>
        <div class="item-info-product ">
            <h4>
                <a href="{{ result.object.get_absolute_url }}">{{ result.object.name|truncatechars:17 }}</a>
            </h4>
            <div class="info-product-price">
                                            <span class="item_price">{{ result.object.price }}
                                                {% if result.object.currency.short_name %}
                                                    {{ result.object.currency.short_name }}
                                                    {#                                                {% else %}#}
                                                    {#                                                    {{ result.object.currency }}#}
                                                {% endif %}
                                            </span>
                <del>{{ result.object.old_price|default_if_none:"" }}</del>
            </div>
            <a rel="nofollow" target="_blank" href="{% deeplink_lot result.object %}"
               class="item_add single-item hvr-outline-out button2">Купить</a>
        </div>
    </div>
</div>