{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}Dashboard{% endblock title %}</title>
    <meta name="generator" content="Bootply"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'crm_admin/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'crm_admin/css/styles.css' %}" rel="stylesheet">
    {% block meta_extra %}{% endblock meta_extra %}
    {% block script_extra %}{% endblock script_extra %}
</head>
<body>
{% include 'crm_admin/include/navbar-header.html' %}
{% block banner %}{% endblock banner %}
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        {% include 'crm_admin/include/navigation.html' %}
{#        <p class="visible-xs">#}
{#            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i#}
{#                    class="glyphicon glyphicon-chevron-left"></i></button>#}
{#        </p>#}

        <h1 class="page-header">
            Dashboard
        </h1>
        <div class="col-sm-9 col-md-10 main">
            Базовый шаблон
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div><!--/.container-->
{% include 'crm_admin/include/footer.html' %}
{% block banner_footer %}

{% endblock banner_footer %}

{% block script_extra_footer %}


{% endblock script_extra_footer %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="{% static 'crm_admin/js/bootstrap.min.js' %}"></script>
<script src="{% static 'crm_admin/js/scripts.js' %}"></script>
</body>
</html>