{% extends 'default/base.html' %}
{% load staticfiles %}
{% load googleanalytics %}



{% block title %}Register || {{ block.super }}{% endblock title %}



{% block banner %}

{% endblock banner %}
{% block content %}
    <section class="container">
        <div class="login">
            <h1>Register webmaster</h1>

            <form method="post" action="{% url 'register_webmaster' %}">
                {% csrf_token %}
                <p><input type="text" name="username" value="" placeholder="Логин"></p>
                <p><input type="text" name="email" value="" placeholder="Email"></p>
                <p><input type="password" name="password" value="" placeholder="Пароль"></p>
                <p><input type="password" name="password2" value="" placeholder="Повторите пароль"></p>
                {#                                            <p class="remember_me">#}
                {#                                                <label>#}
                {#                                                    <input type="checkbox" name="" id="is_webmaster">#}
                {#                                                    Я вебмастер#}
                {#                                                </label>#}
                {#                                            </p>#}
                <p class="submit"><input type="submit" name="commit" value="Зарегистрироваться"></p>

            </form>

        </div>
    </section>
{% endblock content %}
{% block banner_footer %}
{% endblock banner_footer %}