<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                {#                <li><a href="#">Settings</a></li>#}
                {#                <li><a href="#">Profile</a></li>#}
                <li><a href="#">Help</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Профиль</a></li>
                        <li><a href="#">Настройки</a></li>
                        <li><a href="{% url 'password_change' %}">Изменить пароль</a></li>
                        {#                        <li class="divider"></li>#}
                        {#                        <li><a href="#">Отдельная ссылка</a></li>#}
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}">Выход</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>