<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="http://bootstrapzero.com" target="_ext">Themes</a></li>
        <li><a href="http://bootstrap.theme.cards" target="_ext">Analytics</a></li>
        <li><a href="https://wrapbootstrap.com?ref=skelly" target="_ext">Export</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Nav item</a></li>
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
    </ul>

</div><!--/span-->