{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load deeplink_lot %}

{% block page %}

    {#    <!-- Modal -->#}
    {#    <div class="modal fade" id="add_deeplink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"#}
    {#         aria-hidden="true">#}
    {#        <div class="modal-dialog">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
    {#                    <h4 class="modal-title" id="myModalLabel">Добавить deeplink</h4>#}
    {#                </div>#}
    {#                <div class="modal-body">#}
    {#                    <form action="." method="post">#}
    {#                        {% csrf_token %}#}
    {#                        {{ form }}#}
    {#                        <input type="submit" value="Submit"/>#}
    {#                    </form>#}
    {#                </div>#}
    {#                <div class="modal-footer">#}
    {#                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>#}
    {#                    <button type="button" value="Submit" class="btn btn-primary">Сохранить изменения</button>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <!-- End Modal -->#}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block page_title %}
                <h1>
                    Информация по программе
                    <small>{{ object }}</small>
                </h1>
            {% endblock page_title %}
            {#          <ol class="breadcrumb">#}
            {#            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
            {#            <li class="active">Here</li>#}
            {#          </ol>#}
        </section>

        <!-- Main content -->
        <section class="content">
            {% block content_page %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    {#                                    <a href="{{ mysite.get_http_domain }}" target="_blank">{{ mysite }}</a>#}
                                </h3>
                            </div>
                            <div class="box-body">
                                <dl class="dl-horizontal">
                                    <dt>{% trans 'Сайт' %}</dt>
                                    <dd>{{ object.name|default_if_none:'' }}</dd>
                                    <dt>{% trans 'rating' %}</dt>
                                    <dd>{{ object.rating|default_if_none:'' }}</dd>
                                    <dt>{% trans 'exclusive' %}</dt>
                                    <dd>{{ object.exclusive|default_if_none:'' }}</dd>
{#                                    <dt>{% trans 'regions' %}</dt>#}
{#                                    <dd>{{ object.regions.all|default_if_none:'' }}</dd>#}
                                    {#                                    <dt>{% trans 'web property id google' %}</dt>#}
                                    {#                                    <dd>{{ object.web_property_id|default_if_none:'' }}</dd>#}
                                </dl>
                                {#                                <a href="#">#}
                                {#                                    <button type="submit"#}
                                {#                                            class="btn btn-info pull-right">{% trans 'Изменить' %}</button>#}
                                {#                                </a>#}
                            </div>


                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    {% trans 'Категории' %}
                                </h3>
                            </div>
                            <div class="box-body">
                                <ul class="list-unstyled">
                                    {% for cat in object.categories.all %}
                                        <li>{{ cat }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            {#                                    <a href="{{ mysite.get_http_domain }}" target="_blank">{{ mysite }}</a>#}
                        </h3>
                    </div>
                    <div class="box-body">
{#                        {{ object.raw_description|escape }}#}
                        {% autoescape off %}
                            {{ object.raw_description }}
                        {% endautoescape %}
                    </div>


                </div>
                <!-- Your Page Content Here -->
            {% endblock content_page %}
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}



{% block extra_script %}
    <script src='{% static "adminlte/crm_base.js" %}'></script>
{% endblock extra_script %}