{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Программы' %} - {{ block.super }}{% endblock title %}



{% block page_title %}
    {% trans 'Программы' %}
    <small></small>
{% endblock page_title %}


{% block breadcrumbs %}

    {{ block.super }}
    <li class="active">{% trans 'Программы' %}</li>

{% endblock %}

{% block content %}


    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{% trans 'Program list' %}</h3>
                        <div class="box-tools">

                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover" id="characters">
                            <tbody>
                            <tr>
                                <th>{% trans 'id' %}</th>
                                <th>{% trans 'Имя' %}</th>
                                <th>{% trans 'status' %}</th>
                                <th>{% trans 'allow_deeplink' %}</th>
                                <th></th>
                            </tr>
                            {% if object_list %}
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.id }}</td>
                                        <td>{{ object.name }}</td>
                                        <td>
                                             {{ object.status }}
                                        </td>
                                        <td>{{ object.allow_deeplink|default_if_none:'' }}</td>
                                        <td>
{#                                            <a href="{% url 'char_info_public' character.pk %}"#}
{#                                               class="see_detail">{% trans 'more' %}</a>#}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->


                    <div class="box-footer clearfix">
                        {% include 'dashboard/include/pagination/pagination_sm_right.html' %}
                    </div>
                </div><!-- /.box -->
            </div>
        </div>
    </section>

{% endblock %}