{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Программы' %}{% endblock %}

{% block page_title %}{% trans 'Управление программами' %}{% endblock page_title %}
{% block extra_css %}

    <link rel="stylesheet" href={% static "adminlte/plugins/datatables/dataTables.bootstrap.css" %}>

{% endblock extra_css %}

{% block content %}

    <div class="box">
        <div class="box-header"></div><!-- /.box-header -->
        <div class="box-body">
            <table id="api" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>{% trans 'name' %}</th>
                    <th>{% trans 'url' %}</th>
                    <th>{% trans 'Action' %}</th>

                </thead>
                <tbody>

                {% for object in object_list %}
                    <tr>
                        <td>
                            <img src="{{ object.image }}">
                        </td>
                        <td>{{ object.name }}</td>
                        <td>
                            <a href="{{ object.site_url }}" target="_blank">{{ object.site_url }}</a>
                        </td>
                        <td>
                            <a href="{% url 'admcampaign_detail' object.pk %}">
                                <button type="button" class="btn btn-success"
                                        data-toggle="tooltip" data-placement="top"
                                        title="Подробнее">{% trans 'Подробнее' %}</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->



{% endblock content %}

{% block extra_script %}
    <!-- DataTables -->
    <script src={% static "adminlte/plugins/datatables/jquery.dataTables.min.js" %}></script>
    <script src={% static "adminlte/plugins/datatables/dataTables.bootstrap.min.js" %}></script>
    <!-- SlimScroll -->
    <script src={% static "adminlte/plugins/slimScroll/jquery.slimscroll.min.js" %}></script>
    <!-- FastClick -->
    <script src={% static "adminlte/plugins/fastclick/fastclick.min.js" %}></script>
    <!-- AdminLTE App -->
    <script src={% static "adminlte/dist/js/app.min.js" %}></script>
    <!-- AdminLTE for demo purposes -->
    <script src={% static "adminlte/dist/js/demo.js" %}></script>

    {% verbatim %}
    <script>
        $(function () {
            $("#api").DataTable(
                {
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                }
            );

        });
    </script>
    {% endverbatim %}

{% endblock extra_script %}