{% extends "dashboard/base/user_base.html" %}
{% load bootstrap %}
{% load i18n static %}


{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>CPA</b>Shop</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">{% trans "Password reset" %}</p>
            {% if validlink %}
                <form class="form-signin" role="form" action="" method="POST">
                    {% csrf_token %}
                    {{ form |bootstrap }}
                    <div class="">
                        <button class="btn btn-lg btn-primary btn-block"
                                type="submit">{% trans 'Change Password' %}</button>
                    </div>
                </form>
            {% else %}

                <h1>{% trans 'Password reset unsuccessful' %}</h1>

                <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

                <a href="{% url 'password_reset' %}">{% trans 'I forgot my password' %}</a><br>

            {% endif %}
        </div>
    </div>
{% endblock %}

