{% extends "dashboard/base/user_base.html" %}
{% load bootstrap %}
{% load i18n static %}


{% block title %}{% trans 'Password reset success' %}{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>CPA</b>Shop</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">{% trans 'Password reset success' %}</p>
            <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>

            <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

        </div>
    </div>
{% endblock %}

