{% extends "dashboard/base/user_base.html" %}
{% load bootstrap %}
{% load i18n static %}


{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>CPA</b>Shop</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">{% trans "Password reset" %}</p>

            <form class="form-signin" role="form" action="" method="POST">
                {% csrf_token %}
                {#                    <h1 class="text-center">{% trans "Password reset" %}</h1>#}

                <p class="text-center">{% trans "Forgotten your password? Enter your email below." %}</p>
                {{ form|bootstrap }}
                <div class="">
                    <button class="btn btn-lg btn-primary btn-block"
                            type="submit">{% trans 'Reset Password' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}








