{% extends "dashboard/base/user_base.html" %}
{% load bootstrap %}
{% load i18n static %}


{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}
<div class="login-box">
        <div class="login-logo">
            <a href="/"><b>CPA</b>Shop</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">{% trans 'Password reset complete' %}</p>

            <p class="text-center">{% trans "Your password has been set." %}</p>

                <a href="{{ login_url }}">
                    <button class="btn btn-primary btn-block">{% trans 'Log In' %}</button>
                </a>
        </div>
    </div>


{% endblock %}


