{% extends "dashboard/base.html" %}
{% load bootstrap %}
{% load i18n static %}


{% block title %}{% trans 'Password change' %}{% endblock %}
{% block page_title %}
    {% trans 'Change Password' %}
    {#    <small>Optional description</small> #}
{% endblock page_title %}
{% block content %}
    <div class="col-lg-12">

        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <p class="text-center">
                        {% trans 'Completed' %}
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
