<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action=".">
    <table>
        <tbody>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Search"></td>
            </tr>
        </tbody>
    </table>
</form>

{% if query %}
    <!-- Begin faceting. -->
    <h2>By category_parent</h2>

    <div>
        <dl>
            {% if facets.fields.category_parent %}
                <dt>category_parent</dt>
                {# Provide only the top 5 category_parents #}
                {% for category_parent in facets.fields.category_parent|slice:":5" %}
                    <dd><a href="{{ request.get_full_path }}&amp;selected_facets=category_parent_exact:{{ category_parent.0|urlencode }}">{{ category_parent.0 }}</a> ({{ category_parent.1 }})</dd>
                {% endfor %}
            {% else %}
                <p>No category_parent facets.</p>
            {% endif %}
        </dl>
    </div>
    <!-- End faceting -->

    <!-- Display results... -->
    {% for result in page.object_list %}
        <div class="search_result">
            <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h3>

            <p>{{ result.object.body|truncatewords:80 }}</p>
        </div>
    {% empty %}
        <p>Sorry, no results found.</p>
    {% endfor %}
{% endif %}
</body>
</html>