{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extra_css %}
    {#    <!-- Select2 -->#}
    <link rel="stylesheet" href='{% static  "adminlte/plugins/select2/select2.min.css" %}'>
    <link rel="stylesheet" href='{% static  "adminlte/dist/css/AdminLTE.min.css" %}'>
    {#      <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">#}
{% endblock %}

{% block page %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block page_title %}
                <h1>
                    Page Header
                    <small>Optional description</small>
                </h1>
            {% endblock page_title %}
            {#          <ol class="breadcrumb">#}
            {#            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
            {#            <li class="active">Here</li>#}
            {#          </ol>#}
        </section>

        <!-- Main content -->
        <section class="content">
            {% block content_page %}

                <!-- /.col -->
                <div class="form-group">
                    <label>Multiple</label>
                    <select class="form-control select2" multiple="multiple"
                            data-placeholder="Select a State" style="width: 100%;">
                        <option>Alabama</option>
                        <option>Alaska</option>
                        <option>California</option>
                        <option>Delaware</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Washington</option>
                    </select>
                </div>
                <!-- /.form-group -->                <!-- Your Page Content Here -->
            {% endblock content_page %}
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}
{% block extra_script %}



    <script src='{% static "adminlte/plugins/select2/select2.full.min.js" %}'></script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();


        });
    </script>

{% endblock extra_script %}


{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
{#    <title>Hello, world!</title>#}
{#    <!-- Required meta tags -->#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
{##}
{#    <!-- Bootstrap CSS -->#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"#}
{#          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">#}
{##}
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>#}
{#</head>#}
{#<body>#}
{#<h1>Hello, world!</h1>#}
{##}
{##}
{#<select class="js-example-basic-multiple" name="states[]" multiple="multiple">#}
{#    <option value="AL">Alabama</option>#}
{#    <option value="WY">Wyoming</option>#}
{#</select>#}
{##}
{##}
{#<div class="s2-example">#}
{#    <select class="js-example-basic-single js-states form-control" multiple="multiple">#}
{##}
{#        <option value="AL">Alabama</option>#}
{#        <option value="WY">Wyoming</option>#}
{##}
{#    </select>#}
{#</div>#}
{##}
{##}
{#<!-- Optional JavaScript -->#}
{#<!-- jQuery first, then Popper.js, then Bootstrap JS -->#}
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"#}
{#        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"#}
{#        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"#}
{#        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>#}
{#<script>#}
{#    $(document).ready(function () {#}
{#        $('.js-example-basic-multiple').select2();#}
{#        $('.js-example-basic-single').select2();#}
{#    });#}
{#</script>#}
{#</body>#}
{#</html>#}