{% load thumbnail i18n %}<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{{ newsletter.title }}: {{ message.title }}</title>
</head>
<body>
<h1>{{ newsletter.title }}</h1>
<h2>{{ message.title }}</h2>
{% for article in message.articles.all %}
    <h3>{{ article.title }}</h3>

    {% thumbnail article.image "200x200" as image %}
        <img src="http://{{ site.domain }}{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}">
    {% endthumbnail %}

    <div>{{ article.text|safe }}</div>

    {% if article.url %}
        <div><a href="{{ article.url }}">{% trans "Read more" %}</a></div>
    {% endif %}
{% endfor %}

<ul>
    {% if submission.publish %}
        <li><a href="http://{{ site.domain }}{{ submission.get_absolute_url }}">{% trans "Read message online" %}</a>
        </li>
    {% endif %}
    <li><a href="http://
            {{ site.domain }}{% url "newsletter_unsubscribe_request" newsletter.slug %}">{% trans "Unsubscribe" %}</a>
    </li>
</ul>
</body>
</html>
