{% load i18n %}<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{% blocktrans with title=newsletter.title %}Subscription to {{ title }}{% endblocktrans %}
    </title>
</head>
<body>
{% blocktrans with name=subscription.name title=newsletter.title domain=site.domain url=subscription.subscribe_activate_url %}
    Dear {{ name }},

    you, or someone in your name requested a subscription to {{ title }}.

    If you would like to confirm your subscription, please follow this activation link:
    http://{{ domain }}{{ url }}

    Kind regards,{% endblocktrans %}
{{ newsletter.sender }}
</body>
</html>
