{% load i18n %}<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{% blocktrans with title=newsletter.title %}Unsubscription from {{ title }}{% endblocktrans %}</title>
</head>
<body>
{% blocktrans with name=subscription.name title=newsletter.title domain=site.domain url=subscription.unsubscribe_activate_url %}
    Dear {{ name }},

    you, or someone in your name requested unsubscription from {{ title }}.

    If you would like to confirm your unsubscription, please follow this activation link:
    http://{{ domain }}{{ url }}

    Kind regards,{% endblocktrans %}
{{ newsletter.sender }}
</body>
</html>
