<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if form.errors %}
    <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
{% endif %}

<form action='.' method='post'>
    {% csrf_token %}
    <label for="username">Логин:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Пароль:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login"/>
    <input type="hidden" name="next" value="{{ next|escape }}"/>
</form>

</body>
</html>