<div class="contact-section">
    <div class="contact-section-head text-center">
        <h3><span>C</span>ontact Us</h3>
        <p>“let us know your feedbacks and questions”</p>
    </div>
    <div class="contact-form-main">
        <form>
            <label class="span1"></label>
            <input type="text" class="text" value="Name..." onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Name...';}">
            <label class="span2"></label>
            <label class="span3"></label>
            <input type="text" class="text" value="Email..." onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Email...';}">
            <label class="span4"></label>
            <label class="span5"></label>
            <input type="text" class="text" value="Phone..." onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Phone...';}">
            <label class="span6"></label>
            <label class="span7"></label>
                <textarea onfocus="if(this.value == 'Message...') this.value='';"
                          onblur="if(this.value == '') this.value='Your Message';">Message...</textarea>
            <label class="span8"></label>
            <input type="submit" value="">
        </form>
    </div>

</div>