{% load staticfiles %}
<div class="footer">
    <div class="up-arrow">
        <a class="scroll" href="#home"><img src='{% static "pakhi/images/up.png" %}' alt=""/></a>
    </div>
    <div class="container">
        <div class="copyrights">
            <p>Copyright &copy; 2016 All rights reserved</p>
        </div>
        {#        <div class="footer-social-icons">#}
        {#            <a href="#"><i class="fb"></i></a>#}
        {#            <a href="#"><i class="tw"></i></a>#}
        {#            <a href="#"><i class="in"></i></a>#}
        {#            <a href="#"><i class="pt"></i></a>#}
        {#        </div>#}
        <div class="clearfix"></div>
    </div>
</div>