{% load staticfiles deeplink_lot menu_tags %}

<!-- header-section-starts -->
<div class="c-header" id="home">
    <div class="top-header">
        <div class="container">
            <div class="logo">

                <a href="{% url 'main_view' %}"><img src='{% static "pakhi/images/logo.png" %}' alt=""/></a>
            </div>
            <div class="header-top-right">
                <!-- start search-->
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search term..." type="search"
                                   name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <!-- search-scripts -->
                <script src='{% static "pakhi/js/classie.js" %}'></script>
                <script src='{% static "pakhi/js/uisearch.js" %}'></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>
                <!-- //search-scripts -->

                {#                <a href="cart.html"><i class="cart"></i></a>#}
            </div>
            <div class="navigation">
                <div>
                    <label class="mobile_menu" for="mobile_menu">
                        <span>Menu</span>
                    </label>
                    <input id="mobile_menu" type="checkbox">
                    <ul class="nav">
{#                        <li class="active"><a href="{% url 'main_view' %}">Главная</a></li>#}
                        {% menu as root_menus %}
                        {% for root_menu in root_menus %}
                            <li class="dropdown1"><a href="{{ root_menu.get_absolute_url }}">{{ root_menu }}</a>
                                <ul class="dropdown2">
                                    {% menu root_menu.pk as nav_site_children %}
                                    {% for nav_children in nav_site_children %}
                                        <li>
                                            <a href="{{ nav_children.get_absolute_url }}">{{ nav_children }}</a>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </li>
                        {% endfor %}



{#                        <li><a href="contact.html">Contact US</a></li>#}
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>