{% load staticfiles %}

{#<li class="g1">#}
{#    <img src='{{ result.object.main_foto.get_image }}' alt='{{ result.object.get_image_alt }}'/>#}
{#    <a href="{{ result.object.get_absolute_url }}">#}
{#        <div class="caption">#}
{#            <span></span>#}
{#            <h3>{{ result.object.name }}</h3>#}
{#            <h5>#}
{#                <del>{{ result.object.old_price|default_if_none:"" }}</del>#}
{#                {{ result.object.price }} {{ result.object.currency }}</h5>#}
{#        </div>#}
{#    </a>#}
{#    <div class="clearfix"></div>#}
{#</li>#}

<div id="portfoliolist">
    <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
        <div class="portfolio-wrapper">
            <a href='{{ result.object.get_absolute_url }}' class="b-link-stripe b-animate-go  thickbox">

                <img src='{{ result.object.main_foto.get_image }}' class="img-responsive" alt='{{ result.object.get_image_alt }}'/>
                <div class="b-wrapper">
                    <div class="atc"><p>Подробней</p></div>
                    <div class="clearfix"></div>
                    <h2 class="b-animate b-from-left    b-delay03 "><img
                            src='{% static "pakhi/images/icon-eye.png" %}'
                            class="img-responsive go"
                            alt=""/></h2>
                </div>
            </a>
            <div class="title">
                <h5>{{ result.object.name|truncatechars:57 }}</h5>
                <div class="colors">
                    <p><del>{{ result.object.old_price|default_if_none:"" }}</del><span>{{ result.object.currency }}</span></p>
                </div>
                <div class="main-price">
                    <h3>{{ result.object.price }} <span>{{ result.object.currency }}</span></h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>