<div class="container">
        <div class="subscribe-section">
            <div class="subscribe text-center">
                <h4>Subscribe To Our Newsletter</h4>
                <input type="text" class="text" value="Your email..." onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Your email...';}">
                <input type="submit" value="Subscribe">
            </div>
            <div class="social-icons text-center">
                <a href="#"><i class="facebook"></i></a>
                <a href="#"><i class="twitter"></i></a>
                <a href="#"><i class="linkedin"></i></a>
                <a href="#"><i class="pinterest"></i></a>
            </div>
        </div>
    </div>