{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"ru" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% trans 'Dashboard' %}{% endblock title %}</title>
    {% block meta %}
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock meta %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'adminlte/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href={% static  "adminlte/dist/css/AdminLTE.min.css" %}>
        <link rel="stylesheet" href={% static "adminlte/dist/css/skins/skin-blue.min.css" %}>
    {% endblock css %}

    {% block extra_css %}
    {% endblock extra_css %}
    {#    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
    {#    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->#}
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="skin-blue sidebar-mini">
<div class="wrapper">
    {% if user.is_authenticated %}
        {% include 'dashboard/main_header.html' %}
        {% include 'dashboard/left_side_column.html' %}
        {% block page %}
            <div class="content-wrapper" style="min-height: 1904px;">
                <section class="content-header">
                    <h1>
                        {% block page_title %}
                            <small></small>
                        {% endblock page_title %}
                    </h1>
                </section>
                <section class="content">
                    {% block content %}
                    {% endblock content %}
                </section>
            </div>
        {% endblock %}
    {% else %}
    {% endif %}
    {% include 'dashboard/main_footer.html' %}
</div>

{% block script %}
    <script src='{% static "adminlte/plugins/jQuery/jquery-3.1.1.min.js" %}'></script>
    <script src='{% static "adminlte/bootstrap/js/bootstrap.min.js" %}'></script>
    <script src='{% static "adminlte/dist/js/app.min.js" %}'></script>
{% endblock script %}

{% block extra_script %}
{% endblock extra_script %}

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function () {
        var widget_id = '68fjvg0cZ8';
        var d = document;
        var w = window;

        function l() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//code.jivosite.com/script/widget/' + widget_id;
            var ss = document.getElementsByTagName('script')[0];
            ss.parentNode.insertBefore(s, ss);
        }

        if (d.readyState == 'complete') {
            l();
        } else {
            if (w.attachEvent) {
                w.attachEvent('onload', l);
            } else {
                w.addEventListener('load', l, false);
            }
        }
    })();
</script>
<!-- {/literal} END JIVOSITE CODE -->

</body>
</html>
