{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load googleanalytics %}



{% block title %}Главная || {{ block.super }}{% endblock title %}



{% block banner %}

{% endblock banner %}

{% block page_title %}
    MyCpaShop
    <small>Сервис для быстрого создания и размещения в сети интернет-витрины
        партнерского магазина.
    </small>
{% endblock page_title %}
{% block content %}

    <p class="lead"></p>
    <!-- ===================================================================== -->

    <h3 id="component-box" style="">Для кого?</h3>
    <p class="lead">Если вы имеете свой сайт с аудиторией то можете быстро подключить наш сервис для монетизации ваших
        посетителей. Вы получите дополнительный раздел для вашего сайта (блога) на новом домене или на вашем домене
        (поддомене) с вашим шаблоном и тематическими товарами для ваших посетителей. Вам не надо будет задумываться с
        поиском товаров и подключением партнерских магазинов. Мы все сделаем за вас!</p>
    <p class="lead">Если вы думаете как начать свою бизнес карьеру в интернете, начните с нас. С помощью нас вы менее
        чем за час создадите и разместите в сети интернет витрину с любыми товарами от магазинов партнеров. После этого
        вы будете получать свой процент с каждой покупки. От вас потребуется только купить домен. Вы ничего не теряете и
        ничего не платите.
    </p>


    <h3 id="component-box" style="">Сколько это стоит?</h3>
    <p class="lead">Для вас это <b>БЕСПЛАТНО</b>! Мы даем вам готовый инструмент для использования. От вас требуется
        только
        зарегистрироваться на нашем сайте и в системе Admitad и настроить свой сайт. </p>


    <h3 id="component-box" style="">Отличия от других.</h3>
    <p class="lead">Мы принципиально отличаемся от других CMS систем и подобных сервисов. Вам не нужно тратить деньги на
        лицензии. Вам не нужно разбираться, кто такое хостинг, как его настроить и как на нем развернуть скрипт. Мы не
        украдем ваш домен, так как вы регистрируете его на свое имя и без нашего участия.</p>


    <h3 id="component-box" style="">Наши преимущества:</h3>
    {#    <p class="lead">#}
    <ul>
        <li><b>Бесплатно для Вас.</b> Мы зарабатываем на процентах от ваших продаж, но вы не теряете ничего из своего
            заработка, выплата нам идет отдельно от нашего партнера Admitad. Зарабатываете вы, зарабатываем мы!
        </li>
        <li><b>https протокол.</b> Ваши витрины, созданные у нас, работают по защищенному протоколу https.
        </li>
        <li><b>Безопасно.</b> Admitad переведет вам
            выплату напрямую без нашего посредничества.
        </li>
        <li><b>Выгодно.</b> Вы получите все ваши заработанные деньги без каких-то комиссий.
        </li>
        <li><b>Удобная административная панель.</b> Возможность установить свою панель для управления своим аккаунтом.
        </li>
        <li><b>Уже готовые шаблоны для использования.</b></li>
        <li><b>Использование своих собственных шаблонов.</b> Сделайте свой сайт непохожим на другие.</li>
        <li><b>Автоматическое добавление и обновление товаров.</b> Добавьте свои программы, если вам не хватает
            подключенных.
        </li>
        <li><b>Экономия времени.</b> Не ждите одобрения от рекламодателя для ваших площадок, начните продвигать свою
            витрину сразу. Партнерские ссылки подключаться сразу как только вы получите одобрение. Забудьте про битые
            ссылки.
        </li>
        <li><b>Похожие товары.</b> Вы не потеряете посетителя даже если он придет на товар снятый с показа. Мы
            порекомендуем похожие товары.
        </li>
        <li><b>Полнотекстовой поиск товаров.</b></li>
    </ul>
    {#    </p>#}
    <p class="lead">Скажите что вам не хватает и мы это сделаем. Вы принимаете непосредственное участие в развитие
        проекта и улучшаете его вместе с нами. Ваше мнение играет решающую роль.
    </p>
{#    <button class="btn btn-info" data-toggle="control-sidebar">Справка</button>#}
    {#    <h3 id="component-box" style="">Box</h3>#}
    {#    <p class="lead"></p>#}

    {% include 'dashboard/include/jivo_btn.html' %}



    <h3 id="component-box" style="">Для участия на нашем сервисе вам необходимо:</h3>
    <p class="lead"><b>1. </b>Зарегистрироваться в системе <a href="https://www.admitad.com/ru/promo/?ref=97093f4173">Admitad</a>
        по реферальной ссылке</p>

    <p class="lead"><b>2. </b>Перейдите во ссылке <a href='{% url "profile_update" %}'>Api Ключи</a> добавьте Api Ключи
        Admitad.
        Получить ключи можно по ссылке <a href='https://developers.admitad.com/ru/apps/#'>API Ключи</a>.
    </p>

    <p class="lead"><b>3. </b>Перейдите в раздел <a href='{% url "mysite_list" %}'>Мои сайты</a> и нажмите кнопку <b>Как
        добавить домен</b>. Ознакомьтесь с предложенной инструкцией.
    </p>

    <p class="lead"><b></b>Через некоторое время, если вы все сделали правильно и у вас открывается сайт с поздравлением
        об успешном добавление, вы увидите свой сайт в разделе «Мои сайты». </p>

    <p class="lead"><b></b>Для настройки вашего сайта щелкните по зеленой иконке с подсказкой «подробнее».
        В открывшейся странице вы увидите две колонки, в левой части будет информация о сайте (Название сайта, Шаблон
        сайта, Коды валидации адмитад, яндекса и гугла). В правой колонке будет список подключенных программ.
    </p>

    <p class="lead"><b></b>Нажмите на кнопку изменить и выберете шаблон для вашего сайта.</p>

    <h3 id="component-box" style=""></h3>
    <p class="lead"><b></b>Для подтверждения владения площадкой в системе Admitad введите проверочный код в поле
        «Верификационный код Адмитад». Дополните или измените описание сайта (минимум 100 символов, не более 2 000
        символов)</p>

    <p class="lead"><b></b>Не забудьте нажать кнопку сохранить.
    </p>

    <p class="lead"><b></b>Подключенные программы появятся в правой колонке на странице «Информация по сайту».</p>

    {#    <p class="lead"><b></b></p>#}

{% endblock content %}
{% block banner_footer %}
{% endblock banner_footer %}