{% load staticfiles %}
{% load i18n %}

<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
{#              <img src="{% static "adminlte/dist/img/user2-160x160.jpg" %}" class="img-circle" alt="User Image">#}
              <img src="{% static 'adminlte/dist/img/who.png' %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{ user.username }}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
{#          <form action="#" method="get" class="sidebar-form">#}
{#            <div class="input-group">#}
{#              <input type="text" name="q" class="form-control" placeholder="Search...">#}
{#              <span class="input-group-btn">#}
{#                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>#}
{#              </span>#}
{#            </div>#}
{#          </form>#}
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
              <li><a href='{% url "main_crm" %}'><i class="fa fa-book"></i> <span>Главная</span></a></li>
              <li><a href='{% url "mysite_list" %}'><i class="fa fa-book"></i> <span>Мои сайты</span></a></li>
              <li><a href='{% url "template_list" %}'><i class="fa fa-book"></i> <span>Мои шаблоны</span></a></li>
              <li><a href='{% url "deeplink_list" %}'><i class="fa fa-book"></i> <span>Мои deeplink</span></a></li>
{#              <li><a href='#'><i class="fa fa-book"></i> <span>Справка</span></a></li>#}
{#              <li><a href='{% url "crm_dashboard_view" %}'><i class="fa fa-book"></i> <span>Главная</span></a></li>#}

{#            <li class="header">LABELS</li>#}
{#            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>#}
{#            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>#}
{#            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>#}
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>