{% load staticfiles %}
{% load i18n %}

<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="{% url 'main_crm' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>CS</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>CPA</b>shop</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="{% url 'main_crm' %}" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
{#                <li class="dropdown messages-menu">#}
{#                    <!-- Menu toggle button -->#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                        <i class="fa fa-envelope-o"></i>#}
{#                        <span class="label label-success">4</span>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li class="header">{% trans 'You have 4 messages' %}</li>#}
{#                        <li>#}
{#                            <!-- inner menu: contains the messages -->#}
{#                            <ul class="menu">#}
{#                                <li><!-- start message -->#}
{#                                    <a href="#">#}
{#                                        <div class="pull-left">#}
{#                                            <!-- User Image -->#}
{#                                            <img src="{% static "adminlte/dist/img/user2-160x160.jpg" %}"#}
{#                                                 class="img-circle" alt="User Image">#}
{#                                        </div>#}
{#                                        <!-- Message title and timestamp -->#}
{#                                        <h4>#}
{#                                            Support Team#}
{#                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>#}
{#                                        </h4>#}
{#                                        <!-- The message -->#}
{#                                        <p>{% trans 'Why not buy a new awesome theme?' %}</p>#}
{#                                    </a>#}
{#                                </li><!-- end message -->#}
{#                            </ul><!-- /.menu -->#}
{#                        </li>#}
{#                        <li class="footer"><a href="#">{% trans 'See All Messages' %}</a></li>#}
{#                    </ul>#}
{#                </li><!-- /.messages-menu -->#}

                <!-- Notifications Menu -->
{#                <li class="dropdown notifications-menu">#}
{#                    <!-- Menu toggle button -->#}
{#                    <a href="{% url 'main_crm' %}" class="dropdown-toggle" data-toggle="dropdown">#}
{#                        <i class="fa fa-bell-o"></i>#}
{#                        <span class="label label-warning">5</span>#}
                        {#                        <span class="label label-warning">{% notifications %}</span>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li class="header">{% blocktrans %}You have notifications{% endblocktrans %}</li>#}
{#                        <li>#}
{#                            <!-- Inner Menu: contains the notifications -->#}
{#                            <ul class="menu">#}
{#                                <li><!-- start notification -->#}
{##}
                                    {#                                    {% for notification in notifications %}#}
                                    {#                                        <a>#}
                                    {#                                        <i class="fa fa-users text-aqua"></i>{% character notification.sender_id|default_if_none:"NPC" %} - {{ notification.type_id.description|default_if_none:"XZ" }}#}
                                    {#                                        </a>#}
                                    {#                                    {% endfor %}#}
{#                                    <a href="{% url 'main_crm' %}">#}
{#                                        <i class="fa fa-users text-aqua"></i>{% trans '5 new members joined today' %}#}
{#                                    </a>#}
{#                                </li><!-- end notification -->#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="footer"><a href="#">{% trans 'View all' %}</a></li>#}
{#                    </ul>#}
{#                </li>#}
                <!-- Tasks Menu -->
{#                <li class="dropdown tasks-menu">#}
{#                    <!-- Menu Toggle Button -->#}
{#                    <a href="{% url 'main_crm' %}" class="dropdown-toggle" data-toggle="dropdown">#}
{#                        <i class="fa fa-flag-o"></i>#}
{#                        <span class="label label-danger">9</span>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li class="header">{% trans 'You have 9 tasks' %}</li>#}
{#                        <li>#}
{#                            <!-- Inner menu: contains the tasks -->#}
{#                            <ul class="menu">#}
{#                                <li><!-- Task item -->#}
{#                                    <a href="{% url 'main_crm' %}">#}
{#                                        <!-- Task title and progress text -->#}
{#                                        <h3>#}
{#                                            {% trans 'Design some buttons' %}#}
{#                                            <small class="pull-right">20%</small>#}
{#                                        </h3>#}
{#                                        <!-- The progress bar -->#}
{#                                        <div class="progress xs">#}
{#                                            <!-- Change the css width attribute to simulate progress -->#}
{#                                            <div class="progress-bar progress-bar-aqua" style="width: 20%"#}
{#                                                 role="progressbar" aria-valuenow="20" aria-valuemin="0"#}
{#                                                 aria-valuemax="100">#}
{#                                                <span class="sr-only">{% trans '20% Complete' %}</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li><!-- end task item -->#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="footer">#}
{#                            <a href="#">{% trans 'View all tasks' %}</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="{% url 'main_crm' %}" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->

                        <img src="{% static 'adminlte/dist/img/who.png' %}" class="user-image" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{{ user.username }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu 160*160-->
                        <li class="user-header">

                            <img src="{% static 'adminlte/dist/img/who.png' %}" class="img-circle" alt="User Image">
                            <p>
                                {{ user.username }}
{#                                <small>Статус аккаунта</small>#}
                            </p>
                        </li>
                        <!-- Menu Body -->
{#                        <li class="user-body">#}
{#                            <div class="col-xs-4 text-center">#}
{#                                {% trans 'Меню 1' %}#}
{#                            </div>#}
{#                            <div class="col-xs-4 text-center">#}
{#                                {% trans 'Меню 2' %}#}
{#                            </div>#}
{#                            <div class="col-xs-4 text-center">#}
{#                                {% trans 'Меню 3' %}#}
{#                            </div>#}
{#                        </li>#}
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{% url 'profile' %}" class="btn btn-default btn-flat">{% trans 'Profile' %}</a>
                            </div>
                            <div class="pull-right">
                                <a href="{% url 'logout' %}" class="btn btn-default btn-flat">{% trans 'Sign out' %}</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
{#                <li>#}
{#                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>#}
{#                </li>#}
            </ul>
        </div>
    </nav>
</header>