{% load staticfiles %}
{% load i18n %}

<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        {#        Anything you want#}
    </div>
    <!-- Default to the left -->
    <strong>{% trans 'Copyright' %} &copy; 2017 <a
            href="/">MyCPAShop.ru</a>.</strong> {% trans 'All rights reserved.' %}
</footer>