{% load staticfiles %}
{% load googleanalytics %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Интернет магазин {{ SITE.name }}{% endblock title %}</title>
    <link href='{% static "shopper/css/bootstrap.css" %}' rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src='{% static "shopper/js/jquery.min.js" %}'></script>
    <!-- Custom Theme files -->
    <link href='{% static "shopper/css/style.css" %}' rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{#    <meta name="keywords" content="test, test2"/>#}
    {% block meta_extra %}

    {% endblock meta_extra %}
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>





    {% block script_extra %}

    {% endblock script_extra %}
</head>
<body>

{% include 'shopper/include/navbar.html' %}

{% block banner %}

{% endblock banner %}

<div class="tab-section">
{% block content %}

{% endblock content %}
{# навигация #}
{#{% include 'shopper/include/nav_footer.html' %}#}
</div>

{% block banner_footer %}

{% endblock banner_footer %}

{% include 'shopper/include/footer.html' %}
{% analytics %}
</body>
</html>
