{% extends 'shopper/base.html' %}
{% load staticfiles deeplink_lot %}

{% block meta_extra %}
    <meta name="description" content="{{ object.description|striptags|truncatechars:160 }}"/>
    <meta name="keywords" content="{{ object.get_keywords }}"/>
{% endblock meta_extra %}

{% block script_extra %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock script_extra %}

{% block content %}


    <div class="men-fashions">
        <div class="container">
{#            <div class="col-md-9 fashions">#}
                <div class="title">
                    {% if category %}
                        <a href="{% url 'category-view' category.pk %}"><h3>{{ category }}</h3></a>
                    {% endif %}
                    {#                    <h3>TOPS - TITLE</h3>#}
                </div>
                <div class="fashion-section">
                    <div class="fashion-grid1">
                        {% for result in object_list %}
                            {% include 'shopper/include/product_one_category.html' %}


                        {% endfor %}
                        {#                        <div class="col-md-4 fashion-grid">#}
                        {#                            <a href="single.html"><img src="images/m4.jpg" alt=""/>#}
                        {#                                <div class="product">#}
                        {#                                    <h3>PRODUCT NAME</h3>#}
                        {#                                    <p><span></span> 176.00 &euro;</p>#}
                        {#                                </div>#}
                        {#                            </a>#}
                        {#                            <div class="fashion-view"><span></span>#}
                        {#                                <div class="clearfix"></div>#}
                        {#                                <h4><a href="single.html">Quick View</a></h4>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="col-md-4 fashion-grid">#}
                        {#                            <a href="single.html"><img src="images/m2.jpg" alt=""/>#}
                        {#                                <div class="product">#}
                        {#                                    <h3>PRODUCT NAME</h3>#}
                        {#                                    <p><span></span> 176.00 &euro;</p>#}
                        {#                                </div>#}
                        {#                            </a>#}
                        {#                            <div class="fashion-view"><span></span>#}
                        {#                                <div class="clearfix"></div>#}
                        {#                                <h4><a href="single.html">Quick View</a></h4>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="col-md-4 fashion-grid">#}
                        {#                            <a href="single.html"><img src="images/m3.jpg" alt=""/>#}
                        {#                                <div class="product not-avaliable">#}
                        {#                                    <h3>PRODUCT NAME</h3>#}
                        {#                                    <p>#}
                        {#                                        <del><span></span> 176.00 &euro;</del>#}
                        {#                                    </p>#}
                        {#                                </div>#}
                        {#                            </a>#}
                        {#                            <div class="fashion-view"><span></span>#}
                        {#                                <div class="clearfix"></div>#}
                        {#                                <h4 class="sold-out"><a href="single.html">#}
                        {#                                    <del>Sold Out</del>#}
                        {#                                </a></h4>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="clearfix"></div>#}
                        {#                    </div>#}
                        {#                    <div class="fashion-grid2">#}
                        {#                        <div class="col-md-4 fashion-grid">#}
                        {#                            <a href="single.html"><img src="images/m1.jpg" alt=""/>#}
                        {#                                <div class="product">#}
                        {#                                    <h3>PRODUCT NAME</h3>#}
                        {#                                    <p><span></span> 176.00 &euro;</p>#}
                        {#                                </div>#}
                        {#                            </a>#}
                        {#                            <div class="fashion-view"><span></span>#}
                        {#                                <div class="clearfix"></div>#}
                        {#                                <h4><a href="single.html">Quick View</a></h4>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="col-md-4 fashion-grid">#}
                        {#                            <a href="single.html"><img class="img-responsive zoom-img" src="images/m6.jpg" alt=""/>#}
                        {#                                <div class="product not-avaliable">#}
                        {#                                    <h3>PRODUCT NAME</h3>#}
                        {#                                    <p>#}
                        {#                                        <del><span></span> 176.00 &euro;</del>#}
                        {#                                    </p>#}
                        {#                                </div>#}
                        {#                            </a>#}
                        {#                            <div class="fashion-view"><span></span>#}
                        {#                                <div class="clearfix"></div>#}
                        {#                                <h4 class="sold-out"><a href="single.html">#}
                        {#                                    <del>Sold Out</del>#}
                        {#                                </a></h4>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="col-md-4 fashion-grid">#}
                        {#                            <a href="single.html"><img src="images/m5.jpg" alt=""/>#}
                        {#                                <div class="product">#}
                        {#                                    <h3>PRODUCT NAME</h3>#}
                        {#                                    <p><span></span> 176.00 &euro;</p>#}
                        {#                                </div>#}
                        {#                            </a>#}
                        {#                            <div class="fashion-view"><span></span>#}
                        {#                                <div class="clearfix"></div>#}
                        {#                                <h4><a href="single.html">Quick View</a></h4>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="clearfix"></div>#}
                    </div>
                </div>
            {% include 'smart_shop/include/pagination.html' %}
{#            </div>#}

{#            <div class="col-md-3 side-bar">#}
{#                <div class="categories">#}
{#                    <h3>CATEGORIES</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">accessories</a></li>#}
{#                        <li><a href="#">basics</a></li>#}
{#                        <li><a href="#">jackets</a></li>#}
{#                        <li><a href="#">jeans</a></li>#}
{#                        <li><a href="#">knits</a></li>#}
{#                        <li><a href="#">overalls</a></li>#}
{#                        <li><a href="#">over coats</a></li>#}
{#                        <li><a href="#">shoes</a></li>#}
{#                        <li><a href="#">sweatshirts</a></li>#}
{#                        <li><a href="#">trousers</a></li>#}
{#                        <li><a href="#">#}
{#                            <del>tops</del>#}
{#                        </a></li>#}
{#                        <li><a href="#">watersuits</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="sales">#}
{#                    <h3>SALE</h3>#}
{#                    <div class="pricing">#}
{#                        <h4>Price range</h4>#}
{#                        <input type="text" placeholder="price from" required/>#}
{#                        <input type="text" placeholder="price to" required/>#}
{#                        <div class="clearfix"></div>#}
{#                    </div>#}
{#                    <div class="size">#}
{#                        <h4>Size</h4>#}
{#                        <ul>#}
{#                            <li><a href="#">XS</a></li>#}
{#                            <li><a href="#">S</a></li>#}
{#                            <li><a href="#">M</a></li>#}
{#                            <li><a href="#">L</a></li>#}
{#                            <li><a href="#">XL</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="clearfix"></div>#}
        </div>
    </div>

{% endblock content %}