{% extends 'shopper/base.html' %}
{% load staticfiles deeplink_lot googleanalytics %}

{% block title %}{{ block.super }}{% endblock title %}
{% block meta_extra %}{% include 'verify_cpa.html' %}{% endblock meta_extra %}

{% block script_extra %}
<!---- tabs---->
    <link type="text/css" rel="stylesheet" href='{% static "shopper/css/easy-responsive-tabs.css" %}'/>
    <script src='{% static "shopper/js/easyResponsiveTabs.js" %}' type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });

            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!---- tabs---->
{% endblock script_extra %}
{% block banner %}
    {% include 'shopper/include/banner_index.html' %}
{% endblock banner %}


{% block content %}
    <div class="wrap">
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                <li><a href="#">НОВИНКИ</a></li>
                <li class="active"><a href="#">ПОПУЛЯРНОЕ</a></li>
                <li><a href="#">СКИДКИ</a></li>
                <div class="clearfix"></div>
            </ul>
            <div class="resp-tabs-container">
                <!---tab1----->
                <div>
                    <div class="course_demo1">
                        <ul id="flexiselDemo1">

                            {% for result in new_lots %}
                                {% if result.object %}
                                    {% include 'shopper/include/product_one_index.html' %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <link rel="stylesheet" href='{% static "shopper/css/flexslider.css" %}' type="text/css"
                          media="screen"/>
                    <script type="text/javascript">
                        $(window).load(function () {
                            $("#flexiselDemo1").flexisel({
                                visibleItems: 4,
                                animationSpeed: 1000,
                                autoPlay: true,
                                autoPlaySpeed: 3000,
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint: 480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint: 640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint: 768,
                                        visibleItems: 3
                                    }
                                }
                            });

                        });
                    </script>

                    <script type="text/javascript" src='{% static "shopper/js/jquery.flexisel.js" %}'></script>
                </div>
                <!---//tab1----->
                <!---tab2----->
                <div>
                    <div class="course_demo1">
                        <ul id="flexiselDemo2">
                            {% for result in special %}
                                {% if result.object %}
                                    {% include 'shopper/include/product_one_index.html' %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <link rel="stylesheet" href='{% static "shopper/css/flexslider.css" %}' type="text/css"
                          media="screen"/>
                    <script type="text/javascript">
                        $(window).load(function () {
                            $("#flexiselDemo2").flexisel({
                                visibleItems: 4,
                                animationSpeed: 1000,
                                autoPlay: true,
                                autoPlaySpeed: 3000,
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint: 480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint: 640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint: 768,
                                        visibleItems: 3
                                    }
                                }
                            });

                        });
                    </script>

                    <script type="text/javascript" src='{% static "shopper/js/jquery.flexisel.js" %}'></script>
                </div>
                <!---//tab2----->
                <!---tab3----->
                <div>
                    <div class="course_demo1">
                        <ul id="flexiselDemo3">
                            {% for result in sale %}
                                {% if result.object %}
                                    {% include 'shopper/include/product_one_index.html' %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <link rel="stylesheet" href='{% static "shopper/css/flexslider.css" %}' type="text/css"
                          media="screen"/>
                    <script type="text/javascript">
                        $(window).load(function () {
                            $("#flexiselDemo3").flexisel({
                                visibleItems: 4,
                                animationSpeed: 1000,
                                autoPlay: true,
                                autoPlaySpeed: 3000,
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint: 480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint: 640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint: 768,
                                        visibleItems: 3
                                    }
                                }
                            });

                        });
                    </script>

                    <script type="text/javascript" src='{% static "shopper/js/jquery.flexisel.js" %}'></script>
                </div>
                <!---//tab3----->
            </div>
        </div>
    </div>


{% endblock content %}
		