{% extends 'shopper/base.html' %}
{% load staticfiles deeplink_lot %}

{% block title %}Купить {{ query }} в магазине {{ SITE.name }}{% endblock title %}

{% block meta_extra %}
    <meta name="description" content="Огромный выбор {{ query|lower }} в интернет магазине {{ SITE.name }}"/>
    <meta name="keywords" content="{{ query }}"/>
{% endblock meta_extra %}


{% block script_extra %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock script_extra %}


{% block content %}
    <div class="men-fashions">
        <div class="container">
                <div class="title">
                    {% if category %}
                        <a href="{% url 'category-view' category.pk %}"><h3>{{ category }}</h3></a>
                    {% endif %}
                </div>
                <div class="fashion-section">
                    <div class="fashion-grid1">
                    {% for result in object_list %}
                        {% if result.object %}
                           {% include 'shopper/include/product_one_search.html' %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            {% include 'smart_shop/include/pagination.html' %}
        </div>
    </div>
{% endblock content %}


{% block banner_footer %}
    {#    {% include 'smart_shop/include/coupons.html' %}#}
{% endblock banner_footer %}