{% extends 'shopper/base.html' %}
{% load staticfiles deeplink_lot menu_tags %}

{% block title %}Купить {{ object.name|lower }} за {{ object.price }} рублей. {{ block.super }}{% endblock title %}

{% block meta_extra %}
    <meta name="description" content="{{ object.description|striptags|truncatechars:160 }}"/>
    <meta name="keywords" content="{{ object.get_keywords }}"/>
{% endblock meta_extra %}
{% block script_extra %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock script_extra %}

{% block content %}

    <!---->
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 1
            $("#slider2").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });
    </script>

    <script src='{% static "shopper/js/responsiveslides.min.js" %}'></script>
    <div class="single-section">
        <div class="container">
            {% if category %}
                <a href="{% url 'category-view' category.pk %}"><h3>{{ category }}</h3></a>
            {% endif %}
            {% if query %}
                <h3>{{ query }}</h3>
            {% endif %}
        </div>
        <div class="col-md-8 fashions2">
            <div class="slider2">
                <ul class="rslides rslider" id="slider2">
                    {% for foto in object.fotos %}
                        <li>
                            <img src='

                                    {% if foto.image %}{{ foto.image.url }}{% else %}{{ foto.downloaded_from }}{% endif %}'
                                 alt="{{ lot.get_image_alt }}"
                                 title="{{ lot.get_image_title }}">
                        </li>
                    {% endfor %}


                    {#                    <li><img src="images/s2.jpg" alt=""></li>#}
                    {#                    <li><img src="images/s3.jpg" alt=""></li>#}
                    {#                    <li><img src="images/s4.jpg" alt=""></li>#}
                    {#                    <li><img src="images/s11.jpg" alt=""></li>#}


                </ul>
            </div>
        </div>
        <div class="col-md-4 side-bar2">
            <div class="product-price">
                <div class="product-name">
                    <h2>{{ object.name }} от магазина {{ object.seller }}</h2>
                    <p>{{ object.description }}</p>
                    <span>{{ object.price }} {{ object.currency }}</span>


                    {% if object.old_price %}
                        <h4>
                            <del>{{ object.old_price }} {{ object.currency }}</del>
                        </h4>
                    {% endif %}
                    <div class="clearfix"></div>

                </div>
                <div class="product-id"><a rel="nofollow" target="_blank" href="{% deeplink_lot lot %}">
                    <h4>Выбрать размер и цвет</h4></a>
                    <div class="size select-size">
                        {#                        <ul>#}
                        {#                            <li><a href="#">XS</a></li>#}
                        {#                            <li><a href="#">S</a></li>#}
                        {#                            <li><a href="#">M</a></li>#}
                        {#                            <li><a href="#">L</a></li>#}
                        {#                            <li><a href="#">XL</a></li>#}
                        {#                        </ul>#}
                    </div>
                    {% if object.vendor %}
                        <p>VENDOR : {{ object.vendor }}</p>
                    {% endif %}
                    {% if object.model %}
                        <p>MODEL : {{ object.model }}</p>
                    {% endif %}
                    {% if object.vendor_code %}
                        <p>Vendor code : {{ object.vendor_code }}</p>
                    {% endif %}

                    {#                    <p>PRODUCT ID : <a href="#">D35TSJ69NU</a></p>#}
                    <a rel="nofollow" target="_blank" href="{% deeplink_lot lot %}" class="add">Купить</a>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

{% endblock content %}