{% load staticfiles %}
{% load googleanalytics %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{% block title %}Интернет магазин {{ SITE.name }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="content-language" content="ru-ru">
    <meta name="HandheldFriendly" content="true"/>
    <link rel="stylesheet" href="{% static 'trendsetter/assets/css/master.css' %}"/>
    {% block meta_extra %}{% endblock meta_extra %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#    <link rel="icon" type="image/x-icon" href="favicon.ico"/>#}
    {% block script_extra %}
    {% endblock script_extra %}
</head>
<body>
{% include 'trendsetter/include/loader.html' %}
<div class="l-theme">
    <div class="wrap-content">
        {% include 'trendsetter/include/modal.html' %}
        {% include 'trendsetter/include/menu_mobile.html' %}
        {% include 'trendsetter/include/menu_popap.html' %}
        {% include 'trendsetter/include/header.html' %}

        {% block banner %}
        {% endblock banner %}

        {% block content %}
        {% endblock content %}


        {% block banner_footer %}
        {% endblock banner_footer %}
        {#        {% include 'trendsetter/include/newsletter.html' %}#}
        {% include 'trendsetter/include/footer.html' %}
    </div>
</div>

{% block script_extra_footer %}


{% endblock script_extra_footer %}
{% analytics %}

</body>
</html>
