{% extends 'trendsetter/base.html' %}
{% load staticfiles deeplink_lot args %}
{% block title %}{% include '_base_script/title.html' %}{% endblock title %}
{% block meta_extra %}{% include '_base_script/meta_extra.html' %}{% endblock meta_extra %}
{% block script_extra %}

{% endblock script_extra %}


{% block banner %}

{% endblock banner %}


{% block content %}

    {#    <div class="wrap-content">#}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    {% if category %}
                        {% for ancestor in category.get_ancestors %}
                            <li><a href="{{ ancestor.get_absolute_url }}">{{ ancestor }}</a></li>
                        {% endfor %}

                        <li class="active">{{ category }}</li>
                    {% endif %}
                    {% if query %}
                        <li class="active">{{ query }}</li>{% endif %}
                </ol>
            </div>
        </div>
    </div>
    <div class="b-title-page b-title-page_w_bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page__title">
                        {% if category %}{{ category }}{% elif query %}{{ query }}{% endif %}</h1>
                    <ul class="b-title-page__list list-inline">
                        {#<li><a href="catalog-list.html">MEN</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end b-title-page-->

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% if is_paginated %}
                    <div class="b-goods-number-products">Showing {{ page_obj.start_index }} to {{ page_obj.end_index }}
                        of {{ paginator.count }} products
                    </div>
                {% endif %}
            </div>
            <div class="col-md-9">
                <div class="b-goods-headers">
                    <div class="b-goods-headers__view"><i
                            class="b-goods-headers__view-item active fa fa-th js-view-col"></i><i
                            class="b-goods-headers__view-item fa fa-list js-view-list"></i></div>
                    <div class="b-goods-headers__sorting">
                        {#                        <div class="b-goods-headers__sorting-name">Sort by:</div>#}
                        {#                        <select data-width="auto" class="selectpicker">#}
                        {#                            <option>Popularity</option>#}
                        {#                            <option>Popularity 1</option>#}
                        {#                            <option>Popularity 2</option>#}
                        {#                            <option>Popularity 3</option>#}
                        {#                        </select>#}
                        {#                    </div>#}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                <div class="l-main-content">
                    <div class="b-goods-catalog">

                        {#                        {% autopaginate object_list 36 %}#}

                        {% for result in object_list %}
                            {% if result.object %}

                                {% include 'trendsetter/include/product_one.html' %}
                            {% endif %}
                        {% endfor %}


                    </div>

                    {% include 'trendsetter/include/pagination.html' %}


                </div>
            </div>
            <div class="col-md-3 col-md-pull-9">
                <aside class="l-sidebar">


                    <form class="form-filter" method="get" action="">
                        <section class="section-sidebar">
                            <h3 class="sidebar-title">Select price</h3>
                            <div class="b-slider-price">
                                <div class="js-slider-price"></div>
                                <div class="b-slider-price__inner">PRICE:
                                    <input type="text" name="price_from" id="price_from" value="{{ price_from }}"
                                           class="b-slider-price__input text-right js-slider-price_min"/> —
                                    <input type="text" name="price_to" id="price_to" value="{{ price_to }}"
                                           class="b-slider-price__input js-slider-price_max"/>
                                    {% for k,list in param_filters.lists %}
                                        {#                                        {{ price_from }}  {{ price_to }}#}
                                        {% if k != 'price_to' and k != 'price_from' %}
                                            {% for l in list %}
                                                <input type="hidden" name="{{ k }}" value="{{ l }}"/>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                            <!-- end .b-slider-price-->

                        </section>
                        {#<section class="section-sidebar">#}
                        {#    <h3 class="sidebar-title">categories</h3>#}
                        {#    <div id="accordion" class="accordion accordion-2">#}
                        {##}
                        {##}
                        {#        <div class="panel">#}
                        {#            <div class="panel-heading"><a data-toggle="collapse"#}
                        {#              data-parent="#accordion" href="#categories-4"#}
                        {#              class="btn-collapse"><i class="icon"></i> Bags</a>#}
                        {#            </div>#}
                        {#            <div id="categories-4" class="panel-collapse collapse">#}
                        {#                <div class="label-group">#}
                        {#                    <input id="categories__radio-13" type="radio"#}
                        {#                           name="categories-group-4" value="" checked="checked"#}
                        {#                           class="forms__radio hidden"/>#}
                        {#                    <label for="categories__radio-13"#}
                        {#                           class="forms__label forms__label-radio forms__label-radio-1">Bags#}
                        {#                        1</label>#}
                        {#                    <input id="categories__radio-14" type="radio"#}
                        {#                           name="categories-group-4" value=""#}
                        {#                           class="forms__radio hidden"/>#}
                        {#                    <label for="categories__radio-14"#}
                        {#                           class="forms__label forms__label-radio forms__label-radio-1">Bags#}
                        {#                        2</label>#}
                        {#                    <input id="categories__radio-15" type="radio"#}
                        {#                           name="categories-group-4" value=""#}
                        {#                           class="forms__radio hidden"/>#}
                        {#                    <label for="categories__radio-15"#}
                        {#                           class="forms__label forms__label-radio forms__label-radio-1">Bags#}
                        {#                        3</label>#}
                        {#                </div>#}
                        {#            </div>#}
                        {#        </div>#}
                        {##}
                        {#        <div class="panel">#}
                        {#            <div class="panel-heading"><a data-toggle="collapse"#}
                        {#              data-parent="#accordion" href="#categories-5"#}
                        {#              class="btn-collapse"><i class="icon"></i>#}
                        {#                Discounted products</a></div>#}
                        {#            <div id="categories-5" class="panel-collapse collapse">#}
                        {#                <div class="label-group">#}
                        {#                    <input id="categories__radio-16" type="radio"#}
                        {#                           name="categories-group-5" value="" checked="checked"#}
                        {#                           class="forms__radio hidden"/>#}
                        {#                    <label for="categories__radio-16"#}
                        {#                           class="forms__label forms__label-radio forms__label-radio-1">products#}
                        {#                        1</label>#}
                        {#                    <input id="categories__radio-17" type="radio"#}
                        {#                           name="categories-group-5" value=""#}
                        {#                           class="forms__radio hidden"/>#}
                        {#                    <label for="categories__radio-17"#}
                        {#                           class="forms__label forms__label-radio forms__label-radio-1">products#}
                        {#                        2</label>#}
                        {##}
                        {#                </div>#}
                        {#            </div>#}
                        {#        </div>#}
                        {#    </div>#}
                        {#</section>#}
                        {#<section class="section-sidebar">#}
                        {#    <h3 class="sidebar-title">color</h3>#}
                        {#    <div class="checkbox-group">#}
                        {#        <input id="check-1" type="checkbox" checked="checked"#}
                        {#               class="forms__check hidden"/>#}
                        {#        <label for="check-1"#}
                        {#               class="forms__label forms__label-check forms__label-check-2">Black</label>#}
                        {#        <input id="check-2" type="checkbox" class="forms__check hidden"/>#}
                        {#        <label for="check-2"#}
                        {#               class="forms__label forms__label-check forms__label-check-2">White</label>#}
                        {#        <input id="check-3" type="checkbox" checked="checked"#}
                        {#               class="forms__check hidden"/>#}
                        {#        <label for="check-3"#}
                        {#               class="forms__label forms__label-check forms__label-check-2">Blue</label>#}
                        {#        <input id="check-4" type="checkbox" class="forms__check hidden"/>#}
                        {#        <label for="check-4"#}
                        {#               class="forms__label forms__label-check forms__label-check-2">Green</label>#}
                        {#        <input id="check-5" type="checkbox" class="forms__check hidden"/>#}
                        {#        <label for="check-5"#}
                        {#               class="forms__label forms__label-check forms__label-check-2">Yellow</label>#}
                        {#    </div>#}
                        {#</section>#}
                        <button type="submit" class="btn-filter btn btn-primary btn-effect">FILTER</button>
                    </form>
                </aside>
                <!-- end .sidebar-->


            </div>
        </div>
    </div>





{% endblock content %}





{% block banner_footer %}

{% endblock banner_footer %}

{% block script_extra_footer %}
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="{% static 'trendsetter/assets/libs/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'trendsetter/assets/libs/jquery-migrate-1.2.1.js' %}"></script>
    <!-- Bootstrap-->
    <script src="{% static 'trendsetter/assets/libs/bootstrap/bootstrap.min.js' %}"></script>
    <!-- User customization-->
    <script src="{% static 'trendsetter/assets/js/custom.js' %}"></script>
    <!-- Other slider-->
    <script src="{% static 'trendsetter/assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <!-- Pop-up window-->
    <script src="{% static 'trendsetter/assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- Headers scripts-->
    <script src="{% static 'trendsetter/assets/plugins/headers/slidebar.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/headers/header.js' %}"></script>
    <!-- Select customization-->
    <script src="{% static 'trendsetter/assets/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <!-- Mail scripts-->
    <script src="{% static 'trendsetter/assets/plugins/jqBootstrapValidation.js' %}"></script>
    {#    <script src="{% static 'trendsetter/assets/plugins/contact_me.js' %}"></script>#}
    <!-- Filter and sorting images-->
    <script src="{% static 'trendsetter/assets/plugins/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/isotope/imagesLoaded.js' %}"></script>
    <!-- Shuffle TODO-->
    <script src="{% static 'trendsetter/assets/plugins/letters/jquery.shuffleLetters.js' %}"></script>
    <!-- Progress numbers-->
    <script src="{% static 'trendsetter/assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/rendro-easy-pie-chart/waypoints.min.js' %}"></script>
    <!-- Animations-->
    <script src="{% static 'trendsetter/assets/plugins/scrollreveal/scrollreveal.min.js' %}"></script>
    <!-- Main slider-->
    <script src="{% static 'trendsetter/assets/plugins/slider-pro/jquery.sliderPro.min.js' %}"></script>
    <!-- Price filter TODO-->
    <script src="{% static 'trendsetter/assets/plugins/nouislider/jquery.nouislider.all.min.js' %}"></script>

{% endblock script_extra_footer %}