{% extends 'trendsetter/base.html' %}
{% load staticfiles deeplink_lot %}

{% block title %}{{ block.super }}{% endblock title %}

{% block meta_extra %}
    {% include '_base_script/verify_cpa.html' %}
{% endblock meta_extra %}

{% block script_extra %}

{% endblock script_extra %}


{% block banner %}
    {##}
    {#    {% include 'smart_shop/include/banner_index.html' %}#}
    {#        {% include 'smart_shop/include/new_arrivals.html' %}#}
    {#        {% include 'smart_shop/include/content-bottom.html' %}#}
{% endblock banner %}

{% block content %}
    {#{% include 'trendsetter/include/banner_index.html' %}#}
    {#{% include 'trendsetter/include/b-presentation.html' %}#}




    <section class="section-goods-1">

        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-lg-offset-1">
                <h2 class="ui-title-inner">Популярные товары</h2>
            </div>
        </div>

        <div data-min480="2" data-min768="3" data-min992="4" data-min1200="6" data-pagination="false"
             data-navigation="true" data-auto-play="4000" data-stop-on-hover="true"
             class="owl-carousel owl-theme owl-theme_mod-a enable-owl-carousel js-zoom-gallery">


            {% for result in new_lots %}
                {% if result.object %}
                    {% include 'trendsetter/include/product_one_index.html' %}
                {% endif %}
            {% endfor %}


        </div>
    </section>

    {#        <div class="section-advantages-1">#}
    {#            <div class="container">#}
    {#                <div class="row">#}
    {#                    <div class="col-sm-3">#}
    {#                        <div class="b-advantages-1"><i class="b-advantages-1__icon flaticon-hanger"></i><span#}
    {#                                class="b-advantages-1__title ui-title-inner">Items in stock</span><span#}
    {#                                class="b-advantages-1__info">Aenean finibus arcu sit amet magna pulvinar, ac posuere.</span>#}
    {#                        </div>#}
    {#                        <!-- end .b-advantages-->#}
    {#                    </div>#}
    {#                    <div class="col-sm-3">#}
    {#                        <div class="b-advantages-1"><i class="b-advantages-1__icon flaticon-time"></i><span#}
    {#                                class="b-advantages-1__title ui-title-inner">Same day handling</span><span#}
    {#                                class="b-advantages-1__info">Quisque porta libero laoreet augue volutpat, id laoreet lectus tincidunt.</span>#}
    {#                        </div>#}
    {#                        <!-- end .b-advantages-->#}
    {#                    </div>#}
    {#                    <div class="col-sm-3">#}
    {#                        <div class="b-advantages-1"><i class="b-advantages-1__icon flaticon-arrow"></i><span#}
    {#                                class="b-advantages-1__title ui-title-inner">Fast shipping</span><span#}
    {#                                class="b-advantages-1__info">Pellentesque vitae velit mattis, pellentesque nunc a, porta nibh.</span>#}
    {#                        </div>#}
    {#                        <!-- end .b-advantages-->#}
    {#                    </div>#}
    {#                    <div class="col-sm-3">#}
    {#                        <div class="b-advantages-1"><i class="b-advantages-1__icon flaticon-coins"></i><span#}
    {#                                class="b-advantages-1__title ui-title-inner">Payment methods</span><span#}
    {#                                class="b-advantages-1__info">Ut sagittis viverra enim, et mattis turpis ultricies sit amet. </span>#}
    {#                        </div>#}
    {#                        <!-- end .b-advantages-->#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}










{% endblock content %}



{% block banner_footer %}
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="{% static 'trendsetter/assets/libs/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'trendsetter/assets/libs/jquery-migrate-1.2.1.js' %}"></script>
    <!-- Bootstrap-->
    <script src="{% static 'trendsetter/assets/libs/bootstrap/bootstrap.min.js' %}"></script>
    <!-- User customization-->
    <script src="{% static 'trendsetter/assets/js/custom.js' %}"></script>
    <!-- Other slider-->
    <script src="{% static 'trendsetter/assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <!-- Pop-up window-->
    <script src="{% static 'trendsetter/assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- Headers scripts-->
    <script src="{% static 'trendsetter/assets/plugins/headers/slidebar.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/headers/header.js' %}"></script>
    <!-- Select customization-->
    <script src="{% static 'trendsetter/assets/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <!-- Mail scripts-->
    <script src="{% static 'trendsetter/assets/plugins/jqBootstrapValidation.js' %}"></script>
    {#    <script src="{% static 'trendsetter/assets/plugins/contact_me.js' %}"></script>#}
    <!-- Filter and sorting images-->
    <script src="{% static 'trendsetter/assets/plugins/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/isotope/imagesLoaded.js' %}"></script>
    <!-- Progress numbers-->
    <script src="{% static 'trendsetter/assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/rendro-easy-pie-chart/waypoints.min.js' %}"></script>
    <!-- Animations-->
    <script src="{% static 'trendsetter/assets/plugins/scrollreveal/scrollreveal.min.js' %}"></script>
    <!-- Main slider-->
    <script src="{% static 'trendsetter/assets/plugins/slider-pro/jquery.sliderPro.min.js' %}"></script>
    {#    {% include 'smart_shop/include/coupons.html' %}#}
{% endblock banner_footer %}



