{% extends 'trendsetter/base.html' %}
{% load staticfiles deeplink_lot args %}
{% block title %}{% include '_base_script/title.html' %}{% endblock title %}
{% block meta_extra %}{% include '_base_script/meta_extra.html' %}{% endblock meta_extra %}
{% block script_extra %}

{% endblock script_extra %}


{% block banner %}

{% endblock banner %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Login</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="b-title-page b-title-page_w_bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page__title shuffle">Login</h1>
                    <ul class="b-title-page__list list-inline">
                        {#                            <li><a href="dashboard.html">my account</a></li>#}
                        {#                            <li><a href="orders.html">my order</a></li>#}
                        {#                            <li><a href="addresses.html">my address</a></li>#}
                        {#                            <li><a href="details.html">my details</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end b-title-page-->

    <div class="container">
        <div class="row">
            <div class="col-md-9 ">
                <div class="woocommerce">
                    <h2>Login</h2>
                                    {% if form.errors %}
                    <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
                {% endif %}
                    <form method="post" class="login" action="{% url 'login' %}">
                        {% csrf_token %}
                        <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                            <label for="username">Username or email address <span class="required">*</span></label>
                            <input type="text" name="username" class="woocommerce-Input">
                        </p>
                        <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                            <label for="password">Password <span class="required">*</span></label>
                            <input class="woocommerce-Input woocommerce-Input--text input-text" type="password"
                                   name="password">
                        </p>
                        <p class="form-row">
                            <input type="submit" class="woocommerce-Button button" name="login" value="Login">

                        </p>
                        <p class="woocommerce-LostPassword lost_password">
                            <a href="#lost-password.html">Lost your password?</a>
                        </p>
                         <input type="hidden" name="next" value="{{ next|escape }}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}





{% block banner_footer %}

{% endblock banner_footer %}

{% block script_extra_footer %}
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="{% static 'trendsetter/assets/libs/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'trendsetter/assets/libs/jquery-migrate-1.2.1.js' %}"></script>
    <!-- Bootstrap-->
    <script src="{% static 'trendsetter/assets/libs/bootstrap/bootstrap.min.js' %}"></script>
    <!-- User customization-->
    <script src="{% static 'trendsetter/assets/js/custom.js' %}"></script>
    <!-- Other slider-->
    <script src="{% static 'trendsetter/assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <!-- Pop-up window-->
    <script src="{% static 'trendsetter/assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- Headers scripts-->
    <script src="{% static 'trendsetter/assets/plugins/headers/slidebar.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/headers/header.js' %}"></script>
    <!-- Select customization-->
    <script src="{% static 'trendsetter/assets/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <!-- Mail scripts-->
    <script src="{% static 'trendsetter/assets/plugins/jqBootstrapValidation.js' %}"></script>
    {#    <script src="{% static 'trendsetter/assets/plugins/contact_me.js' %}"></script>#}
    <!-- Filter and sorting images-->
    <script src="{% static 'trendsetter/assets/plugins/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/isotope/imagesLoaded.js' %}"></script>
    <!-- Shuffle TODO-->
    <script src="{% static 'trendsetter/assets/plugins/letters/jquery.shuffleLetters.js' %}"></script>
    <!-- Progress numbers-->
    <script src="{% static 'trendsetter/assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/rendro-easy-pie-chart/waypoints.min.js' %}"></script>
    <!-- Animations-->
    <script src="{% static 'trendsetter/assets/plugins/scrollreveal/scrollreveal.min.js' %}"></script>
    <!-- Main slider-->
    <script src="{% static 'trendsetter/assets/plugins/slider-pro/jquery.sliderPro.min.js' %}"></script>
    <!-- Price filter TODO-->
    <script src="{% static 'trendsetter/assets/plugins/nouislider/jquery.nouislider.all.min.js' %}"></script>

{% endblock script_extra_footer %}