{% extends 'smart_shop/base.html' %}
{% load staticfiles deeplink_lot %}

{% block title %}Купить {{ query }} в магазине {{ SITE.name }}{% endblock title %}

{% block meta_extra %}
    <meta name="description" content="Огромный выбор {{ query|lower }} в интернет магазине {{ SITE.name }}"/>
    <meta name="keywords" content="{{ query }}"/>
{% endblock meta_extra %}




{% block script_extra %}


{% endblock script_extra %}


{% block banner %}
    {% include 'smart_shop/include/banner_page.html' %}
{% endblock banner %}


{% block content %}
    <div class="men-wear">
        <div class="container">
            <div class="col-md-4 products-left">
                <div class="clearfix"></div>
            </div>
            <div class="col-md-8 products-right">


                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="single-pro">
                {% for result in object_list %}
                    {% if result.object %}
                        {% include 'smart_shop/include/product_one.html' %}
                    {% endif %}
                {% endfor %}
                <div class="clearfix"></div>
            </div>
            {% include 'smart_shop/include/pagination.html' %}
        </div>
    </div>
    <!-- //mens -->
{% endblock content %}


{% block banner_footer %}
    {#    {% include 'smart_shop/include/coupons.html' %}#}
{% endblock banner_footer %}