{% extends 'trendsetter/base.html' %}
{% load staticfiles deeplink_lot menu_tags %}

{% block title %}Купить {{ object.name|lower }} за {{ object.price }} рублей. {{ block.super }}{% endblock title %}

{% block meta_extra %}
    <meta name="description" content="{{ object.description|striptags|truncatechars:160 }}"/>
    <meta name="keywords" content="{{ object.get_keywords }}"/>
    <meta property="og:title" content="{{ object.name }}"/>
    <meta property="og:type" content="website">
    <meta property="og:image"
          content="{% if foto.image %}{{ foto.image.url }}{% else %}{{ foto.downloaded_from }}{% endif %}">
    <meta property="og:url" content="{{ gfu }}"/>
    <meta property="og:description" content="{{ object.get_not_escape_description|safe }}"/>

{% endblock meta_extra %}

{% block script_extra %}

{% endblock script_extra %}

{% block banner %}
{% endblock banner %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    {% if object.category %}
                        {% for ancestor in object.category.get_ancestors %}
                            <li><a href="{{ ancestor.get_absolute_url }}">{{ ancestor }}</a></li>
                        {% endfor %}
                        <li class="active"><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a>
                        </li>
                    {% endif %}


                </ol>
            </div>
        </div>
    </div>
    <div class="goods-card">
        <div class="container">
            <div class="row">
                <div class="b-goods-carousel">
                    {% include 'trendsetter/include/single_foto_slider.html' %}

                    <div class="col-lg-4 col-lg-offset-1 col-md-5">
                        <section class="b-goods-3 b-goods-3_mod-a">
                            <div class="b-goods-3__category">{{ object.category }}</div>
                            <h3 class="b-goods-3__name">{{ object.name }} от магазина <span>{{ object.seller }}</span>
                            </h3>
                            <div class="b-goods-3__price color-primary">{{ object.price }} {{ object.currency|default_if_none:"" }}</div>
                            {% if object.old_price %}
                                <div class="b-goods-3__price-old">{{ object.old_price }} {{ object.currency|default_if_none:"" }}</div>
                                <div class="b-goods-3__label bg-secondary">sale</div>
                            {% endif %}


                            <div class="b-goods-3__description">{{ object.get_not_escape_description|safe }}</div>
                        </section>
                        <!-- end b-goods-->


                        <form class="form-goods form-goods_color_light form-horizontal">

                            <div class="enumerator"><span class="enumerator__btn js-minus_btn">-</span>
                                <input type="text" value="1" class="enumerator__input"><span
                                        class="enumerator__btn js-plus_btn">+</span>
                            </div>


                            <a rel="nofollow" target="_blank" href="{% deeplink_lot lot %}">
                                <div class="btn btn-primary btn-effect">В корзину</div>
                            </a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-goods-tab">
        <!-- Nav tabs-->
        <ul class="b-goods-tab-nav nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Описания</a></li>
            <li><a href="#information" data-toggle="tab">Характиристики</a></li>
            {#            <li><a href="#reviews" data-toggle="tab">Отзывы (0)</a></li>#}
            <li><a href="#related" data-toggle="tab">Похожие товары</a></li>
        </ul>
        <!-- Tab panes-->
        <div class="b-goods-tab-content tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <section class="section-goods-description">
                                {% if object.vendor %}
                                    <h2 class="b-goods-tab-content__title">{{ object.vendor }}</h2>
                                {% endif %}
                                <div class="b-goods-tab-content__subtitle color-primary"><h1>{{ object.name }}</h1>
                                </div>
                                <div class="b-goods-tab-content__text">{{ object.description|safe }}
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div id="information" class="tab-pane fade">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-container">
                                <table class="b-goods-table-information">
                                    <tbody>

                                    {% if object.vendor %}
                                        <tr>
                                            <td class="color-secondary">Vendor:</td>
                                            <td>{{ object.vendor }}</td>
                                        </tr>


                                    {% endif %}
                                    {% if object.model %}
                                        <tr>
                                            <td class="color-secondary">Model:</td>
                                            <td>{{ object.model }}</td>
                                        </tr>

                                    {% endif %}
                                    {% if object.vendor_code %}
                                        <tr>
                                            <td class="color-secondary">Vendor code:</td>
                                            <td>{{ object.vendor_code }}</td>
                                        </tr>

                                    {% endif %}
                                    {% for param in object.lot_params.all %}
                                        <tr>
                                            <td class="color-secondary">{{ param }}:</td>
                                            <td>{{ param.value }} {{ param.unit|default_if_none:"" }}</td>
                                        </tr>




                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="related" class="tab-pane fade">
                <div class="container">
                    <div class="tab-group-goods">
                        <div class="js-scroll-content">
                            <div class="row">
                                {% for result in related_lots %}
                                    <div class="col-md-3">
                                        {#280x320#}
                                        {% include 'trendsetter/include/product_one_index.html' %}
                                        <!-- end b-goods-->
                                    </div>
                                {% endfor %}


                            </div>
                        </div>
                        <span class="btn-scroll-next btn btn-default btn-effect center-block js-scroll-next"><i
                                class="icon fa fa-arrow-circle-down color-primary"></i>Load more</span>
                        <div class="js-scroll-content">
                            <div class="row">
                                {% for result in related_more_lots %}
                                    <div class="col-md-3">
                                        {#280x320#}
                                        {% include 'trendsetter/include/product_one_index.html' %}
                                        <!-- end b-goods-->
                                    </div>
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



{% endblock content %}



{% block script_extra_footer %}
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->



    <script src="{% static 'trendsetter/assets/libs/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'trendsetter/assets/libs/jquery-migrate-1.2.1.js' %}"></script>
    <!-- Bootstrap-->
    <script src="{% static 'trendsetter/assets/libs/bootstrap/bootstrap.min.js' %}"></script>
    <!-- User customization-->
    <script src="{% static 'trendsetter/assets/js/custom.js' %}"></script>
    <!-- Other slider-->
    <script src="{% static 'trendsetter/assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <!-- Pop-up window-->
    <script src="{% static 'trendsetter/assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- Headers scripts-->
    <script src="{% static 'trendsetter/assets/plugins/headers/slidebar.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/headers/header.js' %}"></script>
    <!-- Select customization-->
    <script src="{% static 'trendsetter/assets/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <!-- Mail scripts-->
    <script src="{% static 'trendsetter/assets/plugins/jqBootstrapValidation.js' %}"></script>
    {#    <script src="{% static 'trendsetter/assets/plugins/contact_me.js' %}"></script>#}
    <!-- Filter and sorting images-->
    <script src="{% static 'trendsetter/assets/plugins/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/isotope/imagesLoaded.js' %}"></script>
    <!-- Progress numbers-->
    <script src="{% static 'trendsetter/assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/rendro-easy-pie-chart/waypoints.min.js' %}"></script>
    <!-- Animations-->
    <script src="{% static 'trendsetter/assets/plugins/scrollreveal/scrollreveal.min.js' %}"></script>
    <!-- Slider-->
    <script src="{% static 'trendsetter/assets/plugins/bxslider/vendor/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/bxslider/vendor/jquery.fitvids.js' %}"></script>
    <script src="{% static 'trendsetter/assets/plugins/bxslider/jquery.bxslider.min.js' %}"></script>
{% endblock script_extra_footer %}
{% block banner_footer %}
{% endblock banner_footer %}