{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load flatpages %}

{% block page %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block page_title %}
                <h1>
                    {{ flatpage.title }}
                    <small></small>
                </h1>
            {% endblock page_title %}
            {#          <ol class="breadcrumb">#}
            {#            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
            {#            <li class="active">Here</li>#}
            {#          </ol>#}
        </section>

        <!-- Main content -->
        <section class="content">
            {% block content_page %}

                {{ flatpage.content }}
                {% get_flatpages as flatpages %}
                <ul>
                    {% for page in flatpages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
                <!-- Your Page Content Here -->
            {% endblock content_page %}
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}