{% if category %}
    <meta name="description"
          content="Огромный выбор {{ category|lower }} в интернет магазине {{ category.get_seller|default:SITE.name }}"/>
    <meta name="keywords" content="{{ category }}, {{ category.get_seller|default:SITE.name }}"/>
    <meta property="og:title" content="{{ category }}"/>
    <meta property="og:type" content="website">
    {#    <meta property="og:image"#}
    {#          content="{% if foto.image %}{{ foto.image.url }}{% else %}{{ foto.downloaded_from }}{% endif %}">#}
    <meta property="og:url" content="{{ gfu }}"/>
    {#    <meta property="og:description" content="{{ object.get_not_escape_description|safe }}"/>#}

{% elif query %}
    <meta name="description" content="Огромный выбор {{ query|lower }} в интернет магазине {{ SITE.name }}"/>
    <meta name="keywords" content="{{ query }}"/>
    <meta property="og:title" content="{{ query }}"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ gfu }}"/>
{% endif %}
