
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}
{% load new_tags %}


{% block extra_css %}{% endblock extra_css %}


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

{#<div class="navbar navbar-default navbar-fixed-top" role="navigation">#}
{#    <div class="container">#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
            <a class="navbar-brand" href="#">{% trans 'Alliance' %} {{ ALLIANCE_NAME }}</a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                {% else %}
                {% endif %}
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
{#                <li><a href="../navbar/">Меню</a></li>#}
{#                <li><a href="../navbar-static-top/">Статическое</a></li>#}
{#                <li class="active"><a href="./">Фиксированное</a></li>#}

                {% get_available_languages as languages %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Language' %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for lang_code, lang_name in languages %}
                            {% language lang_code %}
                                <li><a href="{% change_lang lang_code %}">{{ lang_name }}</a></li>
                            {% endlanguage %}
                        {% endfor %}

                    </ul>
                </li>

                {% if user.is_authenticated %}
                    <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'auth_logout_user' %}">{% trans 'Logout' %}</a></li>
                    </ul>
                    </li>

                {% else %}
                    <li><a href="{% url 'auth_login_user' %}">{% trans 'Login' %}</a></li>

                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

