<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Фиксированное меню</h1>
        <p>Этот шаблон <strong>фиксированной панели навигации</strong> создан для наглядного примера. Меню растянуто на всю ширину экрана и <strong>всегда</strong> прижато к верхней части страницы.</p>
         <p>Чтобы увидеть разницу между простым, статическим и фиксированным меню, покрутите колесо мышки.</p>
        <p>{{ user }}
          <a class="btn btn-lg btn-primary" href="../../components.php/#navbar" role="button">Панель навигации &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->

