{% load staticfiles %}
{#"{% static 'crm_admin/css/bootstrap.min.css' %}"#}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76"
          href="{% static 'crm_admin/paper_dashboard/assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{% static 'crm_admin/paper_dashboard/assets/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>{% block title %}Dashboard{% endblock title %}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    {% block meta_extra %}{% endblock meta_extra %}
    {% block script_extra %}{% endblock script_extra %}
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'crm_admin/paper_dashboard/assets/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href="{% static 'crm_admin/paper_dashboard/assets/css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'crm_admin/paper_dashboard/assets/css/paper-dashboard.css' %}" rel="stylesheet"/>


    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'crm_admin/paper_dashboard/assets/css/themify-icons.css' %}" rel="stylesheet">

</head>
<body>

<div class="wrapper">
    {% include 'crm_admin/paper_dashboard/include/navigation.html' %}


    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
                                <p>Stats</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="ti-settings"></i>
                                <p>Settings</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        {% block content %}
        {% endblock content %}

        {% include 'crm_admin/paper_dashboard/include/footer.html' %}


    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="{% static 'crm_admin/paper_dashboard/assets/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="{% static 'crm_admin/paper_dashboard/assets/js/bootstrap-checkbox-radio.js' %}"></script>

<!--  Charts Plugin -->
<script src="{% static 'crm_admin/paper_dashboard/assets/js/chartist.min.js' %}"></script>

<!--  Notifications Plugin    -->
<script src="{% static 'crm_admin/paper_dashboard/assets/js/bootstrap-notify.js' %}"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="{% static 'crm_admin/paper_dashboard/assets/js/paper-dashboard.js' %}"></script>


</html>
