{% load form_tags %}
{% load widget_tweaks %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% comment %}
        Make the field widget type available to templates so we can mark-up
        checkboxes differently to other widgets.
    {% endcomment %}
    {% annotate_form_field field %}
    {% block control_group %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {% block label %}
                {% if not nolabel and field.widget_type != 'CheckboxInput' %}
                    <label for="{{ field.auto_id }}"
                           class="{% if style|default:"stacked" != 'stacked' %}col-sm-10{% endif %}col-sm-2 control-label{% if field.field.required %} required{% endif %}">
                        {{ field.label|safe }}
                    </label>
                {% endif %}
            {% endblock %}
            {% block controls %}
                <div class="{% if style|default:"stacked" != 'stacked' %}col-sm-7{% else %}col-sm-10{% endif %}">
                    {% block widget %}
                        {#                        {{ field.widget_type }}#}
                        {% if field.widget_type == 'CheckboxInput' %}
                            <label for="{{ field.auto_id }}"
                                   class="checkbox {% if field.field.required %}required{% endif %}">
                                {{ field.label|safe }}
                                {% render_field field class+="form-control" %}
                            </label>
                        {% elif field.widget_type == 'SelectMultiple' %}
                            {#                            <option value="{{ field.auto_id }}">{{ field }}</option>#}
                            {% render_field field class+="form-control select2" multiple="multiple" data-placeholder=field.help_text %}
                            {#                            <label>{{ field.name }}</label>#}
                        {% else %}
{#                            {% field.help_text|safe as help_text%}#}
                            {% render_field field class+="form-control" placeholder=field.help_text %}
                        {% endif %}
                    {% endblock %}
                    {% block errors %}
                        {% for error in field.errors %}
                            <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                        {% endfor %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}