{% extends 'dashboard/include/base_modal.html' %}
{% load i18n %}
{% block modal_id %}modal-id{% endblock %}
{% block modal_title %}Выберите seller{% endblock %}
{% block modal_body %}
    <div class="form-group">
        <label>Seller</label>
        <select class="form-control select2" name="value[]" multiple="multiple" data-placeholder="Select a seller"
                style="width: 100%;">
            {% for seller in sellers %}
                <option>{{ seller }}</option>
            {% endfor %}

        </select>
    </div>
    <form method="post" class="form-horizontal" action="{% url 'add_seller' object.pk %}">
        {% csrf_token %}
        {% include 'dashboard/include/form_fields.html' %}
        <div class="box-footer">
            <button type="submit" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-info pull-right">{% trans "Save" %}</button>
        </div>
    </form>

    {#    <form action="/your-name/" method="post">#}
    {#        {% csrf_token %}#}
    {#        {{ form }}#}
    {#        <input type="submit" value="Submit"/>#}
    {#    </form>#}
{% endblock %}
