{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{% static 'adminlte/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    {#    <!-- Select2 -->#}
    <link rel="stylesheet" href='{% static  "adminlte/plugins/select2/select2.min.css" %}'>
    {#    <!-- Theme style -->#}
    <link rel="stylesheet" href={% static  "adminlte/dist/css/AdminLTE.min.css" %}>

    <link rel="stylesheet" href={% static "adminlte/dist/css/skins/skin-blue.min.css" %}>
{% endblock css %}


{% block extra_css %}
{% endblock extra_css %}

{% block page %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block page_title %}
                <h1>
                    {{ object }}
                    <small>{% trans 'Добавление программ' %}</small>
                </h1>
            {% endblock page_title %}
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i>{% trans 'Home' %}</a></li>
                <li><a href='{% url "mysite_list" %}'>{% trans 'My sites' %}</a></li>
                <li><a href='{% url "mysite" object.pk %}'>{{ object }}</a></li>
                <li class="active">{% trans 'Добавление программ' %}</li>
            </ol>
        </section>
        <section class="content">
            {% block content_page %}
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ object }}</h3>
                    </div>

                    {#                    <div class="form-group">#}
                    {#                    <form method="post">#}
                    {#                        <label>Seller</label>#}
                    {#                        <select class="form-control select2" name="value[]" multiple="multiple"#}
                    {#                                data-placeholder="Select a seller"#}
                    {#                                style="width: 100%;">#}
                    {#                            {% for seller in sellers %}#}
                    {#                                <option>{{ seller }}</option>#}
                    {#                            {% endfor %}#}
                    {##}
                    {#                        </select>#}
                    {#                    <button type="submit" class="btn btn-info pull-right">{% trans "Save" %}</button>#}
                    {#                    </form>#}
                    {#                    </div>#}
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        {% include 'dashboard/include/form_fields.html' %}
                        <button type="submit" class="btn btn-info pull-right">{% trans "Save" %}</button>
                    </form>
                </div>
                <!-- /.box -->
            {% endblock content_page %}
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}

{% block script %}
    <!-- jQuery 3.1.1 -->
    <script src='{% static  "adminlte/plugins/jQuery/jquery-3.1.1.min.js" %}'></script>
    <!-- Bootstrap 3.3.7 -->
    <script src='{% static  "adminlte/bootstrap/js/bootstrap.min.js" %}'></script>
    <!-- Select2 -->
    <script src='{% static  "adminlte/plugins/select2/select2.full.min.js" %}'></script>
    <!-- FastClick -->
    <script src='{% static  "adminlte/plugins/fastclick/fastclick.js" %}'></script>
    <!-- AdminLTE App -->
    <script src='{% static  "adminlte/dist/js/adminlte.min.js" %}'></script>
    <!-- AdminLTE for demo purposes -->
    {#<script src='{% static  "adminlte/dist/js/demo.js" %}'></script>#}
{% endblock script %}

{% block extra_script %}
    <script src='{% static "adminlte/crm_base.js" %}'></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>
{% endblock extra_script %}