{% extends "dashboard/base.html" %}
{% load i18n %}
{% load goto_url %}

{#{% load bootstrap %}#}
{% load staticfiles %}

{% block title %}{% trans 'Мои сайты' %}{% endblock %}

{% block page_title %}{% trans 'Управление доменами' %}{% endblock page_title %}
{% block extra_css %}

    <link rel="stylesheet" href={% static "adminlte/plugins/datatables/dataTables.bootstrap.css" %}>

{% endblock extra_css %}

{% block content %}

    <div class="box">
        <div class="box-header">
            <div class="text-right">
                {#                <a href="#">#}
                {#                    <button type="button" class="btn btn-success">{% trans 'Добавить домен' %}</button>#}
                {#                </a>#}

                <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
                    {% trans 'Как добавить домен' %}
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">{% trans "Как добавить домен." %}</h4>
                        </div>
                        <div class="modal-body">
                            Чтобы добавить домен, вам необходимо настроить записи DNS для домена. Как это сделать для
                            доменов зарегистрированных в компании <a href='{% goto_url "https://www.reg.ru/?rlink=reflink-12537" %}'>reg.ru</a>
                            <b><a href='{% goto_url "https://www.reg.ru/support/domains/dns_servery_i_nastroika_zony/Nastroika-zony/nastroika-resursnyh-zapisei-dlya-domena" %}'>Настройка ресурсных записей DNS для домена</a></b>
                            <p>
                            1. Вам необходимо добавить запись «A» со следующими значениям «@» для поля Subdomain,
                            «5.178.85.143» для поля IP Adress.</p>
                            <p>2. Добавить запись TXT со следующими значениям «@» для поля Subdomain, <b>{{ verification_code }}</b> для
                            поля Text.</p>
                            <p>3. Дождаться пока обновятся записи у DNS серверов (на это уходит от 15 минут до 48 часов).</p>
                            <p>4. Если вы смогли открыть свой сайт и увидели страницу с поздравлением, значит вы сделали
                            все верно.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                            {#                                <button type="button" class="btn btn-primary">Save changes</button>#}
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="api" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{% trans 'domain' %}</th>
                    <th>{% trans 'template' %}</th>
                    <th>{% trans 'verify_admitad' %}</th>
                    <th>{% trans 'verify_yandex' %}</th>
                    {#                    <th>{% trans 'admitad_website' %}</th>#}
                    {#                    <th>{% trans 'Expire Date' %}</th>#}
                    <th>{% trans 'Action' %}</th>

                </thead>
                <tbody>

                {% for mysite in mysite_list %}
                    <tr>
                        <td>{{ mysite.site.domain }}</td>
                        <td>{{ mysite.template }}</td>
                        <td>{{ mysite.verify_admitad }}</td>
                        <td>{{ mysite.verify_yandex }}</td>
                        {#                        <td>{{ mysite.get_admitad_website }}</td>#}
                        {#                        <td>{{ mysite.expire|date|default:"unlimited" }}</td>#}
                        <td>
                            <a href="{% url 'mysite' mysite.pk %}">
                                <button type="button" class="btn btn-success"
                                        data-toggle="tooltip" data-placement="top" title="Подробнее"><span
                                        class="fa fa-edit"></span></button>
                            </a>
                            <a href="{% url 'mysite_delete' mysite.pk %}">
                                <button type="button" class="btn btn-danger"
                                        data-toggle="tooltip" data-placement="top" title="Удалить"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->



{% endblock content %}

{% block extra_script %}
    <!-- DataTables -->
    <script src={% static "adminlte/plugins/datatables/jquery.dataTables.min.js" %}></script>
    <script src={% static "adminlte/plugins/datatables/dataTables.bootstrap.min.js" %}></script>
    <!-- SlimScroll -->
    <script src={% static "adminlte/plugins/slimScroll/jquery.slimscroll.min.js" %}></script>
    <!-- FastClick -->
    <script src={% static "adminlte/plugins/fastclick/fastclick.min.js" %}></script>
    <!-- AdminLTE App -->
    <script src={% static "adminlte/dist/js/app.min.js" %}></script>
    <!-- AdminLTE for demo purposes -->
    <script src={% static "adminlte/dist/js/demo.js" %}></script>

    {% verbatim %}
    <script>
        $(function () {
            $("#api").DataTable(
                {
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                }
            );

        });
    </script>
    {% endverbatim %}

{% endblock extra_script %}