{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load deeplink_lot %}
{% block css %}
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{% static 'adminlte/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {#    <!-- daterange picker -->#}
    {#    <link rel="stylesheet" href='{% static  "adminlte/plugins/daterangepicker/daterangepicker.css" %}'>#}
    {#    <!-- bootstrap datepicker -->#}
    {#    <link rel="stylesheet" href='{% static  "adminlte/plugins/datepicker/datepicker3.css" %}'>#}
    {#    <!-- iCheck for checkboxes and radio inputs -->#}
    {#    <link rel="stylesheet" href='{% static  "adminlte/plugins/iCheck/all.css" %}'>#}
    {#    <!-- Bootstrap Color Picker -->#}
    {#    <link rel="stylesheet" href='{% static  "adminlte/plugins/colorpicker/bootstrap-colorpicker.min.css" %}'>#}
    {#    <!-- Bootstrap time Picker -->#}
    {#    <link rel="stylesheet" href='{% static  "adminlte/plugins/timepicker/bootstrap-timepicker.min.css" %}'>#}

    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">#}
    {#    <!-- Ionicons -->#}
    {#    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
    <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables/dataTables.bootstrap.css' %}">

    {#    <!-- Select2 -->#}
    <link rel="stylesheet" href='{% static  "adminlte/plugins/select2/select2.min.css" %}'>
    {#    <!-- Theme style -->#}
    <link rel="stylesheet" href={% static  "adminlte/dist/css/AdminLTE.min.css" %}>
    {#    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter#}
    {#          page. However, you can choose any other skin. Make sure you#}
    {#          apply the skin class to the body tag so the changes take effect.#}
    {#    -->#}
    <link rel="stylesheet" href={% static "adminlte/dist/css/skins/skin-blue.min.css" %}>
{% endblock css %}


{% block extra_css %}




{% endblock extra_css %}



{% block page %}

    {#    {% include 'dashboard/include/seller_add_dialog.html' %}#}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% block page_title %}
            <h1>
                Информация по сайту
                <small>{{ mysite }}</small>
            </h1>
        {% endblock page_title %}
        {#          <ol class="breadcrumb">#}
        {#            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
        {#            <li class="active">Here</li>#}
        {#          </ol>#}
    </section>

    <!-- Main content -->
    <section class="content">
    {% block content_page %}


        {% if not mysite.adm_website %}
            <div class="alert alert-warning">
                <strong>{% trans "Oops! We found some errors" %}</strong>
                {% trans "Сайт не зарегистрирован в системе Admitad. Возможно вы вручную зарегистрировали сайт." %}<br>
                {% trans "Нажмите кнопку 'Зарегистрировать' для регистрации сайта" %}<br>
                {% trans "Если вы не ввели API Ключ Admitad, вы будете перенаправлены на страницу ввода ключей" %}
                <a href="{% url 'mysite_validate_admitad' mysite.pk %}">
                    <button type="submit"
                            class="btn btn-success">{% trans 'Зарегистрировать' %}</button>
                </a>
            </div>
        {% elif not mysite.manual_verification %}
            <div class="alert alert-warning">
                <strong>{% trans "Oops! We found some errors" %}</strong>
                {% trans "Домен не проходил валидацию в Admitad. Нажмите на кнопку 'Валидация' для активации домена." %}<br>
                {% trans "Если вы не ввели API Ключ Admitad, вы будете перенаправлены на страницу ввода ключей" %}
                <a href="{% url 'mysite_validate_admitad' mysite.pk %}">
                    <button type="submit"
                            class="btn btn-success">{% trans 'Валидация' %}</button>
                </a>
            </div>
        {% endif %}



        <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <a href="{{ mysite.get_http_domain }}" target="_blank">{{ mysite }}</a>
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <strong><i class="fa fa-link margin-r-5"></i> {% trans 'Сайт' %}</strong>
                    <p class="text-muted">{{ mysite.name|default_if_none:'' }}</p>
                    <hr>

                    <strong><i class="fa fa-file margin-r-5"></i> {% trans 'Шаблон' %}</strong>
                    <p class="text-muted">{{ mysite.template|default_if_none:'' }}</p>
                    <hr>

                    <strong><i class="fa fa-font margin-r-5"></i> {% trans 'Код Адмитад' %}</strong>
                    <p class="text-muted">{{ mysite.verify_admitad|default_if_none:'' }}</p>
                    <hr>

                    <strong><i class="fa fa-y-combinator margin-r-5"></i> {% trans 'Код yandex' %}</strong>
                    <p class="text-muted">{{ mysite.verify_yandex|default_if_none:'' }}</p>
                    <hr>

                    <strong><i class="fa fa-google margin-r-5"></i> {% trans 'web property id google' %}
                    </strong>
                    <p class="text-muted">{{ mysite.web_property_id|default_if_none:'' }}</p>
                    <hr>

                    <strong><i class="fa fa-windows margin-r-5"></i> {% trans 'bing' %}</strong>
                    <p class="text-muted">{{ mysite.verify_bing|default_if_none:'' }}</p>
                    <hr>

                    <a href="{% url 'mysite_update' mysite.pk %}">
                        <button type="submit"
                                class="btn btn-primary btn-block pull-right">{% trans 'Изменить' %}</button>
                    </a>
                </div>


            </div>
        </div>

        <!-- /.col -->
        <div class="col-md-8">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#sellers_tab"
                                          data-toggle="tab">{% trans 'Товары каких программ показываем' %}</a>
                    </li>
                    <li><a href="#campaigns_tab" data-toggle="tab">{% trans 'Подключенные программы' %}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="sellers_tab">
                        <div class="box-body">
                            <table id="sellers" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>{% trans 'Название' %}</th>
                                    <th>{% trans 'Deeplink' %}</th>
                                    <th>{% trans 'Действия' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for seller in seller_all %}
                                    <tr>
                                        <td>{{ seller }}</td>
                                        <td>
                                            {% get_deeplink seller mysite as deeplink %}
                                            {% if not deeplink %}
                                                <span class="label label-danger">{% trans 'No' %}</span>
                                            {% else %}
                                                <span class="label label-success"
                                                      title="{{ deeplink }}">{% trans 'Yes' %}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{% url 'seller_delete' mysite.pk %}"
                                                   data-seller-id="{{ seller.id }}"
                                                   class="del_btn">
                                                    <button type="button" class="btn btn-danger"
                                                            data-toggle="tooltip" data-placement="top"
                                                            title="{% trans 'Удалить' %}"
                                                            data-original-title="Удалить">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="{% url 'add_seller' object.pk %}">
                                <button type="submit"
                                        class="btn btn-info pull-right">{% trans 'Добавить' %}</button>
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane" id="campaigns_tab">
                        <div class="box-body">
                            <table id="campaigns" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>{% trans 'Название' %}</th>
                                    <th>{% trans 'Сеть' %}</th>
                                    <th>{% trans 'Статус' %}</th>
                                    <th>{% trans 'Действия' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for campaign in campaigns %}
                                    <tr>
                                        <td>{{ campaign.adm_campaign }}</td>
                                        <td>Admitad</td>
                                        <td><span class='label
                                                {% if campaign.connection_status == 'declined' %}
                                                    label-danger
                                                    {% elif campaign.connection_status == 'active' %}
                                                    label-success
                                                    {% else %}
                                                    label-default
                                                {% endif %}'>{{ campaign.connection_status }}</span>
                                        </td>
                                        <td>-</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="{% url 'add_seller' object.pk %}">
                                <button type="submit"
                                        class="btn btn-info pull-right">{% trans 'Добавить' %}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endblock content_page %}
{#        </section>#}
</div>

{% endblock %}

{% block script %}
    <!-- jQuery 3.1.1 -->
    <script src='{% static  "adminlte/plugins/jQuery/jquery-3.1.1.min.js" %}'></script>
    <!-- Bootstrap 3.3.7 -->
    <script src='{% static  "adminlte/bootstrap/js/bootstrap.min.js" %}'></script>
    <!-- Select2 -->
    <script src='{% static  "adminlte/plugins/select2/select2.full.min.js" %}'></script>

    <!-- DataTables -->
    <script src='{% static  "adminlte/plugins/datatables/jquery.dataTables.min.js" %}'></script>
    <script src='{% static  "adminlte/plugins/datatables/dataTables.bootstrap.min.js" %}'></script>



    <!-- InputMask -->
    {#<script src='{% static  "adminlte/plugins/input-mask/jquery.inputmask.js" %}'></script>#}
    {#<script src='{% static  "adminlte/plugins/input-mask/jquery.inputmask.date.extensions.js" %}'></script>#}
    {#<script src='{% static  "adminlte/plugins/input-mask/jquery.inputmask.extensions.js" %}'></script>#}
    <!-- date-range-picker -->
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>#}
    {#<script src='{% static  "adminlte/plugins/daterangepicker/daterangepicker.js" %}'></script>#}
    <!-- bootstrap datepicker -->
    {#<script src='{% static  "adminlte/plugins/datepicker/bootstrap-datepicker.js" %}'></script>#}
    {#<!-- bootstrap color picker -->#}
    {#<script src='{% static  "adminlte/plugins/colorpicker/bootstrap-colorpicker.min.js" %}'></script>#}
    {#<!-- bootstrap time picker -->#}
    {#<script src='{% static  "adminlte/plugins/timepicker/bootstrap-timepicker.min.js" %}'></script>#}
    <!-- SlimScroll 1.3.0 -->
    <script src='{% static  "adminlte/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
    <!-- iCheck 1.0.1 -->
    {#<script src='{% static  "adminlte/plugins/iCheck/icheck.min.js" %}'></script>#}
    <!-- FastClick -->
    <script src='{% static  "adminlte/plugins/fastclick/fastclick.js" %}'></script>
    <!-- AdminLTE App -->
    <script src='{% static  "adminlte/dist/js/adminlte.min.js" %}'></script>
    <!-- AdminLTE for demo purposes -->
    {#<script src='{% static  "adminlte/dist/js/demo.js" %}'></script>#}
{% endblock script %}

{% block extra_script %}
    <script src='{% static "adminlte/crm_base.js" %}'></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>
    <!-- page script -->
    <script>
        $(function () {
            $("#sellers").DataTable({
                "paging": false,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": false,
                "autoWidth": true
            });
            $("#campaigns").DataTable({
                "paging": false,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": false,
                "autoWidth": true
            });
        });
    </script>
{% endblock extra_script %}