{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Удаление сайта' %}{% endblock %}

{% block page_title %}{% trans 'Удаление сайта' %}{% endblock page_title %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}

    <div class="box">
        {#        <div class="box-header">#}
        {#            <div class="text-right">#}
        {#                <a href="#">#}
        {#                    <button type="button" class="btn btn-success">{% trans 'Добавить шаблон' %}</button>#}
        {#                </a>#}
        {#            </div>#}
        {#        </div><!-- /.box-header -->#}
        <div class="box-body">
            <div class="callout callout-danger">
                <h4>Вы уверенны что хотите удалить сайт {{ object }}?</h4>

                <p> После нажатия на кнопку удалить будут удалены все настройки данного сайта. Вы не сможете отменить в случае ошибки.
                    Если вы передумали, покиньте данную страницу!</p>
            </div>


            <div class="row">
                <div class="col-md-6 text-left">
                    <a href="{% url 'mysite_list' %}">
                        <button type="button" class="btn btn-success">{% trans 'Отмена' %}</button>
                    </a>
                </div>
                <div class="col-md-6 text-right">
                    <form action="{% url "mysite_delete" object.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">{% trans 'Удалить' %}</button>
                    </form>
                </div>

            </div>
        </div><!-- /.box-body -->
    </div><!-- /.box -->



{% endblock content %}

{% block extra_script %}

    <!-- SlimScroll -->
    <script src={% static "adminlte/plugins/slimScroll/jquery.slimscroll.min.js" %}></script>
    <!-- FastClick -->
    <script src={% static "adminlte/plugins/fastclick/fastclick.min.js" %}></script>
    <!-- AdminLTE App -->
    <script src={% static "adminlte/dist/js/app.min.js" %}></script>


{% endblock extra_script %}