{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block page_title %}
                <h1>
                    {{ object }}
                    <small>Редактирование</small>
                </h1>
            {% endblock page_title %}
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>
        <section class="content">
            {% block content_page %}

                {{ object }}
                {{ form.as_p }}
                 <button type="submit" class="btn btn-info pull-right">Сохранить</button>
                {#                <button type="submit" class="btn btn-info pull-right">Сохранить</button>#}

{#                <div class="box box-info">#}
{#                    <div class="box-header with-border">#}
{#                        <h3 class="box-title">{{ object }}</h3>#}
{#                    </div>#}
{#                    {% if form.is_bound and not form.is_valid %}#}
{#                        <div class="alert alert-danger">#}
{#                            <strong>{% trans "Oops! We found some errors" %}</strong>#}
{#                            - {% trans "please check the error messages below and try again" %}#}
{#                        </div>#}
{#                    {% endif %}#}
{##}
{#                    {% if form.non_field_errors %}#}
{#                        {% for error in form.non_field_errors %}#}
{#                            <div class="alert alert-danger">#}
{#                                <i class="icon-exclamation-sign"></i> {{ error }}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                    <!-- /.box-header -->#}
{#                    <!-- form start -->#}
{#                    <form class="form-horizontal" method="post" action="{% url 'mysite_update' object.pk %}">#}
{#                        {% csrf_token %}#}
{#                        {{ form.non_field_errors }}#}
{##}
{#                        <div class="box-body">#}
{#                            <div class="form-group">#}
{#                                <label for="id_verify_admitad" class="col-sm-2 control-label">Верификационный код#}
{#                                    Адмитад:</label>#}
{##}
{#                                <div class="col-sm-10">#}
{#                                    {{ form.verify_admitad.errors }}#}
{#                                    <input type="text" class="form-control" id="id_verify_admitad"#}
{#                                           placeholder="Верификационный код Адмитад"#}
{#                                           value="{{ form.verify_admitad.field.value }}"#}
{#                                           maxlength="255">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label for="verify_yandex" class="col-sm-2 control-label">Код подтверждения#}
{#                                    Yandex</label>#}
{##}
{#                                <div class="col-sm-10">#}
{#                                    {{ form.verify_yandex.errors }}#}
{#                                    <input type="text" class="form-control" id="verify_yandex" maxlength="255"#}
{#                                           placeholder="Код подтверждения yandex"#}
{#                                           value="{{ form.verify_yandex.field.value }}">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label for="id_web_property_id" class="col-sm-2 control-label">Web property id#}
{#                                    google</label>#}
{##}
{#                                <div class="col-sm-10">#}
{#                                    {{ form.web_property_id.errors }}#}
{#                                    <input type="text" class="form-control" id="id_web_property_id" maxlength="255"#}
{#                                           placeholder="Web property id google"#}
{#                                           value="{{ form.web_property_id.field.value }}">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{##}
{#                                <label for="id_template" class="col-sm-2 control-label">Шаблон</label>#}
{##}
{#                                <div class="col-sm-10">#}
{#                                    {{ form.template.errors }}#}
{#                                    <select class="form-control select2" name="template" required id="id_template">#}
                                        {#                                    <option selected="selected">Alabama</option>#}
{#                                        {% for template in form.template %}#}
{#                                            <option {% if template == object.template %}selected="selected"{% endif %}>{{ template }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                        <!-- /.box-body -->#}
{#                        <div class="box-footer">#}
                            {#                            <button type="submit" class="btn btn-default">Cancel</button>#}
{#                            <button type="submit" class="btn btn-info pull-right">Сохранить</button>#}
{#                        </div>#}
{#                        <!-- /.box-footer -->#}
{#                    </form>#}
{#                </div>#}
{#                <!-- /.box -->#}

                <!-- Your Page Content Here -->
            {% endblock content_page %}
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}